<alo-breadcrumb *aloPageHeaderContent>
  <ng-template aloBreadcrumbItem>
    <a [routerLink]="['../']">{{ 'artifact_repository' | translate }}</a>
  </ng-template>
  <ng-template aloBreadcrumbItem>
    <span>{{ (repo$ | async)?.image }}</span>
  </ng-template>
</alo-breadcrumb>

<aui-card>
  <div class="list-card-header">
    <div>
      <ng-container *ngIf="repo$ | async">
        <img
          class="header-icon"
          src="assets/icons/tool-chain/list/docker.svg"
        >
        <span class="header-text">{{ (repo$ | async).image }}</span>
        <img
          class="header-icon"
          src="assets/icons/tool-chain/list/tag-docker.svg"
        >
        <span class="header-text">{{ (repo$ | async).tags.length }}</span>
      </ng-container>
    </div>
    <aui-search
      [placeholder]="'registry.filter_by_repo_version' | translate"
      (keywordChange)="keyword$$.next($event)"
    ></aui-search>
  </div>
  <alo-iamge-tag-list [tags]="tags$ | async"></alo-iamge-tag-list>
  <div
    *ngIf="!(repo$ | async)?.tags.length"
    class="table-placeholder"
  >
    {{ (loading ? 'loading' : 'no_data') | translate }}
  </div>
</aui-card>
