.base {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .info {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .name {
      font-size: 16px;
      font-weight: 600;
    }
  }
  .status {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    a {
      line-height: 18px;
    }
  }
}

.containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px -6px -6px -6px;
  & > alo-container {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 6px;
    border: solid 1px #ededed;
    background-color: #fafafa;
    margin-bottom: 5px;
  }
  &:last-child {
    &:not(:nth-child(odd))::after {
      content: '';
      flex-basis: 100%;
      flex-grow: 1;
    }
  }
}
