@import 'variables';

:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  ::ng-deep {
    .aui-card {
      margin-bottom: 75px;
      .aui-card__header {
        display: flex;
      }
      alo-k8s-resource-icon {
        margin-right: 8px;
      }
    }
  }

  .no-data {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: #666;
    background-color: white;
  }

  .mutate-buttons {
    position: fixed;
    z-index: 2;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 12px 20px;
    background-color: #ffffff;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .yaml-preview {
      width: 140px;
      margin-left: 200px;
    }
  }
}
