<aui-card *ngIf="!isMulti">
  <div auiCardHeader>
    <alo-k8s-resource-icon [resourceKind]="'container'"></alo-k8s-resource-icon>
    {{ containerName }}
  </div>
  <div class="alo-single-container">
    <alo-container-update-form [container]="selectedContainer" [volumeInfo]="selectedVolume"
      [params]="containerParams" #updateForm></alo-container-update-form>
    <div *ngIf="!selectedContainer" class="no-data">
      <span>{{ 'loading' | translate }}</span>
    </div>
  </div>
</aui-card>

<div class="mutate-buttons">
  <div class="yaml-preview">
    <button aui-button="primary" [plain]="true" (click)="previewYaml()">
      {{ 'preview_yaml' | translate }}
    </button>
  </div>
  <div>
    <button aui-button="primary" [disabled]="!selectedContainer || !updateForm?.vilidate()"
      (click)="save()">{{ 'update' | translate}}</button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</div>
