@import 'variables';
.environment-container {
  width: 100%;
  background-color: $white-200;
}

.size-container {
  background-color: $white-200;
  width: 100%;
}

.volume-container {
  width: 100%;
}
