.unbinding {
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  flex-direction: column;
  mat-icon {
    height: 40px;
    width: 60px;
  }
  &-tip {
    margin-top: 8px;
  }
}
.component-icons {
  .mat-icon {
    margin-right: 4px;
    width: 22px;
  }
}

.component-icon {
  &-primary {
    background-color: mix(#009ce3, #fff, 5%);
    &:hover {
      background-color: mix(#009ce3, #fff, 20%);
    }
  }
  &-success {
    background-color: mix(#1bb393, #fff, 5%);
    &:hover {
      background-color: mix(#1bb393, #fff, 20%);
    }
  }
  &-error {
    background-color: mix(#eb6262, #fff, 5%);
    &:hover {
      background-color: mix(#eb6262, #fff, 20%);
    }
  }
}
