<alo-card>
  <alo-card-section type="detail">
    <div aloCardSectionHeader class="base-header">
      {{ 'asf.microservice_environment' | translate }}
      <!-- <button
        aui-button
        *ngIf="binding"
        (click)="unbind()"
      >{{ 'microservice_environments.unbind' | translate }}</button> -->
      <div *ngIf="binding">
        <alo-menu-trigger [menu]="actionsMenu"></alo-menu-trigger>
        <aui-menu #actionsMenu>
          <aui-menu-item 
            (click)="unbind()"
            type="danger">
            {{ 'microservice_environments.unbind' | translate }}
          </aui-menu-item>
        </aui-menu>
      </div>
    </div>
    <!-- bound -->
    <div aloCardSectionBody class="base-body" *ngIf="binding">
      <div class="field">
        <label>{{ 'name' | translate }}</label>
        <span>
          <a [routerLink]="['/admin/asf/microservice-environments', detail?.objectMeta.name]">{{ detail?.objectMeta.name }}</a>
        </span>
      </div>
      <div class="field">
        <label>{{ 'create_at' | translate }}</label>
        <span>{{ detail?.objectMeta.creationTimestamp | aloTime }}</span>
      </div>
      <div class="field">
        <label>{{ 'display_name' | translate }}</label>
        <span>{{ detail?.objectMeta.annotations['alauda.io/displayName'] || '-' }}</span>
      </div>
      <div class="field">
        <label>{{ 'description' | translate }}</label>
        <span>{{ detail?.objectMeta.annotations['alauda.io/description'] || '-' }}</span>
      </div>
      <div class="field full">
        <label>{{ 'asf.components' | translate }}</label>
        <span class="component-icons">
          <ng-container *ngFor="let ref of detail?.spec.microserviceComponentRefs">
            <mat-icon [ngClass]="'component-icon-' + statusIconMap[ref.status]" [svgIcon]="getIconName(ref)"
              (mouseover)="selectedRef = ref" *ngIf="!['UnCreate', 'Created'].includes(ref.status)"
              [auiTooltip]="logoTooltip">
            </mat-icon>
          </ng-container>
        </span>
      </div>
    </div>
    <!-- unbinding -->
    <div class="unbinding" aloCardSectionBody *ngIf="!binding">
      <mat-icon svgIcon="microservice-environment-empty"></mat-icon>
      <div class="unbinding-tip">
        {{ 'microservice_environments.unbinding_tip_prefix' | translate }}
        <button 
          aui-button="text"
          size="small"
          (click)="bind()">
          {{ 'microservice_environments.bind' | translate }}
        </button>
        {{ 'microservice_environments.unbinding_tip_suffix' | translate }}
      </div>
    </div>
  </alo-card-section>
</alo-card>

<ng-template #logoTooltip>
  <div>{{ selectedRef?.name }}</div>
  <div>{{ selectedRef?.status }}</div>
</ng-template>
