<div *aloPageHeaderContent class="page-header">
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../../../']">{{ 'applications.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../../']">{{ (identity$ | async).name }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ (identity$ | async).resourceName }}
      </span>
    </ng-template>
  </alo-breadcrumb>
  <button aui-button="primary" [plain]="true" [size]="size" [auiDropdown]="actions"
    [disabled]="!detailComp?.ready">
    {{ 'action' | translate }}
    <aui-icon icon="angle_down" margin="left"></aui-icon>
  </button>
</div>
<aui-menu #actions>
  <aui-menu-item (click)="updateByYaml()">{{ 'update' | translate }}</aui-menu-item>
</aui-menu>
<ng-container *aloAsyncData="
  let resourceDetail;
  let error = error;
  let loading = loading;
  let refresh = refetch;
  handler: fetchResource;
  params: identity$ | async;
  pullIn: 10 * 1000;">
  <alo-k8s-resource-detail #detailRef [params]="identity$ | async" [data]="resourceDetail"
    (updated)="refresh()">
  </alo-k8s-resource-detail>
</ng-container>
