<aui-table
  [dataSource]="tags"
  [trackBy]="trackByName"
>

  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'registry.version' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let tag">
      <div>
        <img
          class="tag-icon"
          src="assets/icons/tool-chain/list/tag-docker.svg"
        >
        <span>{{ tag.name }}</span>
        <aui-icon
          class="copy-icon"
          margin="left"
          icon="copy"
          [auiTooltipCopy]="tag.name"
        >
        </aui-icon>
      </div>
      <div class="update-at">
        {{ 'registry.updated_at' | translate }} {{ tag.createdAt | aloRelativeTime }}
      </div>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="digest">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'registry.digest' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let tag">
      <aui-icon
        class="copy-icon"
        margin="left"
        icon="copy"
        [auiTooltipCopy]="tag.digest"
      >
      </aui-icon>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="['name','digest']"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row;columns: ['name','digest']"></aui-table-row>
</aui-table>
