.tag-icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.update-at {
  margin-left: 32px;
  font-size: 12px;
  color: #999999;
}

.copy-icon {
  color: #999999;
  cursor: pointer;
}

:host::ng-deep {
  .aui-table__column-digest {
    max-width: 68px;
  }
}
