<div class="alo-tool-type-bar">
    <button
        class="alo-tool-type-bar__label"
        [class.isSelected]="'all' === selectedType"
        (click)="handleLabelClicked('all')"
    >
    <span>{{ 'all' | translate }}</span>
    <span *ngIf="resources"> ( {{ resources.length }} )</span></button>
    <button
        class="alo-tool-type-bar__label"
        *ngFor="let type of (types$ | async)"
        [class.isSelected]="type.name === selectedType"
        [disabled]="resources && !getResourcesCount(type)"
        (click)="handleLabelClicked(type.name)"
    >
    <span>{{ type.displayName }}</span>
    <span *ngIf="resources"> ( {{ getResourcesCount(type) }} )</span>
    </button>
</div>
