:host {
  display: block;
}

.toolbar {
  .switch-projects {
    display: flex;
    color: #fff;
    font-size: 18px;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    aui-icon {
      margin-left: 8px;
    }
  }
  .flex-space {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
