<aui-layout>
  <alo-logo *auiNavDrawerHeader class="logo">
  </alo-logo>
  <aui-nav *auiNavDrawerContent>
    <ng-container *ngFor="let item of config">
      <aui-nav-item
        *ngIf="item.enabled"
        [routerLink]="item.routerLink"
        routerLinkActive
        #rla="routerLinkActive"
        (click)="onNavItemClick(item)"
        [expanded]="item.expanded"
        [active]="(rla.isActive && !item.items && item.routerLink) || item.expanded"
      >
        <div class="nav-item-content">
          <div class="nav-item-content__icon">
            <aui-icon [icon]="'basic:' + item.icon"></aui-icon>
          </div>
          <div class="nav-item-content__label">
            {{ item.label | translate }}
          </div>
        </div>
        <ng-container *ngIf="item.items">
          <ng-container *auiNavItemExt>
            <ng-container *ngFor="let subItem of item.items">
              <aui-nav-item
                *ngIf="subItem.enabled"
                routerLinkActive
                [routerLink]="subItem.routerLink"
                #subRla="routerLinkActive"
                [active]="subRla.isActive && subItem.routerLink"
              >
                <div class="nav-item-content">
                  <div class="nav-item-content__icon">
                  </div>
                  <div class="nav-item-content__label">
                    {{ subItem.label | translate }}
                  </div>
                </div>
              </aui-nav-item>
            </ng-container>
          </ng-container>
        </ng-container>
      </aui-nav-item>
    </ng-container>
  </aui-nav>
  <div *auiToolbarContent class="toolbar">
    <a
      class="switch-projects"
      href="javascript:void(0)"
      [auiDropdown]="projectsMenu"
    >
      {{ currentProject$ | async }}<aui-icon icon="caret_down_s" size="16px"></aui-icon>
    </a>
    <div class="flex-space"></div>
    <alo-global-actions></alo-global-actions>
  </div>
  <div *auiPageHeader>
    <ng-container *cdkPortalOutlet="pageHeaderContentTemplate$ | async"></ng-container>
    <div class="global-loader" [class.loading]="showLoadingBar$ | async"></div>
  </div>
  <div *auiPageContent class="layout-page-content" [@routerTransition]="getPage(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</aui-layout>

<aui-menu #projectsMenu>
  <aui-menu-item
    *ngFor="let item of projects.items$ | async"
    [routerLink]="['/workspace', item.name]"
  >
    <span>{{ item.name }}</span>
    <span *ngIf="item.displayName">({{ item.displayName }})</span>
  </aui-menu-item>
  <aui-menu-item
    routerLink="/home/projects"
  >
    {{ 'all_projects' | translate }}
  </aui-menu-item>
</aui-menu>
