<alo-card>
  <alo-card-section type="detail">
    <div
      aloCardSectionHeader
      class="basic-header"
    >
      <span>{{ 'base_info' | translate }}</span>
    </div>
    <div
      aloCardSectionBody
      class="basic-body"
    >
      <div class="field">
        <label>{{ 'pipeline.name' | translate }}</label>
        <span>{{ pipeline?.name || '-' }}</span>
      </div>
      <div class="field">
        <label>{{ 'create_mode' | translate }}</label>
        <span>
          {{ ('pipeline.created_by_script' | translate) || '-' }}
        </span>
      </div>
      <div class="field">
        <label>{{ 'display_name' | translate }}</label>
        <span>{{ pipeline?.displayName || '-'}}</span>
      </div>
      <div class="field">
        <label>{{ 'create_at' | translate }}</label>
        <span>{{ pipeline?.createdAt | aloTime }}</span>
      </div>
      <div class="field">
        <label>{{ 'jenkins_instance' | translate }}</label>
        <span>{{ pipeline?.jenkinsInstance || '-' }}</span>
      </div>
      <div class="field">
        <label>{{ 'pipeline_trigger' | translate }}</label>
        <span>
          <aui-icon
            *ngFor="let trigger of pipeline?.triggers"
            [icon]="mapTriggerIcon(trigger.type)"
            [class.isEnabled]="trigger.enabled"
            auiTooltip="{{(trigger.enabled ? 'enabled' : 'not_enabled')|translate}}
            {{mapTriggerTranslateKey(trigger.type)|translate}}
            {{'pipeline_trigger'|translate}}
            {{'pipeline.trigger_rules'|translate}}
            {{trigger.rule|translate}}"
          ></aui-icon>
        </span>
      </div>
      <div class="field">
        <label>
          {{ 'pipeline.belongs_application' | translate }}
        </label>
        <a
          *ngIf="pipeline?.application"
          [routerLink]="['/workspace',pipeline.namespace,'applications',pipeline.application]"
        >
          {{ pipeline?.application }}
        </a>
        <span *ngIf="!pipeline?.application">-</span>
      </div>
    </div>
  </alo-card-section>
</alo-card>
