<div class="mscomp">
  <div class="mscomp-side">
    <div class="mscomp-status-icon">
      <span class="check-icon" [ngClass]="{'actived': expanded || currentStatus === statusMap.Pending}"
        *ngIf="[statusMap.UnCreate, statusMap.Pending].includes(currentStatus)">
        <aui-icon icon="check_s"></aui-icon>
      </span>
      <aui-icon icon="check_circle_s" class="success" size="24px" *ngIf="[statusMap.Running, statusMap.Stopped].includes(currentStatus)">
      </aui-icon>
      <aui-icon icon="basic:sync_circle_s" class="actived installing" size="24px" *ngIf="currentStatus === statusMap.Installing">
      </aui-icon>
      <aui-icon icon="exclamation_circle_s" class="error" size="24px" *ngIf="currentStatus === statusMap.Failed">
      </aui-icon>
    </div>
    <div class="mscomp-side-line"></div>
  </div>
  <div class="mscomp-content">
    <div class="mscomp-header">
      <span class="mscomp-display-name">{{ name }}</span>
      <span class="mscomp-description">{{ ('microservice_environments.' + name) | translate }}</span>
      <aui-icon *ngIf="showCopy()"
        class="mscomp-copy-hostpath"
        [auiTooltipCopy]="ref?.hostpath"
        [auiTooltipCopyTip]="copyText"
        icon="basic:link_copy">
      </aui-icon>
      <div class="mscomp-flex-right">
        <button 
          aui-button="text"
          [disabled]="!actived"
          (click)="expand()"
          *ngIf="type === 'extension' && !expanded && !installed"
          size="small">
          {{ 'asf.install' | translate }}
          <aui-icon icon="angle_down"></aui-icon>
        </button>
        <div class="mscomp-pods" *ngIf="installed">
          <alo-pods-status [pods]="podsInfo" [tooltipTpl]="podsInfoTpl">
          </alo-pods-status>
        </div>
        <!-- TODO: Enable operations -->
        <!-- <a 
          [matMenuTriggerFor]="menu"
          class="mscomp-actions"
          *ngIf="installed"
          href="javascript:void(0)">
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </a> -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="stop()" [disabled]="pending" *ngIf="!stopped">
            {{ 'asf.stop' | translate }}
          </button>
          <button mat-menu-item (click)="launch()" [disabled]="pending" *ngIf="stopped">
            {{ 'asf.launch' | translate }}
          </button>
          <button mat-menu-item (click)="update()" [disabled]="pending">
            {{ 'update' | translate }}
          </button>
        </mat-menu>
      </div>
    </div>
    <ng-container *ngIf="type === 'extension' ? expanded && actived : actived">
      <!-- uninstalled -->
      <div class="mscomp-install" *ngIf="[statusMap.UnCreate, statusMap.Created].includes(currentStatus) || (reinstall$ | async) && currentStatus === statusMap.Failed">
        <aui-code-editor [options]="editorOptions" [actionsConfig]="editorConfig" [originalValue]="component.chart.spec.values"
          [(ngModel)]="currentYaml">
        </aui-code-editor>
        <div class="mscomp-install-footer">
          <button aui-button="primary" (click)="install()">
            {{ 'asf.install' | translate }}
          </button>
          <div class="mscomp-flex-right">
            <button
              aui-button="text"
              *ngIf="type === 'extension'"
              size="small"
              (click)="expand()">
              {{ 'asf.cancel_install' | translate }}
              <aui-icon icon="angle_left"></aui-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- installing -->
      <div class="mscomp-installing" *ngIf="currentStatus === statusMap.Installing">
        {{ 'microservice_environments.installing_tip' | translate: {percent: percent} }}
        <div class="progress">
          <div class="progress-completed" [ngStyle]="{width: percent}"></div>
        </div>
      </div>
      <!-- failed -->
      <div class="mscomp-failed" *ngIf="currentStatus === statusMap.Failed && !(reinstall$ | async)">
        <div class="mscomp-conditions">
          <div class="mscomp-condition" *ngFor="let condition of component.microservicescomponent.status.conditions">
            <div class="mscomp-condition-status">
              <ng-container *ngIf="condition.status === 'False'">
                <aui-icon icon="exclamation_circle_s" class="error" size="16px">
                </aui-icon>
                <span>Fail: True</span>
              </ng-container>
              <ng-container *ngIf="condition.status === 'True'">
                <aui-icon icon="check_circle_s" class="success" size="16px">
                </aui-icon>
                <span>Fail: False</span>
              </ng-container>
            </div>
            <div class="mscomp-condition-reason">
              <span [ngClass]="{'success': condition.status === 'True'}"></span> {{ condition.reason }}</div>
            <div class="mscomp-condition-message">{{ condition.message }}</div>
          </div>
        </div>
        <div class="mscomp-install-footer">
          <button aui-button="primary" (click)="reinstall()">
            {{ 'asf.reinstall' | translate }}
          </button>
          <div class="mscomp-flex-right">
            <a href="javascript:void(0)">
              {{ 'microservice_environments.get_more_detail' | translate }}
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #podsInfoTpl>
  <ng-container *ngIf="currentStatus === 'stopped'">
    {{ 'microservice_environments.unstart' | translate }}
  </ng-container>
  <ng-container *ngIf="currentStatus !== 'stopped'">
    <div class="pods-info">
      <div>{{ 'microservice_environments.pod_total' | translate }}: {{ podsInfo.desired }}</div>
      <div class="pods-info-pending">{{ 'microservice_environments.pod_pending' | translate }}: {{ podsInfo.pending }}</div>
      <div class="pods-info-available">{{ 'microservice_environments.pod_available' | translate }}: {{ podsInfo.available }}</div>
      <div class="pods-info-unavailable">{{ 'microservice_environments.pod_unavailable' | translate }}: {{ podsInfo.unavailable }}</div>
    </div>
  </ng-container>
</ng-template>
