:host {
  min-height: 50px;
  display: block;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.check-icon {
  display: flex;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &.actived {
    color: #009ce3;
    border-color: #009ce3;
  }
}
aui-icon {
  &.success {
    color: #1bb393;
  }
  &.actived {
    color: #009ce3;
  }
  &.error {
    color: #eb6262;
  }
}
.mscomp {
  display: flex;
  min-height: 50px;
  &-flex-right {
    margin-left: auto;
    display: flex;
    .switch-link.disabled {
      &:link,
      &:hover,
      &:visited {
        color: #999;
        cursor: default;
      }
    }
  }
  &-side {
    width: 24px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-line {
      width: 1px;
      flex: 1;
      background-color: #d8d8d8;
      margin: 2px 0;
    }
  }
  &-status-icon {
    color: #ccc;
    height: 24px;
    .installing {
      ::ng-deep .aui-icon {
        animation: rotate 1.2s linear infinite;
      }
    }
  }
  &-pods {
    display: flex;
    align-items: center;
    &-bar {
      width: 100px;
      display: flex;
      height: 8px;
      background-color: #ccc;
      &-succ {
        background-color: #1bb393;
      }
      &-pending {
        background-color: #009ce3;
      }
      &-failed {
        background-color: #eb6262;
        margin-left: 1px;
      }
    }
    &-number {
      margin-left: 4px;
    }
  }
  &-actions {
    margin-left: 66px;
  }
  &-content {
    flex: 1;
    padding-bottom: 12px;
  }
  &-header {
    display: flex;
    align-items: baseline;
    height: 24px;
    margin-bottom: 12px;
  }
  &-display-name {
    font-size: 18px;
    margin-right: 16px;
  }
  &-description {
    color: #666;
  }
  &-copy-hostpath {
    margin-left: 4px;
    cursor: pointer;
    color: #999;
    &:hover {
      color: #0079b0;
    }
  }
  &-install {
    &-footer {
      display: flex;
      align-items: center;
      margin-top: 12px;
    }
  }

  &-installing {
    background-color: #fafafa;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #666;
    .progress {
      width: 374px;
      height: 8px;
      background-color: #e6e6e6;
      border-radius: 4px;
      margin-top: 8px;
      &-completed {
        width: 0;
        height: 8px;
        border-radius: 4px;
        background-color: #009ce3;
        transition: width ease 0.1s;
      }
    }
  }
  &-conditions {
    height: 300px;
    padding: 16px;
    background-color: #030303;
    color: #fff;
    overflow-y: auto;
  }
  &-condition {
    font-size: 12px;
    margin-bottom: 8px;
    &-status {
      display: flex;
      align-items: center;
      aui-icon {
        margin-right: 8px;
      }
      margin-bottom: 8px;
    }
    &-reason {
      margin-bottom: 8px;
      padding-left: 24px;
      display: flex;
      align-items: center;
      > span {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin-right: 4px;
        background-color: #eb6262;
      }
      > .success {
        background-color: #1bb393;
      }
    }
    &-message {
      padding-left: 24px;
    }
  }
}

div[class^='pods-info-'] {
  display: flex;
  align-items: center;
  &:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 4px;
  }
}

.pods-info {
  &-available {
    &:before {
      background-color: #1bb393;
    }
  }
  &-unavailable {
    &:before {
      background-color: #eb6262;
    }
  }
  &-pending {
    &:before {
      background-color: #009ce3;
    }
  }
}
