<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../']">{{ 'pipeline.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <ng-container [ngSwitch]="(param$ | async)?.method">
        <ng-container *ngSwitchCase="'jenkinsfile'">{{ 'pipeline.update' | translate }}</ng-container>
        <ng-container *ngSwitchCase="'template'">
          {{ 'pipeline.update' | translate }}
        </ng-container>
      </ng-container>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-card *aloAsyncData="let data;
  let loading = loading;
  handler: getPipelineConfig;
  params: param$ | async;">
  <alo-pipeline-update-container
    [name]="(param$ | async)?.name"
    [namespace]="(param$ | async)?.namespace"
    [pipelineConfig]="data"
    [loading]="loading"
  ></alo-pipeline-update-container>
</alo-card>
