<div
    *aloPageHeaderContent
    class="page-header"
>
    <alo-breadcrumb>
        <ng-template aloBreadcrumbItem>
            <a [routerLink]="['/admin/projects']">{{ 'projects.list' | translate }}</a>
        </ng-template>
        <ng-template aloBreadcrumbItem>
            <a [routerLink]="['/admin/projects', project$ | async]">
                {{ project$ | async }}
            </a>
        </ng-template>
    </alo-breadcrumb>
</div>
<div class="title">
    {{ 'bind' | translate }} Jenkins
</div>
<aui-card>
    <form
        #form="ngForm"
        auiForm
        auiFormLabelWidth="150px"
        [auiFormEmptyAddon]="true"
    >
        <aui-form-item>
            <label auiFormItemLabel>{{ 'name' | translate }}</label>
            <input
                aui-input
                auiFormItemControl
                #name="ngModel"
                [(ngModel)]="formData.name"
                name="name"
                required
                [maxLength]="30"
                pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
            >
            <div
                auiFormItemError
                *ngIf="name.errors?.required"
            >{{ 'required' | translate }}</div>
            <div
                auiFormItemError
                *ngIf="name.errors?.pattern"
            >{{ 'name_pattern' | translate}}</div>
        </aui-form-item>
        <aui-form-item>
            <label auiFormItemLabel>{{ 'description' | translate }}</label>
            <textarea
                aui-input
                auiFormItemControl
                name="description"
                [(ngModel)]="formData.description"
            ></textarea>
        </aui-form-item>
        <aui-form-item>
            <label auiFormItemLabel>{{ 'secret' | translate }}</label>
            <aui-select
                auiFormItemControl
                name="secret"
                #secret="ngModel"
                [(ngModel)]="formData.secret"
                required
            >
                <aui-option
                    *ngFor="let secret of secrets$ | async"
                    [value]="secret"
                >{{ secret }}</aui-option>
                <aui-option-placeholder>{{ 'projects.no_available_secrets' | translate }}</aui-option-placeholder>
            </aui-select>
            <button
                aui-button
                type="button"
                class="add-secret"
                (click)="addSecret()"
            >{{ 'projects.add_secret' | translate }}</button>
            <div
                auiFormItemError
                *ngIf="secret.errors?.required"
            >{{ 'required' | translate }}</div>
        </aui-form-item>
    </form>

    <div
        auiCardFooter
        class="actions"
    >
        <button
            aui-button="primary"
            [loading]="loading"
            [disabled]="loading"
            (click)="onSubmit()"
        >{{ 'binding_account' | translate }}</button>
        <button
            aui-button
            [disabled]="loading"
            (click)="cancel()"
        >{{ 'cancel' | translate }}</button>
    </div>
</aui-card>
