<aui-inline-alert type="error" *ngIf="!loading && !namespace && projects.length === 0">
  <span>{{ 'secret.create_no_projects' | translate }}</span>
</aui-inline-alert>
<aui-inline-alert type="error" *ngIf="model.ownerReferences.length">
  <span>{{ 'secret.used_with_codebinding' | translate }}</span>
</aui-inline-alert>
<form
  auiForm
  auiFormLabelWidth="120px"
  [auiFormEmptyAddon]="true"
  (ngSubmit)="save()"
  #form="ngForm"
  novalidate
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'secret.name' | translate }}</label>
    <input
      [type]="mode === 'create' ? 'text' : 'hidden'"
      auiFormItemControl
      name="name"
      #name="ngModel"
      aui-input
      required
      [maxLength]="30"
      pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
      [(ngModel)]="model.name"
    />
    <span
      *ngIf="mode !== 'create'"
      auiFormItemControl
    >
      {{ model.name }}
    </span>
    <div
      auiFormItemError
      *ngIf="name.errors?.required"
    >
      {{ 'required' | translate }}
    </div>
    <div
      auiFormItemError
      *ngIf="name.errors?.pattern"
    >
      {{ 'secret.name_pattern' | translate }}
    </div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input
      auiFormItemControl
      name="displayName"
      #displayName="ngModel"
      aui-input
      [(ngModel)]="model.displayName"
    />
  </aui-form-item>
  <aui-form-item *ngIf="!namespace">
    <label auiFormItemLabel>{{ 'secret.belongs_project' | translate }}</label>
    <aui-select
      auiFormItemControl
      name="namespace"
      #namespaceControl="ngModel"
      [(ngModel)]="model.namespace"
      [disabled]="!projects.length"
      [placeholder]="(projects.length ? 'secret.please_select_project' : 'secret.no_projects') | translate"
  
      required
    >
      <aui-option
        *ngFor="let project of projects"
        [value]="project.name"
      >
        <span>{{ project.name }}</span>
        <span *ngIf="project.displayName">({{ project.displayName }})</span>
      </aui-option>
    </aui-select>
    <div
      auiFormItemError
      *ngIf="namespaceControl.errors?.required"
    >
      {{ 'required' | translate }}
    </div>
  </aui-form-item>
  <aui-form-item *ngIf="namespace">
    <label auiFormItemLabel>{{ 'secret.belongs_project' | translate }}</label>
    <span auiFormItemControl>
      <span>{{ namespace }}</span>
      <span *ngIf="belongsProject?.displayName">({{ belongsProject.displayName }})</span>
    </span>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'description' | translate }}</label>
    <textarea
      auiFormItemControl
      name="description"
      #displayName="ngModel"
      aui-input
      [(ngModel)]="model.description"
    ></textarea>
  </aui-form-item>
  <aui-form-item *ngIf="mode === 'create'">
    <label auiFormItemLabel>{{ 'type' | translate }}</label>
    <aui-radio-group
      auiFormItemControl
      name="type"
      [(ngModel)]="model.type"
    >
      <aui-radio-button
        [value]="SecretTypes.basicAuth"
        *ngIf="types.includes(SecretTypes.basicAuth)"
      >
        {{ 'secret.basic_auth' | translate }}
      </aui-radio-button>
      <aui-radio-button
        [value]="SecretTypes.oauth2"
        *ngIf="types.includes(SecretTypes.oauth2)"
      >
        {{ 'secret.oauth2' | translate }}
      </aui-radio-button>
      <aui-radio-button
        [value]="SecretTypes.opaque"
        *ngIf="types.includes(SecretTypes.opaque)"
      >
        {{ 'secret.opaque' | translate }}
      </aui-radio-button>
      <aui-radio-button
        [value]="SecretTypes.dockerConfig"
        *ngIf="types.includes(SecretTypes.dockerConfig)"
      >
        {{ 'secret.docker_config' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item *ngIf="mode !== 'create'">
    <label auiFormItemLabel>{{ 'type' | translate }}</label>
    <span auiFormItemControl>
      <ng-container [ngSwitch]="model.type">
        <ng-container *ngSwitchCase="SecretTypes.basicAuth">
          {{ 'secret.basic_auth' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="SecretTypes.oauth2">
          {{ 'secret.oauth2' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="SecretTypes.opaque">
          {{ 'secret.opaque' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="SecretTypes.dockerConfig">
          {{ 'secret.docker_config' | translate }}
        </ng-container>
      </ng-container>
    </span>
  </aui-form-item>
  <ng-container *ngIf="model.type === SecretTypes.basicAuth">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.username"
        #username="ngModel"
        name="username"
        required
      />
      <div
        auiFormItemError
        *ngIf="username.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.password"
        #username="ngModel"
        name="password"
        [type]="showPassword ? 'text' : 'password'"
        required
      />
      <div
        auiFormItemError
        *ngIf="username.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
      <a
        auiFormItemAddon
        class="toggle-password"
        href="javascript:void(0)"
        (click)="showPassword = !showPassword"
      >
        <aui-icon
          [icon]="showPassword ? 'basic:eye_s' : 'basic:eye-slash_s'"
          size="16px"
        ></aui-icon>
      </a>
      <!--<div auiFormItemHint>{{ 'secret.jenkins_password_hint' | translate }}</div>-->
    </aui-form-item>
  </ng-container>
  <ng-container *ngIf="model.type === SecretTypes.oauth2">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.client_id' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.clientID"
        #clientId="ngModel"
        name="clientId"
        required
      />
      <div
        auiFormItemError
        *ngIf="clientId.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.client_secret' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.clientSecret"
        #clientSecret="ngModel"
        name="clientSecret"
        [type]="showClientSecret ? 'text' : 'password'"
        required
      />
      <div
        auiFormItemError
        *ngIf="clientSecret.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
      <a
        auiFormItemAddon
        class="toggle-password"
        href="javascript:void(0)"
        (click)="showClientSecret = !showClientSecret"
      >
        <aui-icon
          [icon]="showClientSecret ? 'basic:eye_s' : 'basic:eye-slash_s'"
          size="16px"
        ></aui-icon>
      </a>
    </aui-form-item>
  </ng-container>
  <ng-container *ngIf="model.type === SecretTypes.dockerConfig">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.docker_address' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        [(ngModel)]="model.dockerAddress"
        #dockerAddress="ngModel"
        name="dockerAddress"
        required
      />
      <div
        auiFormItemError
        *ngIf="dockerAddress.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.docker_username' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.dockerUsername"
        #dockerUsername="ngModel"
        name="dockerUsername"
        required
      />
      <div
        auiFormItemError
        *ngIf="dockerUsername.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.docker_password' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.dockerPassword"
        #dockerPassword="ngModel"
        [type]="showDockerPassword ? 'text' : 'password'"
        name="dockerPassword"
        required
      />
      <div
        auiFormItemError
        *ngIf="dockerPassword.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
      <a
        auiFormItemAddon
        class="toggle-password"
        href="javascript:void(0)"
        (click)="showDockerPassword = !showDockerPassword"
      >
        <aui-icon [icon]="'basic:' + (showDockerPassword ? 'eye_s' : 'eye-slash_s')" size="16px"></aui-icon>
      </a>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.docker_email' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        [(ngModel)]="model.dockerEmail"
        #dockerEmail="ngModel"
        name="dockerEmail"
        required
      />
      <div
        auiFormItemError
        *ngIf="dockerEmail.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
  </ng-container>
  <aui-form-item *ngIf="model.type === SecretTypes.opaque">
    <label auiFormItemLabel>{{ 'secret.opaque' | translate }}</label>
    <alo-opaque-secret
      auiFormItemControl
      [(ngModel)]="model.generic"
      #generic="ngModel"
      name="generic"
      required
    >
    </alo-opaque-secret>
    <div
      auiFormItemError
      *ngIf="generic.errors?.required"
    >
      {{ 'required' | translate }}
    </div>
  </aui-form-item>
</form>
