@import 'variables';

form {
  padding-top: $margin-form-item;
}

.form-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
aui-select {
  width: 100%;
  ::ng-deep .aui-select {
    width: 100%;
  }
}

.toggle-password {
  color: #999;
  &:hover {
    opacity: 0.6;
  }
}
