<div class="mat-dialog-header" mat-dialog-header>
  <div class="title">
    {{ 'microservice_environments.update_basic_info' | translate }}
  </div>
  <a 
    class="close"
    href="javascript:void(0)"
    (click)="close()"
    mat-dialog-close>
    <aui-icon icon="close"></aui-icon>
  </a>
</div>
<mat-dialog-content>
  <alo-microservice-environment-form 
    #form 
    [data]="data"
    (complete)="complete($event)">
  </alo-microservice-environment-form>
</mat-dialog-content>