@import '../../../../shared/_var.scss';

:host {
  table.alo-form-table {
    flex: 1;
    width: 100%;
    border-spacing: 0;
    background: #fafafa;
    margin-bottom: 12px;

    alo-zero-state {
      .zero-state-hint {
        border-bottom: none;
        background: #fafafa;
        padding: 12px;
      }
    }

    thead {
      background: #f0f0f0;
    }

    ::ng-deep {
      th {
        height: 32px;
        text-align: left;
        padding: 6px 8px;

        &[required]::before {
          content: '*';
          color: #eb6262;
          margin-right: 4px;
        }
      }

      td {
        vertical-align: middle;
        padding: 4px 0 4px 4px;

        &:first-child {
          padding-left: 8px;
        }

        &:last-child {
          padding-right: 8px;
        }
      }

      /* We have a convention here that the last column is the action column */
      td:last-child:not(:first-child) {
        width: 50px;
        text-align: center;
        padding: 8px 4px;
        white-space: nowrap;

        aui-icon {
          font-size: 16px;
          color: #000;
          cursor: pointer;
          margin: 0 4px;
          opacity: 0.4;

          &:hover {
            opacity: 1;
            color: $color-primary;
          }
        }
      }
    }

    /* If there is only one TD, we believe it is a row button */
    .bottom-control-buttons {
      display: flex;
      width: 100%;
      border-top: none;
      ::ng-deep .aui-button {
        flex: 1;
        border-style: dashed;

        &--default {
          border-color: #333;

          &:hover {
            border-color: $color-primary;
          }
        }
      }
    }

    &:not(.alo-form-table__no-row-separator)
      tr:not(:first-child)
      > td:not(.alo-table-form-error-hint) {
      border-top: 1px dashed #e8e8e8;
    }

    .alo-table-form-error-hint {
      color: $color-error;
      font-size: $font-size-small;
    }

    td.alo-table-form-error-hint {
      padding-top: 0;
    }
  }
}
