<ng-container *aloAsyncData="
    let resources;
    let error = error;
    let loading = loading;
    handler: fetchRelatedResources;
  ">
  <div
    mat-dialog-header
    class="mat-dialog-header"
  >
    <span class="title">
      <span>{{ 'code.delete_binding' | translate }}</span>
    </span>
    <a
      class="close"
      href="javascript:void(0)"
      (click)="close()"
    >
      <mat-icon svgIcon="close"></mat-icon>
    </a>
  </div>
  <mat-dialog-content>
    <div
      class="status"
      *ngIf="loading"
    >
      <span>
        <aui-icon
          icon="spinner"
          class="spinner"
        ></aui-icon>
        <span>{{ 'code.binding_related_loading' | translate }}</span>
      </span>
    </div>
    <ng-container *ngIf="!deleted">
      <aui-inline-alert
        type="error"
        *ngIf="error || resources"
      >
        <span *ngIf="resources && resources.length">{{ 'code.delete_binding_tips' | translate: { service: data.service } }}</span>
        <span *ngIf="resources && !resources.length">{{ 'code.delete_binding_confirm' | translate: { service: data.service } }}</span>
        <span *ngIf="error">{{ 'code.get_binding_related_fail' | translate: { service: data.service }
          }}</span>
      </aui-inline-alert>
      <aui-table
        [dataSource]="resources"
        [trackBy]="resourceIdentity"
        *ngIf="resources && resources.length"
      >
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <span>
              {{ item.name }}
            </span>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="type">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'type' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <span>
              {{ item.kind }}
            </span>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row *auiTableHeaderRowDef="resourceColumns"></aui-table-header-row>
        <aui-table-row *auiTableRowDef="let row; columns: resourceColumns;"></aui-table-row>
      </aui-table>
    </ng-container>
    <ng-container *aloAsyncData="let secrets; handler: fetchRelatedSecrets;">
      <ng-container *ngIf="deleted">
        <aui-inline-alert type="primary">
          <span *ngIf="secrets && secrets.length">{{ 'code.delete_binding_remains' | translate }}</span>
          <span *ngIf="!secrets || !secrets.length">{{ 'code.delete_binding_clean' | translate }}</span>
        </aui-inline-alert>
        <ul *ngIf="secrets && secrets.length" class="secrets">
          <li *ngFor="let secret of secrets">{{ secret }}</li>
        </ul>
      </ng-container>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      aui-button="danger"
      *ngIf="!deleted"
      [disabled]="!resources || resources.length || !!error || deleting"
      [loading]="deleting"
      (click)="delete()"
    >
      {{ 'delete' | translate }}
    </button>
    <button
      aui-button="primary"
      *ngIf="deleted"
      (click)="close(true)"
    >
      {{ 'i_know' | translate }}
    </button>
    <button
      aui-button
      *ngIf="!deleted"
      mat-dialog-close
    >
      {{ 'cancel' | translate }}
    </button>
  </mat-dialog-actions>
</ng-container>
