<div [class]="styles.element('section-header')" *ngIf="header">
  <ng-content select="[aloCardSectionHeader]"></ng-content>
</div>
<div [class]="styles.element('section-body')" *ngIf="body">
  <ng-content select="[aloCardSectionBody]"></ng-content>
</div>
<div [class]="styles.element('section-footer')" *ngIf="footer">
  <ng-content select="[aloCardSectionFooter]"></ng-content>
</div>