$block: alo-card;

.#{$block} {
  display: block;
  background-color: #fff;
  padding: 20px;
  border: solid 1px #eee;
  border-radius: 3px;
  &__section {
    display: block;
  }

  &__section-header {
    font-size: 18px;
    padding-bottom: 16px;
  }

  &__section--detail {
    .#{$block}__section-body {
      padding-top: 16px;
    }
    &:first-child {
      .#{$block}__section-header {
        border-bottom: solid 1px #eee;
      }
    }
    &:not(:first-child) {
      .#{$block}__section-header {
        padding-top: 16px;
      }
    }
    &:not(:last-child) {
      .#{$block}__section-body {
        border-bottom: dashed 1px #eee;
        padding-bottom: 16px;
      }
    }
  }

  &__section--edit {
    .#{$block}__section-footer {
      border-top: solid 1px #eee;
      padding-top: 16px;
      padding-left: 160px;
    }
    &:first-child {
      .#{$block}__section-header {
        border-bottom: solid 1px #eee;
      }
    }
    &:not(:first-child) {
      .#{$block}__section-header {
        padding-top: 16px;
      }
    }
    &:not(:last-child) {
      .#{$block}__section-body {
        border-bottom: dashed 1px #eee;
      }
    }
  }
}
