<alo-breadcrumb *aloPageHeaderContent>
  <ng-template aloBreadcrumbItem>
    <span>{{ 'pipeline.list' | translate }}</span>
  </ng-template>
</alo-breadcrumb>
<aui-card *aloAsyncData="let pipelineList;
  let error = error;
  let loading = loading;
  let refetch = refetch;
  handler: findPipelines;
  params: params$ | async;
  pullIn: 10 * 1000;">
  <div class="list-header">
    <button
      aui-button="primary"
      (click)="modeSelect()"
    >
      {{ 'create_pipeline' | translate }}
    </button>
    <div class="alo-search">
      <button
        aui-button
        [auiDropdown]="searchMenu"
      >
        {{ searchBy | translate }}
        <aui-icon icon="angle_down"></aui-icon>
      </button>
      <aui-search
        [keyword]="keywords$ | async"
        [placeholder]="(searchBy === 'name' ? 'search_by_name_placeholder' : 'search_by_display_name_placeholder') | translate"
        [searchButton]="true"
        [searching]="loading"
        (search)="search($event)"
      ></aui-search>
      <aui-menu #searchMenu>
        <aui-menu-item
          (click)="searchBy='name'"
          [actived]="searchBy === 'name'"
        >
          {{ 'name' | translate }}
        </aui-menu-item>
        <aui-menu-item
          (click)="searchBy='display_name'"
          [actived]="searchBy === 'display_name'"
        >
          {{ 'display_name' | translate }}
        </aui-menu-item>
      </aui-menu>
    </div>
  </div>
  <div>
    <alo-pipeline-list
      [pipelines]="pipelineList?.items"
      (sortChange)="sortByChanged($event)"
      (started)="onPipelineStarted($event)"
      (deleted)="refetch()"
    >
    </alo-pipeline-list>
    <aui-paginator
      *ngIf="pipelineList?.total"
      [pageIndex]="pageIndex$ | async"
      [pageSize]="itemsPerPage$ | async"
      [pageSizeOptions]="[20, 50, 100]"
      [length]="pipelineList?.total"
      (page)="pageChange($event)"
    ></aui-paginator>
    <div
      *ngIf="!pipelineList?.items?.length"
      class="no-data"
    >
      <span *ngIf="error">
        {{ 'retry_on_error' | translate }}
        <a
          href="javascript:;"
          (click)="refetch()"
        >
          {{ 'retry' | translate }}
        </a>
      </span>
      <span *ngIf="!error" style="color: #999">
        {{ (loading ? 'loading' : 'pipeline.no_data') | translate }}
      </span>
    </div>
  </div>
</aui-card>
