.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

aui-paginator {
  display: block;
  margin-top: 12px;
}

.no-data {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: #666;
  border-bottom: 1px solid #eee;
}
