.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .help {
    color: #999;
    margin-left: 8px;
    font-size: 16px;
    line-height: 16px;
    &:hover {
      color: #009ce3;
    }
  }
}
alo-code-service-card-list {
  ::ng-deep .alo-code-service-card-list {
    justify-content: center;
    flex-wrap: nowrap;
    overflow: auto;
    .alo-code-service-card {
      width: 228px;
      flex-grow: 0;
      &:hover {
        box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.16);
      }
    }
    .alo-code-service-card-placeholder {
      display: none;
    }
  }
}

.data-status {
  height: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}
