<div
  mat-dialog-header
  class="mat-dialog-header"
>
  <span class="title">
    <span>{{ 'code.select_service' | translate }}</span>
    <aui-icon
      class="help"
      icon="basic:question"
      size="16px"
      [auiTooltip]="helpContent"
      auiTooltipType="info"
    ></aui-icon>
  </span>
  <a
    class="close"
    href="javascript:;"
    (click)="close()"
  >
    <mat-icon svgIcon="close"></mat-icon>
  </a>
</div>
<mat-dialog-content *aloAsyncData="let data; let loading = loading; let error = error; let retry = refetch; handler: fetchCodeServices">
  <alo-code-service-card-list
    *ngIf="!!data"
    [data]="data"
    [itemRoute]="createBindingRoute"
    [itemQueryParams]="createBindingQueryParams"
    (toggleItem)="close()"
  ></alo-code-service-card-list>
  <div
    class="data-status"
    *ngIf="!data || !data.length"
  >
    <span *ngIf="loading">{{ 'loading' | translate }}</span>
    <span *ngIf="error && !loading">
      <span>{{ 'retry_on_error' | translate }}</span>
      <a
        href="javascript:;"
        (click)="retry()"
      >{{ 'retry' | translate }}</a>
    </span>
    <span *ngIf="!error && !loading">
      <span>{{ 'code.no_service_prefix' | translate }}</span>
      <a [routerLink]="['/admin/services/code-services']" (click)="close()">{{ 'code.no_service_link' | translate }}</a>
      <span>{{ 'code.no_service_suffix' | translate }}</span>
    </span>
  </div>
</mat-dialog-content>
<ng-template #helpContent>
  <span>{{ 'code.no_service_prefix_for_tips' | translate }}</span>
  <a
    [routerLink]="['/admin/services/code-services']"
    (click)="close()"
  >{{ 'code.no_service_link' | translate }}</a>
  <span>{{ 'code.no_service_suffix' | translate }}</span>
</ng-template>
