<aui-table
  [dataSource]="data"
  [trackBy]="trackByFn"
>
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'code.repository_name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span>{{ item.fullName }}</span>
      <aui-icon
        *ngIf="item.status?.phase === 'WaitingToDelete'"
        class="warning-icon"
        icon="basic:trash_s"
        [auiTooltip]="item.status?.message"
      ></aui-icon>
      <aui-icon
        *ngIf="item.status?.phase === 'Error'"
        class="warning-icon"
        icon="exclamation_circle_s"
        [auiTooltip]="item.status?.message"
      ></aui-icon>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="organization">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'code.repository_team' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.ownerName || '-' }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="address">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'code.repository_address' | translate }}
    </aui-table-header-cell>
    <aui-table-cell
      class="no-wrap"
      *auiTableCellDef="let item"
    >
      <span
        class="badge"
        [auiTooltipCopy]="item.httpURL"
        [auiTooltipCopyTip]="'[' + ('click_to_copy' | translate) + '] ' + item.httpURL"

        [auiTooltipCopySuccessTip]="'copy_success_tip' | translate"
      >HTTPS</span>
      <span
        class="badge"
        [auiTooltipCopy]="item.sshURL"
        [auiTooltipCopyTip]="'[' + ('click_to_copy' | translate) + '] ' + item.sshURL"

        [auiTooltipCopySuccessTip]="'copy_success_tip' | translate"
      >SSH</span>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="capacity">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'code.repository_used' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.capacity }} kb
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="commit">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'code.repository_commit' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.commit | aloTime}}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="type">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'type' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.type }}
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
