.aui-table {
  &__header-cell,
  &__cell {
    padding-right: 8px;
    &:last-child {
      padding-right: 0px;
    }
  }

  &__cell {
    height: 40px;
  }

  &__column-name {
    flex: 3;
  }
  &__column-organization {
    flex: 1;
  }
  &__column-address {
    flex: 1;
  }
  &__column-capacity {
    flex: 1;
  }
  &__column-commit {
    flex: 1;
  }
  &__column-type {
    flex: 1;
  }
  &__column-account {
    flex: 1;
  }

  .no-wrap {
    overflow: visible;
  }

  &__cell:not(.no-wrap) {
    white-space: unset;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
  }
}

.badge {
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 2px;
  background-color: #fafafa;
  border: 1px solid #eee;
  color: #666;
  line-height: 20px;
  cursor: pointer;

  + .badge {
    margin-left: 4px;
  }
}

.warning-icon {
  margin-left: 4px;
  color: #f8ac58;
}
