<div class="card">
  <div class="info">
    <div
      class="name"
      (click)="detail()"
    >
      <span class="name-text">{{template.name}}</span>
      <span class="version">{{template.version}}</span>
    </div>
    <div class="labels-container">
      <div class="labels">
        <span
          *ngFor="let label of template.labels"
          class="label"
        >
          <aui-icon *ngIf="customLabelIndex.includes(label.key); else labelText">{{label.value}}</aui-icon>
          <ng-template #labelText>{{label.key + ':' + label.value}}</ng-template>
        </span>
      </div>
      <span
        class="label-more"
        *ngIf="template?.labels?.length > 1"
        [auiTooltip]="labelAll"
        auiTooltipTrigger="hover"
        auiTooltipClass="label-tooltip"
      >
        ···
      </span>
      <span
        *ngIf="!template?.labels?.length"
        class="no-label"
      >
        {{'pipeline.no_label'|translate}}
      </span>
    </div>
  </div>
  <div class="stage">
    <aui-pipeline-preview-diagram
      *ngIf="template?.stages?.length"
      [hideStatus]="true"
      [stages]="template?.stages"
    ></aui-pipeline-preview-diagram>
  </div>
</div>
<ng-template #labelAll>
  <div>
    <span
      *ngFor="let label of template.labels"
      class="tooltip-label"
    >
      {{label.key + ':' + label.value}}
    </span>
  </div>
</ng-template>
