<aui-card>
  <div auiCardHeader>
    <alo-steps
      [currentIndex]="stepIndex"
      [stepConfigs]="stepConfigs"
    ></alo-steps>
  </div>
  <aui-inline-alert
    class="alo-pipeline-create--no_jenkins"
    type="error"
    [content]="'pipeline.no_instance'|translate"
    *ngIf="jenkinsInstances && !jenkinsInstances.length"
  ></aui-inline-alert>
  <div auiCardBody>
    <div class="alo-pipeline-create__basic">
      <form
        #basicForm="ngForm"
        [formGroup]="model.basicStep"
        class="selection"
        auiForm
        auiFormLabelWidth="150px"
        [hidden]="stepIndex !== 0"
      >
        <alo-pipeline-basic-form
          [form]="model.basicStep.controls.basic"
          [namespace]="namespace"
          type="create"
          (jenkinsChanged)="jenkinsChanged($event)"
        ></alo-pipeline-basic-form>
      </form>
      <form
        #repoForm="ngForm"
        [formGroup]="model.repoStep"
        class="selection"
        auiForm
        auiFormLabelWidth="150px"
      >
        <alo-pipeline-repository-form
          *ngIf="stepIndex === 1 && model.basicStep?.value.basic?.source === 'repo'"
          [form]="model.repoStep.controls.jenkinsfile"
          [namespace]="namespace"
          type="create"
        ></alo-pipeline-repository-form>
      </form>
      <form
        [formGroup]="model.scriptStep"
        #scriptForm="ngForm"
        auiForm
        auiFormLabelWidth="150px"
        class="selection"
      >
        <alo-pipeline-script-form
          [form]="model.scriptStep.controls.editor_script"
          *ngIf="stepIndex === 1 && model.basicStep?.value.basic?.source === 'script'"
        ></alo-pipeline-script-form>
      </form>
      <form
        [formGroup]="model.triggerStep"
        #triggerForm="ngForm"
        auiForm
      >
        <div *ngIf="stepIndex === 2">
          <aui-inline-alert type="primary">
            <div
              auiInlineAlertTitle
              class="alo-pipeline-create__basic__trigger__hint"
            >
              <div>
                {{ 'pipeline.trigger_hint_content1'|translate}}
              </div>
              <div>
                {{ 'pipeline.trigger_hint_content2'|translate}}
                <a class="document">{{'pipeline.document'|translate}}</a>
              </div>
            </div>
          </aui-inline-alert>

          <div *ngFor="let group of model.triggerStep.controls.triggers.controls; let i = index">
            <alo-pipeline-trigger-form
              [style.width]="'100%'"
              [form]="group"
              [index]="i"
            ></alo-pipeline-trigger-form>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div auiCardFooter>
    <div class="alo-pipeline-create__footer">
      <button
        aui-button
        (click)="step('prev')"
        *ngIf="stepIndex > 0"
      >
        {{ 'pipeline.step_preview' | translate }}
      </button>
      <button
        aui-button="primary"
        (click)="step('next', stepIndex === 0 ? basicForm : (model.basicStep.value?.basic?.source === 'repo' ? repoForm : scriptForm))"
        *ngIf="stepIndex < 2"
        [disabled]="jenkinsInstances && !jenkinsInstances.length"
      >
        {{ 'pipeline.step_next' | translate }}
      </button>
      <button
        aui-button="primary"
        (click)="submit(triggerForm)"
        *ngIf="stepIndex === 2"
      >
        {{ 'pipeline.create' | translate }}
      </button>
      <button
        aui-button
        (click)="cancel()"
      >
        {{ 'pipeline.cancel_create' | translate }}
      </button>
    </div>
  </div>
</aui-card>
