.alo-pipeline-create {
  &--no_jenkins {
    margin: 20px 0;
  }
  &__basic {
    margin: 20px 100px;
    &__trigger__hint {
      color: #333;
      font-size: 14px;
      line-height: 20px;
    }
    .document {
      color: #009ce3;
      cursor: pointer;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  .selection {
    transition: 'display 1s';
  }
}
