<aui-table
  *ngIf="!plainTable"
  auiSort
  [dataSource]="data"
  [active]="params.sort"
  [direction]="params.direction"
  (sortChange)="onSort($event)"
  [trackBy]="tracker"
>
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell
      *auiTableHeaderCellDef
      aui-sort-header
    >
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <a *ngIf="!!itemRoute" [routerLink]="itemRoute(item)">
        <span>{{ item.name }}</span>
      </a>
      <span *ngIf="!itemRoute">
        <span>{{ item.name }}</span>
      </span>
      <div class="display-name">{{ item.displayName || '-' }}</div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="manager">
    <aui-table-header-cell
      *auiTableHeaderCellDef
    >
      {{ 'project_manager' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.projectManagers.join(', ') || '-' }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="creationTimestamp">
    <aui-table-header-cell
      *auiTableHeaderCellDef
      aui-sort-header
      start="desc"
    >
      {{ 'create_at' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.creationTimestamp | aloRelativeTime }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="description">
    <aui-table-header-cell
      *auiTableHeaderCellDef
    >
      {{ 'description' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.description || '-' }}
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row
    *auiTableHeaderRowDef="columns"
  ></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="let row; columns: columns;"
  ></aui-table-row>
</aui-table>
<aui-table
  *ngIf="plainTable"
  [dataSource]="data.items"
>
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell
      *auiTableHeaderCellDef
    >
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span>{{ item.name }}</span>
      <div class="display-name">{{ item.displayName || '-' }}</div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="manager">
    <aui-table-header-cell
      *auiTableHeaderCellDef
    >
      {{ 'project_manager' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.projectManagers.join(', ') }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="creationTimestamp">
    <aui-table-header-cell
      *auiTableHeaderCellDef
    >
      {{ 'create_at' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.creationTimestamp | aloRelativeTime }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="description">
    <aui-table-header-cell
      *auiTableHeaderCellDef
    >
      {{ 'description' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.description }}
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row
    *auiTableHeaderRowDef="columns"
  ></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="let row; columns: columns;"
  ></aui-table-row>
</aui-table>