$block: aui-table;

.aui-table {
  &__column-name {
    flex: 2;
    div.display-name {
      color: #999;
    }
  }
  &__column-manager {
    flex: 2;
  }
  &__column-createTimestamp {
    flex: 1;
  }
  &__column-description {
    flex: 2;
  }
}
