<form
  class="alo-code-binding-basic-edit"
  auiForm
  auiFormLabelWidth="120px"
  auiFormEmptyAddon="true"
  (ngSubmit)="save()"
  novalidate
  #form="ngForm"
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      [type]="mode === 'create' ? 'text' : 'hidden'"
      auiFormItemControl
      name="name"
      #name="ngModel"
      aui-input
      required
      [maxLength]="30"
      pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
      [(ngModel)]="model.name"
    />
    <span
      *ngIf="mode !== 'create'"
      auiFormItemControl
    >{{ model.name }}</span>
    <div
      auiFormItemError
      *ngIf="name.errors?.required"
    >
      {{ 'required' | translate }}
    </div>
    <div
      auiFormItemError
      *ngIf="name.errors?.pattern"
    >
      {{ 'name_pattern' | translate }}
    </div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'description' | translate }}</label>
    <textarea
      auiFormItemControl
      name="description"
      #description="ngModel"
      aui-input
      [(ngModel)]="model.description"
    ></textarea>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'auth_type' | translate }}</label>
    <aui-radio-group
      auiFormItemControl
      name="secretType"
      [(ngModel)]="model.secretType"
      (ngModelChange)="onSecretTypeChange()"
    >
      <aui-radio-button [value]="secretTypes.basicAuth">
        {{ 'code.token' | translate }}
      </aui-radio-button>
      <aui-radio-button [value]="secretTypes.oauth2">
        {{ 'code.oauth' | translate }}
      </aui-radio-button>
    </aui-radio-group>
    <div auiFormItemHint *ngIf="model.secretType === secretTypes.basicAuth">
      <a [href]="serviceUrl" target="_blank" *ngIf="!!serviceUrl">{{ 'code.goto_service' | translate:{ service: service } }}</a>
      <span *ngIf="!serviceUrl">{{ 'code.goto_service' | translate:{ service: service } }}</span>
      <span>{{ 'code.goto_service_create_token' | translate }}</span>
    </div>
    <div auiFormItemHint *ngIf="model.secretType === secretTypes.oauth2">
      <a [href]="createAppUrl" target="_blank" *ngIf="!!createAppUrl">{{ 'code.goto_service' | translate:{ service: service } }}</a>
      <span *ngIf="!createAppUrl">{{ 'code.goto_service' | translate:{ service: service } }}</span>
      <span>{{ 'code.goto_service_create_oauth_app' | translate:{ url: callbackUrl } }}</span>
    </div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'code.secret' | translate }}</label>
    <aui-select
      auiFormItemControl
      name="secret"
      #secret="ngModel"
      [(ngModel)]="model.secret"
      [disabled]="!secrets.length"
      [placeholder]="(secrets.length ? 'code.please_select_secret' : 'code.no_secrets') | translate"
      required
    >
      <aui-option
        *ngFor="let item of secrets"
        [value]="item.name"
      >
        <span>{{ item.name }}</span>
      </aui-option>
    </aui-select>
    <div
      auiFormItemError
      *ngIf="secret.errors?.required"
    >
      {{ 'required' | translate }}
    </div>
    <button
      aui-button
      class="add-secret"
      type="button"
      (click)="openCreateSecretDialog()"
    >{{ 'code.create_secret' | translate }}</button>
  </aui-form-item>
</form>