<aui-card>
  <div
    auiCardHeader
    fxLayout
  >
    <span fxLayoutAlign="start center">{{ 'base_info' | translate }}</span>
    <div fxFlex></div>
    <a
      class="alo-menu-button"
      href="javascript:void(0)"
      [auiDropdown]="actions"
    >
      <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
    </a>
    <aui-menu #actions>
      <aui-menu-item (click)="update()">{{ 'code.update_binding' | translate }}</aui-menu-item>
      <aui-menu-item (click)="delete()" type="danger" [divide]="true">{{ 'code.delete_binding' | translate }}</aui-menu-item>
    </aui-menu>
  </div>
  <div class="base-body">
    <div class="field">
      <label>{{ 'name' | translate }}</label>
      <span>{{ data.name }}</span>
    </div>
    <!--<div class="field">
      <label>{{ 'code.bind_by' | translate }}</label>
      <span></span>
    </div>-->
    <div class="field">
      <label>{{ 'code.repo_type' | translate }}</label>
      <span>{{ data.type }}</span>
    </div>
    <div class="field">
      <label>{{ 'code.bind_at' | translate }}</label>
      <span>{{ data.creationTimestamp | aloTime }}</span>
    </div>
    <div class="field">
      <label>{{ 'code.update_at' | translate }}</label>
      <span>{{ data.status?.lastUpdated | aloTime }}</span>
    </div>
    <div class="field">
      <label>{{ 'auth_type' | translate }}</label>
      <span *ngIf="data.secretType === secretTypes.basicAuth">{{ 'code.token' | translate }}</span>
      <span *ngIf="data.secretType === secretTypes.oauth2">{{ 'code.oauth' | translate }}</span>
    </div>
    <div class="field">
      <label>{{ 'code.secret' | translate }}</label>
      <span>{{ data.secret }}</span>
    </div>
    <div class="field full">
      <label>{{ 'description' | translate }}</label>
      <span>{{ data.description }}</span>
    </div>
  </div>
</aui-card>
<aui-card>
  <div
    auiCardHeader
    fxLayout
  >
    <span fxLayoutAlign="start center">{{ 'code.repository_name' | translate }}</span>
    <div fxFlex></div>
    <button
      aui-button
      (click)="assignRepository()"
    >{{ 'code.assign_repository' | translate }}</button>
  </div>
  <ng-container *aloAsyncData="
      let data;
      let refresh = refetch;
      let loading = loading;
      let error = error;
      handler: fetchCodeRepositories;
      params: data;
      pullIn: 10 * 1000;
    ">
    <alo-code-repository-list [data]="data"></alo-code-repository-list>
    <div class="list-status" *ngIf="!data || !data.length">
      <span *ngIf="!error && !loading">
        {{ 'code.repository_no_data' | translate }}
      </span>
      <span *ngIf="loading">
        {{ 'loading' | translate }}
      </span>
      <span *ngIf="error">
        {{ 'retry_on_error' | translate }}
        <a
          href="javascript:void(0)"
          (click)="refresh()"
        >
          {{ 'retry' | translate }}
        </a>
      </span>
    </div>
  </ng-container>
</aui-card>
