.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
aui-paginator {
  display: block;
  margin-top: 12px;
}

.pods-normal,
.pods-abnormal {
  display: flex;
  align-items: center;
  &:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #1bb393;
    margin-right: 4px;
  }
}
.pods-abnormal {
  &:before {
    background-color: #eb6262;
  }
}
