<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_microservice' | translate }}
      </span>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_services' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-card *aloAsyncData="
  let data;
  let error = error;
  let loading = loading;
  let refresh = refetch;
  handler: fetch;
  params: params$ | async;
">
  <alo-card-section type="list">
    <div aloCardSectionHeader class="list-header">
      <div>{{ 'microservice.services' | translate }}</div>
      <aui-search
        [keyword]="keywords$ | async"
        [placeholder]="'search_by_name_placeholder' | translate"
        [searchButton]="true"
        [searching]="loading"
        [disabled]="loading"
        (search)="search($event)">
      </aui-search>
    </div>
    <div aloCardSectionBody>
      <aui-table
        auiSort
        [dataSource]="data?.services"
        [active]="(sort$ | async)?.active"
        [direction]="(sort$ | async)?.direction"
        (sortChange)="sortChange($event)">
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell 
            *auiTableHeaderCellDef
            aui-sort-header>
            {{ 'name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.name }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="status">
          <aui-table-header-cell 
            *auiTableHeaderCellDef
            aui-sort-header>
            {{ 'microservice.status' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <aui-icon 
              *ngIf="item.status === 'UP'"
              icon="check_circle_s"
              class="success">
            </aui-icon>
            <aui-icon 
              *ngIf="item.status === 'DOWN'"
              icon="basic:minus_circle_s"
              class="gray">
            </aui-icon>
            {{ getStatus(item.status) | translate }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="pod_status">
          <aui-table-header-cell 
            *auiTableHeaderCellDef>
            {{ 'microservice.pod_status' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <alo-pods-status 
              [pods]="item.podsCount"
              [tooltipTpl]="podsTooltip">
            </alo-pods-status>
            <ng-template #podsTooltip>
              <ng-container *ngIf="item.status !== 'UP'">
                {{ 'microservice.service_offline' | translate }}
              </ng-container>
              <ng-container *ngIf="item.status === 'UP'">
                <div class="pods-info">
                  <div>{{ 'microservice_environments.pod_total' | translate }}: {{ item.podsCount.desired }}</div>
                  <div class="pods-normal">{{ 'microservice.pod_normal' | translate }}: {{ item.podsCount.available }}</div>
                  <div class="pods-abnormal">{{ 'microservice.pod_abnormal' | translate }}: {{ item.podsCount.unavailable }}</div>
                </div>
              </ng-container>
            </ng-template>
          </aui-table-cell>
        </ng-container>
        <!-- <ng-container auiTableColumnDef="referenced_resource">
          <aui-table-header-cell 
            *auiTableHeaderCellDef>
            {{ 'microservice.referenced_resource' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
          </aui-table-cell>
        </ng-container> -->
        <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
        <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
      </aui-table>
      <div class="list-status-loading" *ngIf="loading">{{ 'loading' | translate }}</div>
      <div class="list-status-empty" *ngIf="!loading && !data.services.length">
        {{ 'zero_state_hint' | translate: { resourceName: ('microservice.services' | translate) } }}
      </div>
    </div>
  </alo-card-section>
  <aui-paginator
    *ngIf="!loading && data?.services.length"
    [pageIndex]="pageIndex$ | async"
    [pageSize]="itemsPerPage$ | async"
    [pageSizeOptions]="[10, 20, 50, 100]"
    [length]="data?.total"
    (page)="pageChange($event)">
  </aui-paginator>
</alo-card>