<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../']">{{ 'secrets.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'secrets.create' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<aui-card>
  <div auiCardHeader>
    <span>{{ 'secrets.create' | translate }}</span>
  </div>
  <alo-secret-edit
    #editForm=alo-secret-edit
    [namespace]="project"
    (saved)="toDetail($event)"
  ></alo-secret-edit>
  <div auiCardFooter class="form-actions">
    <button
      aui-button="primary"
      [disabled]="editForm.notReady || editForm.saving"
      [loading]="editForm.saving"
      (click)="editForm.submit()"
    >
      {{ 'create' | translate }}
    </button>
    <button aui-button routerLink="../">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-card>