$card-border-radius: 2px;
$card-height: 228px;
$card-max-width: 242px;
$card-bg: #fff;
$card-border-hover-color: #009ce3;
$card-padding: 20px;
$card-margin: 16px;
$card-logo-size: 60px;
$card-log-margin: 12px 0px;
$card-title-font-size: 18px;
$card-title-fg: #333;
$card-title-padding: 12px 0px;
$card-title-outline-color: #cccccc;
$card-description-margin: 12px 0px 0px 0px;
$card-description-fg: #999;
$card-transition: all 0.2s ease-in-out;
$color-warning: #f8ac58;
$status-margin: 12px;

.alo-code-service-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: -$card-margin / 2;
  padding-top: $card-padding;
}

.alo-code-service-card {
  outline: none;
  position: relative;
  border-radius: $card-border-radius;
  height: $card-height;
  background: $card-bg;
  padding: $card-padding;
  flex-basis: $card-height;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $card-margin / 2;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.16);
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  transition: $card-transition;
  &:hover {
    box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.24);
    border-color: $card-border-hover-color;
  }
  &:active,
  &:focus {
    outline: none;
  }
  &__logo {
    width: $card-logo-size;
    height: $card-logo-size;
    flex-shrink: 0;
    flex-grow: 0;
    margin: $card-log-margin;
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: $card-title-font-size;
    padding: $card-title-padding;
    border-bottom: solid 1px $card-title-outline-color;
    color: $card-title-fg;
  }
  &__description {
    margin: $card-description-margin;
    color: $card-description-fg;
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 44px;
    > p {
      word-break: break-all;
      line-height: 22px;
    }
  }
  &__status--warning {
    position: absolute;
    top: $status-margin;
    right: $status-margin;
    color: $color-warning;
    line-height: 16px;
  }
  &__version {
    position: absolute;
    top: $status-margin;
    left: $status-margin;
    padding: 0 2px;
    color: #666;
    border-radius: 2px;
    border: solid 1px #ccc;
    font-size: 12px;
    line-height: 16px;
  }
}

.alo-code-service-card-placeholder {
  flex-basis: $card-height;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0px $card-margin / 2;
}
