<div class="alo-code-service-card-list">
  <div
    *ngFor="let item of data"
    class="alo-code-service-card"
    [routerLink]="itemRoute(item)"
    [queryParams]="itemQueryParams(item)"
    (click)="toggleItem.emit(item)"
  >
    <img
      [src]="'assets/icons/code-repo/' + item.type.toLowerCase() + '-large@2x.png'"
      class="alo-code-service-card__logo"
    />
    <div class="alo-code-service-card__title">
      <span>{{ item.name }}</span>
    </div>
    <div class="alo-code-service-card__description">
      <p>{{ item.host }}</p>
    </div>
    <aui-icon
      *ngIf="item.status?.phase === 'WaitingToDelete'"
      class="alo-code-service-card__status--warning"
      icon="basic:trash_s"
      size="16px"
      [auiTooltip]="item.status?.message"
    ></aui-icon>
    <aui-icon
      *ngIf="item.status?.phase === 'Error'"
      class="alo-code-service-card__status--warning"
      icon="exclamation_circle_s"
      size="16px"
      [auiTooltip]="item.status?.message"
    ></aui-icon>
    <span
      class="alo-code-service-card__version"
      *ngIf="!item.public"
    >{{ 'code.enterprise' | translate }}</span>
  </div>
  <div class="alo-code-service-card-placeholder"></div>
  <div class="alo-code-service-card-placeholder"></div>
  <div class="alo-code-service-card-placeholder"></div>
  <div class="alo-code-service-card-placeholder"></div>
  <div class="alo-code-service-card-placeholder"></div>
  <div class="alo-code-service-card-placeholder"></div>
  <div class="alo-code-service-card-placeholder"></div>
  <div class="alo-code-service-card-placeholder"></div>
</div>
