<alo-card>
  <alo-card-section type="detail">
    <div aloCardSectionHeader>
      {{ 'base_info' | translate }}
    </div>
    <div aloCardSectionBody class="base-body base-body-left">
      <div class="field full">
        <label>{{ 'name' | translate }}</label>
        <span>{{ result.objectMeta.name || '-' }}</span>
      </div>
      <div class="field full">
        <label>{{ 'kind' | translate }}</label>
        <alo-k8s-resource-icon [resourceKind]="data.kind"></alo-k8s-resource-icon>
        <span>{{ result.typeMeta.kind || '-' }}</span>
      </div>
      <div class="field full">
        <label>{{ 'update_strategy' | translate }}</label>
        <span>{{ result.updateStrategy.type }}</span>
      </div>
      <div class="field full">
        <label>{{ 'label' | translate }}</label>
        <alo-resource-labels-field [resource]="result" [kind]="'label'" (updated)="updateLabels()"></alo-resource-labels-field>
      </div>
      <div class="field full">
        <label>{{ 'annotations' | translate }}</label>
        <alo-resource-labels-field [resource]="result" [kind]="'annotation'" (updated)="updateAnnotations()"></alo-resource-labels-field>
      </div>
      <div class="field full">
        <label>{{ 'application.address' | translate }}</label>
        <span>
          <a *ngIf="result.visitAddresses[0];else emptyAddr" [href]="result.visitAddresses[0]"
            target="_blank">{{result.visitAddresses[0]}}</a>
          <ng-template #emptyAddr>
            <span>{{'-'}}</span>
          </ng-template>
        </span>
        <div *ngIf="result.visitAddresses.length>1" class="address-total">
          {{ 'total' | translate }}
          <span class="aviliable-data" [auiTooltip]="isitAddresses" auiTooltipType="info" auiTooltipTrigger="click"
            auiTooltipPosition="bottom">
            {{ result.visitAddresses.length }}
          </span>
          {{ 'application.image_num' | translate }}
        </div>
      </div>
      <div class="field full">
        <label>{{ 'create_at' | translate }}</label>
        <span>{{ result.objectMeta.creationTimestamp | aloTime }}</span>
      </div>
    </div>
    <div aloCardSectionBody class="base-body base-body-right">
      <alo-pods-scaler [scaling]="scaling" [kind]="data.kind" [podInfo]="result.podInfo"
        (desiredChange)="onDesiredChange($event)"></alo-pods-scaler>
    </div>
  </alo-card-section>
</alo-card>
