.select {
  width: 100%;
  cursor: pointer;
  background-color: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 38px;

  .select-button {
    margin: 5px 8px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 28px;
    border: 1px dotted #ccc;
    padding: 4px;
    border-radius: 2px;
    aui-icon {
      margin-right: 8px;
    }
    &:hover {
      background-color: #e5f5fc;
    }
  }
}
.modify {
  display: flex;
  height: 32px;
  width: 100%;
  border-radius: 2px;
  justify-content: space-between;
  padding: 6px;
}

.radio {
  label {
    width: 170px;
    display: inline-block;
    text-align: right;

    &::after {
      content: ':';
      margin-right: 8px;
    }
  }
}

form {
  width: 100%;
  margin: 16px;
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  aui-select {
    width: 100%;
  }
}
