<div class="select">
  <div
    class="select-button"
    (click)="open()"
    *ngIf="!repositoryDisplay; else modify"
  >
    <aui-icon icon="basic:plus"></aui-icon>
    {{'pipeline.select'|translate}}
  </div>
  <ng-template #modify>
    <div class="modify">
      {{repositoryDisplay}}
      <button
        aui-button="text"
        (click)="open()"
      >
        {{'pipeline.modify'|translate}}
      </button>
    </div>
  </ng-template>
</div>
<ng-template #repo>
  <aui-dialog-header>
    <div>{{ 'pipeline.from_repo' | translate }}</div>
  </aui-dialog-header>
  <aui-dialog-content>
    <div class="radio">
      <label>{{'pipeline.method'|translate}}</label>
      <aui-radio-group
        [(ngModel)]="sourceType"
        #radio="ngModel"
        name="sourceType"
      >
        <aui-radio-button value="select">{{'pipeline.select'|translate}}</aui-radio-button>
        <aui-radio-button value="input">{{'pipeline.input'|translate}}</aui-radio-button>
      </aui-radio-group>
    </div>
    <div class="alo-card-group">
      <form
        [formGroup]="modelGroup"
        (ngSubmit)="onSubmit()"
        auiFormLabelWidth="150px"
      >
        <div *ngIf="radio.value === 'input'">
          <aui-form-item>
            <label auiFormItemLabel>{{'pipeline.repo_path'|translate}}</label>
            <input
              aui-input
              auiFormItemControl
              name="repo"
              pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
          
              formControlName="repo"
              required
            >
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{'pipeline.secret'|translate}}</label>
            <aui-select
              formControlName="secret"
              [loading]="!secretOptions"
              name="secret"
              auiFormItemControl
              [clearable]="true"
              [disabled]="secretOptions && !secretOptions.length"
            >
              <aui-option
                *ngFor="let secret of secretOptions"
                [value]="secret.name"
              >
                {{secret.name}}
              </aui-option>
            </aui-select>
            <div auiFormItemAddon>
              <button
                (click)="addSecret()"
                aui-button
                type="button"
              >
                {{'pipeline.add_secret'|translate}}
            </button>
            </div>
          </aui-form-item>
        </div>
        <div *ngIf="radio.value === 'select'">
          <aui-form-item>
            <label auiFormItemLabel>{{'pipeline.from_repo'|translate}}</label>
            <aui-select
              formControlName="bindingRepository"
              [loading]="!codeOptions"
              name="bindingRepository"
              filterable
              auiFormItemControl
              required
              [disabled]="codeOptions && !codeOptions.length"
            >
              <aui-option
                *ngFor="let code of codeOptions"
                [value]="code.name"
              >
                {{code.name}}
              </aui-option>
            </aui-select>
          </aui-form-item>
        </div>
        <div class="buttons">
          <button
            aui-button="primary"
            [disabled]="getSubmitDisabled()"
          >
            {{'pipeline.confirm'|translate}}
          </button>
          <button
            aui-button
            type="button"
            (click)="hideDialog()"
          >
            {{'cancel'|translate}}
          </button>
        </div>
      </form>
    </div>
  </aui-dialog-content>
</ng-template>
