.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.aui-table {
  &__column-name {
    flex: 2;
  }
  &__column-type {
    flex: 1;
  }
  &__column-creationTimestamp {
    flex: 1;
  }

  &__column-actions {
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

form.add-member {
  > .aui-form-field:nth-child(1) {
    flex-basis: 340px;
  }
  > .aui-form-field:nth-child(2) {
    flex-basis: 180px;
  }
  button.aui-button {
    white-space: nowrap;
  }
}

.remove {
  color: #999;
  &:hover {
    color: #666;
  }
  .mat-icon {
    width: 16px;
    height: 16px;
  }
}
