<alo-card>
  <alo-card-section type="detail">
    <div aloCardSectionHeader class="header">
      <span>{{ 'member' | translate }}</span>
    </div>
    <ng-container aloCardSectionBody>
      <div>
        <form
          class="horizontal-form add-member"
          (ngSubmit)="save()"
          #form="ngForm"
          novalidate
        >
          <aui-form-field size="full">
            <input
              [(ngModel)]="model.email"
              required
              [placeholder]="'email_placeholder' | translate"
              name="email"
            />
            <span auiErrorHint>{{ 'required' | translate }}</span>
          </aui-form-field>
          <aui-form-field size="full">
            <select [(ngModel)]="model.role" name="role">
              <option [ngValue]="role.name" *ngFor="let role of roles$ | async">
                {{ getDisplayName(role) }}
              </option>
            </select>
          </aui-form-field>
          <button aui-button="primary" [disabled]="!model.email">
            {{ 'member_add' | translate }}
          </button>
        </form>
      </div>
      <aui-table
        auiSort
        [dataSource]="list$"
        [active]="sort$ | async"
        [direction]="(desc$ | async) ? 'desc' : 'asc'"
        (sortChange)="sortChange($event)"
      >
        <ng-container auiTableColumnDef="user">
          <aui-table-header-cell
            *auiTableHeaderCellDef
          >
            {{ 'email' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.user }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="role">
          <aui-table-header-cell
            *auiTableHeaderCellDef
          >
            {{ 'role' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ getDisplayName(item.role) }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="creationTimestamp">
          <aui-table-header-cell
            *auiTableHeaderCellDef
            aui-sort-header
            start="desc"
          >
            {{ 'create_at' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.creationTimestamp | aloRelativeTime }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="actions">
          <aui-table-header-cell
            *auiTableHeaderCellDef
          >
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a href="javascript:void(0)" (click)="showDeleteConfirm(item)" class="remove">
              <mat-icon svgIcon="remove"></mat-icon>
            </a>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="['user', 'role', 'creationTimestamp', 'actions']"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: ['user', 'role', 'creationTimestamp', 'actions'];"
        ></aui-table-row>
      </aui-table>
    </ng-container>
  </alo-card-section>
</alo-card>

<ng-template #deleteConfirmDialog>
  <mat-dialog-content>
    <div class="alo-confirm">
      <mat-icon svgIcon="danger"></mat-icon>
      <div class="content">
        <div class="title">
          {{
            'member_delete_confirm' | 
            translate:{
              user: deletingItem.user
            }
          }}
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      aui-button="error"
      (click)="delete()"
    >{{ 'delete' | translate }}</button>
    <button aui-button (click)="cancelDelete()">{{ 'cancel' | translate }}</button>
  </mat-dialog-actions>
</ng-template>