<alo-card>
  <alo-card-section type="list">
    <div aloCardSectionHeader class="header">
      <span>{{ 'projects.jenkins_binding' | translate }}</span>
      <div class="actions">
        <button
          aui-button
          [disabled]="loading$ | async"
          (click)="showCreate()"
        >
          {{ 'projects.add_jenkins_binding' | translate }}
        </button>
      </div>
    </div>
    <ng-container aloCardSectionBody>
      <aui-table
        auiSort
        [dataSource]="list$"
        [active]="sort$ | async"
        [direction]="(desc$ | async) ? 'desc' : 'asc'"
        (sortChange)="sortChange($event)"
      >
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell
            *auiTableHeaderCellDef
            aui-sort-header
          >
            {{ 'projects.jenkins_service_name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a [routerLink]="['/admin/tool-chain/jenkins', item.jenkins]">
              {{ item.displayName || item.name }}
            </a>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="secret">
          <aui-table-header-cell
            *auiTableHeaderCellDef
          >
            {{ 'secret' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a [routerLink]="['../../secrets', project, item.secret]">
              {{ item.secret }}
            </a>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="creationTimestamp">
          <aui-table-header-cell
            *auiTableHeaderCellDef
            aui-sort-header
            start="desc"
          >
            {{ 'create_at' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.creationTimestamp | aloRelativeTime }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="description">
          <aui-table-header-cell
            *auiTableHeaderCellDef
          >
            {{ 'description' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.description }}
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="['name', 'secret', 'creationTimestamp', 'description']"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: ['name', 'secret', 'creationTimestamp', 'description'];"
        ></aui-table-row>
      </aui-table>
    </ng-container>
  </alo-card-section>
</alo-card>

<ng-template #createDialog>
  <div mat-dialog-header class="mat-dialog-header">
    {{ 'projects.add_jenkins_binding' | translate }}
    <a class="close" href="javascript:void(0)" (click)="hideCreate()">
      <mat-icon svgIcon="close"></mat-icon>
    </a>
  </div>
  <mat-dialog-content>
    <alo-edit-jenkins-binding
      [project]="project"
      #createForm
      (created)="jenkinsBindingCreated()"
    ></alo-edit-jenkins-binding>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      aui-button="primary"
      (click)="createForm.submit()"
    >{{ 'create' | translate }}</button>
    <button aui-button (click)="hideCreate()">{{ 'cancel' | translate }}</button>
  </mat-dialog-actions>
</ng-template>