.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.aui-table {
  &__column-name {
    flex: 1;
  }
  &__column-secret {
    flex: 1;
  }
  &__column-creationTimestamp {
    flex: 1;
  }
  &__column-description {
    flex: 2;
  }
}
