<aui-card *ngIf="type === 'repo'">
  <div
    auiCardHeader
    class="header"
  >
    {{'pipeline.from_repo'|translate}}
  </div>
  <div class="basic-body">
    <div class="field">
      <label>{{'pipeline.from_repo'|translate}}</label>
      <span title="{{source?.repo}}">{{source?.repo || '-'}}</span>
    </div>
    <div class="field">
      <label>{{'pipeline.branch'|translate}}</label>
      <span>{{source?.branch || '-'}}</span>
    </div>
    <div class="field">
      <label>
        {{'pipeline.jenkinsfile_path'|translate}}
      </label>
      <span>{{source?.path|| '-'}}</span>
    </div>
  </div>
</aui-card>
<aui-card *ngIf="type === 'script'">
  <div
    auiCardHeader
    class="header"
  >
    {{'pipeline.jenkinsfile'|translate}}
  </div>
  <div class="jenkinsfile-content">
    <aui-code-editor
      [options]="editorOptions"
      [(ngModel)]="source"
    ></aui-code-editor>
  </div>
</aui-card>
