.header {
  font-size: 18px;
}
.basic-body {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;

  .field {
    width: 50%;
    padding-right: 24px;
    margin-bottom: 12px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    label::after {
      content: ':';
      margin-right: 8px;
    }
  }
}

.jenkinsfile-content {
  margin: 12px 0;
}
