<div
  mat-dialog-header
  class="mat-dialog-header"
>
  <span>
    <span>{{ history.name }}</span>
    <span>{{ 'logs' | translate }}</span>
  </span>
  <a
    class="close"
    href="javascript:void(0)"
    (click)="cancel()"
  >
    <mat-icon svgIcon="close"></mat-icon>
  </a>
</div>
<mat-dialog-content>
  <div class="diagram">
    <aui-pipeline-preview-diagram
      *ngIf="history?.jenkins?.stages?.length"
      [stages]="history.jenkins.stages"
    ></aui-pipeline-preview-diagram>
  </div>
  <div
    class="logs-content"
    *aloAsyncData="let loading;
    handler: fetchLogs;
    pullIn: more ? 2000 : 0"
  >
    <alo-log-view
      [logs]="text"
      [paginated]="false"
      [pullEnabled]="true"
      [pullToggleEnabled]="false"
    ></alo-log-view>
  </div>
</mat-dialog-content>
