aui-inline-alert {
  display: block;
  margin-top: 20px;
}

.status {
  display: flex;
  height: 140px;
  border: dashed 1px #ccc;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  color: #999;
  > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    > aui-icon {
      margin-right: 8px;
      font-size: 16px;
    }
  }
}

.secrets {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  > li {
    flex-shrink: 0;
    width: 33.33333%;
    padding: 8px 0px;
  }
}
