<aui-form-item>
  <label auiFormItemLabel>{{'pipeline.repository'|translate}}</label>
  <alo-repository-selector
    [style.width]="'100%'"
    auiFormItemControl
    [formControl]="form.controls.repo"
    [namespace]="namespace"
    required
  ></alo-repository-selector>
</aui-form-item>
<aui-form-item>
  <label auiFormItemLabel>{{'pipeline.branch'|translate}}</label>
  <input
    auiFormItemControl
    aui-input
    [formControl]="form.controls.branch"
    required
  >
</aui-form-item>
<aui-form-item>
  <label auiFormItemLabel>
    {{'pipeline.jenkinsfile_path'|translate}}
  </label>
  <input
    auiFormItemControl
    aui-input
    [formControl]="form.controls.path"
    required
  >
</aui-form-item>
