<div class="create-resource">
  <a href="javascript:void(0)" (click)="openYamlCreateDialog()">
    <aui-icon icon="basic:plus"></aui-icon>
    <span>{{ 'create_resource' | translate }}</span>
  </a>
</div>
<div class="user-actions">
  <a href="javascript:void(0)" [auiDropdown]="userActionsMenu">
    <aui-icon icon="basic:account_circle_s"></aui-icon>
    <span>{{ (auth.state$ | async)?.account?.name || 'ServiceAccount' }}</span>
  </a>
</div>

<aui-menu #userActionsMenu>
  <aui-menu-item
    *ngIf="!isWorkspace"
    routerLink="/home/projects"
    routerLinkActive="hidden"
    [routerLinkActiveOptions]="{ exact: false }"
  >{{ 'home' | translate }}</aui-menu-item>
  <aui-menu-item
    routerLink="/admin"
    routerLinkActive="hidden"
    [routerLinkActiveOptions]="{ exact: false }"
    *ngIf="!isAsfPath"
  >{{ 'admin' | translate }}</aui-menu-item>
  <aui-menu-item
    (click)="auth.toPortal()"
    *ngIf="(auth.state$ | async)?.portalHost"
  >{{ 'platform_center' | translate }}</aui-menu-item>
  <aui-menu-item
    *ngIf="thirdPartyPortalEnabled"
    routerLink="/home"
    routerLinkActive="hidden"
    [routerLinkActiveOptions]="{ exact: true }"
  >{{ 'portal' | translate }}</aui-menu-item>
  <aui-menu-item
    (click)="toggleLanguage()"
  >{{ otherLanguage === 'zh' ? '中文' : 'English' }}</aui-menu-item>
  <aui-menu-item
    (click)="auth.logout()"
    *ngIf="(auth.state$ | async).enabled"
  >{{ 'logout' | translate }}</aui-menu-item>
</aui-menu>

<ng-template #yamlCreateDialog>
  <div mat-dialog-header class="mat-dialog-header">
    <span>{{ 'create_resource' | translate }}</span>
  </div>
  <mat-dialog-content>
    <aui-code-editor
      [options]="editorOptions"
      [originalValue]="orignalYaml"
      [(ngModel)]="yaml"
    >
    </aui-code-editor>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      aui-button="primary"
      [size]="small"
      (click)="createResource()"
    >
      {{ 'create' | translate }}
    </button>
    <button
      aui-button
      mat-dialog-close
    >
      {{ 'cancel' | translate }}
    </button>
  </mat-dialog-actions>
</ng-template>
