:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  & > div {
    padding: 4px 20px;
    & + div {
      border-left: solid 1px #fff;
      padding-right: 0px;
    }
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #fff;
      aui-icon {
        margin-right: 8px;
        ::ng-deep .aui-icon {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
