<div class="alo-tool-list">
    <div
        *ngFor="let tool of tools;trackBy: trackByName"
        class="alo-tool-card"
        [class.isSelected]="selectedTool === tool.name"
        (click)="handleCardClicked(tool)"
    >
        <div class="icon-stack">
            <img
                class="type-icon"
                [src]="'assets/icons/tool-chain/' + tool.type.toLowerCase() + '.svg'"
            >
            <img
                *ngIf="tool.enterprise"
                class="enterprise-mark"
                [src]="enterpriseIcon$ | async"
            >
        </div>
        <div class="name">
            {{ (translate.currentLang$ | async) === 'zh' ? tool.displayName.zh : tool.displayName.en}}</div>
        <div
            *ngIf="showType"
            class="tool-type"
        >{{ snakeCase(tool.toolType) | translate }}</div>
        <aui-icon
            *ngIf="isSelected"
            class="selected-mark"
            icon="check_triangle_s"
        ></aui-icon>
    </div>
</div>
