<aui-dialog-header>{{ title }}</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm">
    <alo-key-value-form [(ngModel)]="labels" name="labels"></alo-key-value-form>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" [disabled]="form.invalid || updating" (click)="onConfirm()">{{ 'update' | translate }}</button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
