.empty-list-hint {
  padding: 80px 0;
  font-size: 14px;
  text-align: center;
  color: #999999;
  border: dashed #cccccc 1px;
}
.helper {
  font-size: 16px;
  color: #999999;
  margin-left: 8px;
}

:host::ng-deep {
  .aui-dialog__content .alo-service-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
