<div
  class="card"
  [class.card--checked]="formValue('enabled')"
>
  <div class="checkbox">
    <aui-checkbox [formControl]="form.controls.enabled"></aui-checkbox>
  </div>
  <div class="v-line"></div>
  <div class="input">
    <div class="title">
      <aui-icon
        [icon]="'basic:'+ (index? 'time': 'code')"
        [ngClass]="{enabled:formValue('enabled')}"
      ></aui-icon>
      {{(index ? 'pipeline.cron_trigger' : 'pipeline.code_change_trigger')|translate}}
    </div>
    <hr>
    <div>
      <aui-form-item>
        <label auiFormItemLabel>{{'pipeline.trigger_cron'|translate}}</label>
        <aui-select
          *ngIf="!index"
          auiFormItemControl
          placeholder="{{'pipeline.trigger_select_input_placeholder'|translate}}"
          [formControl]="form.controls.cron_string"
          [filterable]="true"
          [allowCreate]="true"
          [placeholder]="select_or_input|translate"
          [required]="formValue('enabled')"
        >
          <aui-option
            *ngFor="let rule of codeCheckOptions"
            [value]="rule.value"
          >
            {{rule.name|translate}}
          </aui-option>
        </aui-select>
        <input
          *ngIf="index"
          auiFormItemControl
          [formControl]="form.controls.cron_string"
          aui-input
          placeholder="{{'pipeline.cron_example'|translate}}"
          [required]="formValue('enabled')"
        >
      </aui-form-item>
      <div
        *ngIf="!index"
        class="tips"
      >
        {{'pipeline.trigger_tips'|translate}}
      </div>
    </div>
  </div>
</div>
