<div
  *aloPageHeaderContent
  class="page-header"
>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['/admin/projects']">{{ 'projects.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['/admin/projects', (identity$ | async).namespace]">
        {{ (identity$ | async)?.namespace }}
      </a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'project.code_service' | translate }}
      </span>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ (identity$ | async)?.name }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</div>
<ng-container
  *aloAsyncData="
    let data;
    let refresh = refetch;
    handler: fetchCodeBinding;
    params: identity$ | async;
  "
>
  <alo-code-binding-detail
    *ngIf="data"
    [data]="data"
    (updated)="refresh()"
  ></alo-code-binding-detail>
</ng-container>
