.list-status {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #eee;
  color: #ccc;
}

.help {
  color: #999;
  margin-left: 8px;
  &:hover {
    color: #009ce3;
  }
}
