<aui-card>
  <div
    auiCardHeader
    fxLayout
  >
    <span fxLayoutAlign="start center">{{ 'base_info' | translate }}</span>
    <div fxFlex></div>
    <a
      class="alo-menu-button"
      href="javascript:void(0)"
      [auiDropdown]="actions"
    >
      <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
    </a>
    <aui-menu #actions>
      <aui-menu-item (click)="update()" *ngIf="!data.public">{{ 'code.update_service_address' | translate }}</aui-menu-item>
      <aui-menu-item (click)="delete()">{{ 'code.delete_service' | translate }}</aui-menu-item>
    </aui-menu>
  </div>
  <div class="base-body">
    <div class="field">
      <label>{{ 'name' | translate }}</label>
      <span>{{ data.name }}</span>
    </div>
    <!--<div class="field">
      <label>{{ 'code.integrate_by' | translate }}</label>
      <span>-</span>
    </div>-->
    <div class="field">
      <label>{{ 'code.repo_type' | translate }}</label>
      <span>{{ data.type }}</span>
    </div>
    <div class="field">
      <label>{{ 'code.integrate_at' | translate }}</label>
      <span>{{ data.creationTimestamp | aloTime }}</span>
    </div>
    <div class="field full-nowrap">
      <label>{{ 'code.service_address' | translate }}</label>
      <span>{{ data.host }}</span>
    </div>
  </div>
</aui-card>
<aui-card>
  <div
    auiCardHeader
    fxLayout
  >
    <span fxLayoutAlign="start center">
      {{ 'code.binding' | translate }}
    </span>
    <aui-icon
      fxLayoutAlign="start center"
      icon="basic:question"
      size="16px"
      class="help"
      [auiTooltip]="helpContent"
      auiTooltipType="info"
    ></aui-icon>
  </div>
  <div *aloAsyncData="
      let codeBindings;
      let error = error;
      let loading = loading;
      let refresh = refetch;
      handler: fetchCodeBindings;
      params: data.name;
      notification: updated;
    ">
    <alo-code-binding-list
      [data]="codeBindings"
      [itemRoute]="codeBindingRoute"
    ></alo-code-binding-list>
    <div
      class="list-status"
      *ngIf="!codeBindings || !codeBindings.length"
    >
      <span *ngIf="!error && !loading">
        <span>{{ 'code.no_binding_prefix' | translate }}</span>
        <a [routerLink]="['/admin/projects']">{{ 'code.no_binding_link' | translate }}</a>
        <span>{{ 'code.no_binding_suffix' | translate }}</span>
      </span>
      <span *ngIf="loading">
        {{ 'loading' | translate }}
      </span>
      <span *ngIf="error">
        {{ 'retry_on_error' | translate }}
        <a
          href="javascript:void(0)"
          (click)="refresh()"
        >
          {{ 'retry' | translate }}
        </a>
      </span>
    </div>
  </div>
</aui-card>
<ng-template #helpContent>
  <span>{{ 'code.no_binding_prefix_for_tips' | translate }}</span>
  <a [routerLink]="['/admin/projects']">{{ 'code.no_binding_link' | translate }}</a>
  <span>{{ 'code.no_binding_suffix' | translate }}</span>
</ng-template>