.environment-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 4px 8px;
  .item__content {
    flex: 1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 32px;
    padding: 2px 0;
    > input {
      flex: 1;
      margin-right: 8px;
      height: 28px;
      border: solid 1px #ccc;
      box-sizing: border-box;
      outline: none;
      border-radius: 2px;
      padding: 6px;
      min-width: 0;
      font-size: 14px;
      background-color: #fff;
      &::placeholder {
        color: #ccc;
      }
    }
    button {
      height: 28px;
      width: 28px;
      font-size: 14px;
      padding: 0;
      & + button {
        margin-left: 8px;
      }
    }
    .operator {
      width: 64px;
      font-size: 0;
    }
  }
  .item__error {
    flex: 1;
    box-sizing: border-box;
    height: 16px;
    margin-top: 4px;
    color: #eb6262;
    font-size: 12px;
    line-height: 16px;
  }
}
