.alo-steps {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 16px;
  &__step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      &::after {
        content: '';
        height: 1px;
        width: 96px;
        margin: 0 12px;
        display: block;
        background-color: #ccc;
      }
    }
  }
  &__icon {
    display: flex;
    width: 24px;
    height: 24px;
    line-height: 16px;
    border-radius: 100%;
    background-color: #fff;
    border: solid 2px #999;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    color: #999;
    &--active {
      background-color: #009ce3;
      border-color: #009ce3;
      color: #fff;
    }
    &--complete {
      background-color: #fff;
      color: #009ce3;
      border-color: #009ce3;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}
