<ng-container *aloAsyncData="
  let history;
  params: params$|async;
  handler: fetchData;
  pullIn: running ? 4000 : 0">
  <ng-container *aloPageHeaderContent>
    <alo-breadcrumb>
      <ng-template aloBreadcrumbItem>
        <a [routerLink]="['../']">{{ 'pipeline.list' | translate }}</a>
      </ng-template>
      <ng-template aloBreadcrumbItem>{{ history?.name }}</ng-template>
    </alo-breadcrumb>
  </ng-container>
  <div class="card">
    <alo-pipeline-history-basic-info
      [namespace]="namespace"
      [history]="history"
      (statusChange)="pipelineStatusChange($event)"
    ></alo-pipeline-history-basic-info>
  </div>
  <alo-pipeline-history-detail-log
    [namespace]="namespace"
    [history]="history"
  ></alo-pipeline-history-detail-log>
</ng-container>
