<router-outlet></router-outlet>
<div *ngIf="(auth.state$ | async)?.error" class="application-error">
  <div class="application-error__info">{{ 'load_application_config_fail' | translate }}</div>
</div>