.title {
  display: flex;
  align-items: center;
  aui-icon {
    line-height: 1;
    font-size: 16px;
    margin-left: 8px;
    color: #999;
    &:hover {
      color: #009ce3;
    }
  }
}
.mat-dialog-header {
  margin-bottom: 12px;
}
