<div 
  class="mat-dialog-header"
  mat-dialog-header>
  <div class="title">
    {{ 'microservice_environments.bind' | translate }}
    <aui-icon
      class="help"
      icon="basic:question"
      size="16px"
      [auiTooltip]="helpContent"
      auiTooltipType="info">
    </aui-icon>
  </div>
  <a
    class="close"
    href="javascript:void(0)"
    (click)="close()"
    mat-dialog-close>
    <aui-icon icon="close"></aui-icon>
  </a>
</div>
<mat-dialog-content>
  <form 
    auiForm
    auiFormLabelWidth="120px"
    [auiFormEmptyAddon]="true"
    novalidate
    #form="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'asf.microservice_environment' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="name"
        required
        [loading]="loading"
        [disabled]="loading || !options.length"
        [(ngModel)]="model.name"
        #name="ngModel">
        <aui-option 
          *ngFor="let name of options"
          [value]="name">{{ name }}</aui-option>
      </aui-select>
      <div
        auiFormItemError
        *ngIf="name.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
      <div 
        auiFormItemHint
        *ngIf="options.length">
        {{ 'microservice_environments.bind_name_help' | translate }}
      </div>
      <div 
        auiFormItemHint
        *ngIf="!options.length">
        {{ 'microservice_environments.bind_no_prefix' | translate }}
        <a [routerLink]="['/admin/asf/microservice-environments/create']">{{ 'microservice_environments.go_setup' | translate }}</a>
        {{ 'microservice_environments.bind_no_or' | translate }}
        <a [routerLink]="['/admin/asf/microservice-environments']">{{ 'microservice_environments.go_list' | translate }}</a>
        {{ 'microservice_environments.bind_no_suffix' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'microservice_environments.bind_description' | translate }}</label>
      <textarea
        auiFormItemControl
        name="description"
        #description="ngModel"
        aui-input
        [(ngModel)]="model.description"
      ></textarea>
    </aui-form-item>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    aui-button="primary"
    [loading]="saving || loading"
    [disabled]="saving"
    (click)="bind()">
    {{ 'asf.bind' | translate }}
  </button>
  <button
    aui-button
    mat-dialog-close>
    {{ 'cancel' | translate }}
  </button>
</mat-dialog-actions>
<ng-template #helpContent>
  <span>{{ 'microservice_environments.bind_title_help' | translate }}</span>
</ng-template>