<aui-dialog-header>
  <div class="info">
    <span class="name">{{template.name}}</span>
    <span class="version">{{template.version}}</span>
  </div>
</aui-dialog-header>
<aui-dialog-content>
  <div class="stage">
    <aui-pipeline-status-diagram
      *ngIf="template?.stages?.length"
      [stages]="template?.stages"
      [hideStatus]="true"
    ></aui-pipeline-status-diagram>
  </div>
  <div class="params-info">
    <div class="title">{{'basic_info'|translate}}</div>
    <div class="description">
      <label>{{'name'|translate}}</label>
      <span class="content">{{template.name}}</span>
    </div>
    <div class="description">
      <label>{{'description'|translate}}</label>
      <span class="content">{{getDescription()}}</span>
    </div>
    <div class="description">
      <label>{{'labels'|translate}}</label>
      <span class="content labels">
        <span
          *ngFor="let label of template.labels"
          class="label"
        >
          <aui-icon *ngIf="customLabelIndex.includes(label.key); else labelText">{{label.value}}</aui-icon>
          <ng-template #labelText>{{label.key + ':' + label.value}}</ng-template>
        </span>
        <span
          *ngIf="!template?.labels?.length"
          class="no-label"
        >
          {{'pipeline.no_label'|translate}}
        </span>
      </span>
    </div>
  </div>
  <div>
    <div class="title">{{'parameter'|translate}}</div>
    <div
      class="parameter-field"
      *ngFor="let argument of template.arguments"
    >
      <alo-pipeline-template-detail-parameter-table [parameterField]="argument"></alo-pipeline-template-detail-parameter-table>
    </div>
  </div>
</aui-dialog-content>
