<form 
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="!updating"
  novalidate
  #form="ngForm"
>
<ng-container *ngIf="!updating">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        auiFormItemControl
        name="name"
        #name="ngModel"
        aui-input
        required
        [maxLength]="30"
        placeholder="{{ 'microservice_environments.name_pattern' | translate }}"
        pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
        [(ngModel)]="model.name"
      />
      <div
        auiFormItemError
        *ngIf="name.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
      <div
        auiFormItemError
        *ngIf="name.errors?.pattern"
      >
        {{ 'microservice_environments.name_pattern' | translate }}
      </div>
      <ng-container *ngIf="updating">{{ model.name }}</ng-container>
    </aui-form-item>
  </ng-container>
  <ng-container *ngIf="updating">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <div>{{ model.name }}</div>
    </aui-form-item>
  </ng-container>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input
      auiFormItemControl
      name="displayName"
      #displayName="ngModel"
      aui-input
      [(ngModel)]="model.displayName"
    />
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'description' | translate }}</label>
    <textarea
      auiFormItemControl
      name="description"
      #displayName="ngModel"
      aui-input
      [(ngModel)]="model.description"
    ></textarea>
  </aui-form-item>
</form>
<div class="form-actions">
  <button
    aui-button="primary"
    [disabled]="saving"
    [loading]="saving"
    (click)="save()"
  >
    {{ (updating?'update':'create') | translate }}
  </button>
  <button 
    aui-button
    (click)="complete.emit(null)">
    {{ 'cancel' | translate }}
  </button>
</div>