<ng-container *aloPageHeaderContent>
    <alo-breadcrumb>
        <ng-template aloBreadcrumbItem>
            <span>
                {{ 'nav_tool_chain' | translate }}
            </span>
        </ng-template>
    </alo-breadcrumb>
</ng-container>

<aui-card>
    <div auiCardHeader>
        <button
            aui-button="primary"
            [disabled]="!(toolTypes$ | async) || !(toolTypes$ | async).length"
            (click)="integrateTool()"
        >
            {{ 'tool_chain.integrate' | translate }}
        </button>
    </div>
    <alo-tool-type-bar
        [(selectedType)]="selectedType"
        (selectedTypeChange)="selectedType$$.next($event)"
        [types]="toolTypes$ | async"
        [resources]="allServices$ | async"
    ></alo-tool-type-bar>
    <alo-service-list
        *ngIf="hasServices$ | async"
        [services]="filteredServices$ | async"
        [showTag]="selectedType === 'all'"
        (cardClick)="navigateToDetail($event)"
    ></alo-service-list>
    <div
        *ngIf="!(hasServices$ | async)"
        class="empty-list-hint"
    >
</div>
</aui-card>
