.alo-integrate-tool {
  .integrate-form {
    margin-top: 16px;
    padding-top: 16px;
    border-top: dashed 1px #eeeeee;
  }

  .no-tools-placeholder {
    line-height: 64px;
    text-align: center;
  }
}
