<aui-dialog-header>{{ 'tool_chain.integrate' | translate }}</aui-dialog-header>
<aui-dialog-content>
    <div class="alo-integrate-tool">
        <alo-tool-type-bar
            [(selectedType)]="selectedType"
            (selectedTypeChange)="toolList.clearSelection()"
            [types]="toolTypes"
        ></alo-tool-type-bar>
        <alo-tool-list
            #toolList
            [tools]="getCurrentTools()"
            [showType]="selectedType === 'all'"
            (selectedChange)="handleSelectedToolChange($event)"
        ></alo-tool-list>
        <div *ngIf="!getCurrentTools().length" class="no-tools-placeholder">
            {{ 'tool_chain.no_tools_to_integrate' | translate }}
        </div>
        <form
            *ngIf="selectedTool"
            #form="ngForm"
            auiForm
            [auiFormEmptyAddon]="true"
            auiFormLabelWidth="150px"
            class="integrate-form"
        >
            <aui-form-item>
                <label auiFormItemLabel>{{ 'name' | translate }}</label>
                <input
                    name="name"
                    #name="ngModel"
                    aui-input
                    auiFormItemControl
                    required
                    [maxLength]="30"
                    pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
                    [(ngModel)]="formData.name"
                >
                <div
                    auiFormItemError
                    *ngIf="name.errors?.required"
                >{{ 'required' | translate }}</div>
                <div
                    auiFormItemError
                    *ngIf="name.errors?.pattern"
                >{{ 'pattern' | translate}}</div>
                <div
                    auiFormItemError
                    *ngIf="name.errors?.maxLength"
                >{{ 'max_length' | translate}}: 30</div>
            </aui-form-item>
            <aui-form-item>
                <label auiFormItemLabel>{{ 'tool_chain.api_address' | translate }}</label>
                <input
                    name="host"
                    #host="ngModel"
                    aui-input
                    auiFormItemControl
                    required
                    pattern="^(https?)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]$"
                    [disabled]="selectedTool.public"
                    [(ngModel)]="formData.host"
                >
                <div
                    auiFormItemError
                    *ngIf="host.errors?.required"
                >{{ 'required' | translate }}</div>
                <div
                    auiFormItemError
                    *ngIf="host.errors?.pattern"
                >{{ 'pattern' | translate}}</div>
            </aui-form-item>
        </form>
    </div>
</aui-dialog-content>
<aui-dialog-footer>
    <div>
        <button
            aui-button="primary"
            (click)="integrate()"
            [loading]="loading"
            [disabled]="loading || !selectedTool"
        >
            {{ 'tool_chain.integrate' | translate }}
        </button>
        <button
            aui-button
            [auiDialogClose]="null"
            [disabled]="loading"
        >
            {{ 'cancel' | translate }}
        </button>
    </div>
</aui-dialog-footer>
