<div
  *aloPageHeaderContent
  class="page-header"
>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../']">{{ 'pipeline.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>{{ (pipeline$ | async)?.name }}</span>
    </ng-template>
  </alo-breadcrumb>
  <button
    aui-button="primary"
    [plain]="true"
    [size]="size"
    [auiDropdown]="actions"
    [disabled]="!(pipeline$ | async)?.name"
  >
    {{ 'action' | translate }}
    <aui-icon
      icon="angle_down"
      margin="left"
    ></aui-icon>
  </button>
</div>
<aui-menu #actions>
  <aui-menu-item (click)="triggerPipeline()">{{ 'start' | translate }}</aui-menu-item>
  <aui-menu-item (click)="updatePipeline()">{{ 'update' | translate }}</aui-menu-item>
  <aui-menu-item (click)="copyPipeline()">{{ 'copy' | translate }}</aui-menu-item>
  <aui-menu-item
    (click)="deletePipeline()"
    type="danger"
    [divide]="true"
  >
    {{ 'delete' | translate }}
  </aui-menu-item>
</aui-menu>
<ul class="tabs">
  <li
    class="tab-label"
    [class.active]="activeTab === 'base'"
  >
    <a
      href="javascript:void(0)"
      (click)="changeTab('base')"
    >
      {{ 'detail' | translate }}
    </a>
  </li>
  <li
    class="tab-label"
    [class.active]="activeTab === 'jenkinsfile'"
  >
    <a
      href="javascript:void(0)"
      (click)="changeTab('jenkinsfile')"
    >
      {{'pipeline.pipeline_design'|translate}}
    </a>
  </li>
</ul>
<div [hidden]="activeTab !== 'base'">
  <alo-basic-info [pipeline]="pipeline$ | async"></alo-basic-info>
  <div class="histories">
    <alo-pipeline-histories
      [namespace]="namespace"
      [name]="name"
    ></alo-pipeline-histories>
  </div>
</div>
<div *ngIf="activeTab === 'jenkinsfile'">
  <alo-pipeline-design-container [pipelineConfig]="pipeline$|async"></alo-pipeline-design-container>
</div>
