.alo-card {
  & + .alo-card {
    margin-top: 20px;
  }
}

.jenkinsfile-actions {
  margin-top: 12px;
}

$history-block: aui-table;

.#{$history-block} {
  min-width: 0px;
  &__column-name {
    flex: 1;
  }
  &__column-status {
    flex: 1;
  }
  &__column-time {
    flex: 1;
  }
  &__column-cause {
    flex: 1;
  }
  &__column-actions {
    max-width: 40px;
  }
}

$queued: #009ce3;
$pending: #009ce3;
$running: #009ce3;
$failed: #eb6262;
$complete: #1bb393;
$cancelled: #cccccc;
$aborted: #f8ac58;
$unknown: #cccccc;

$status-color-map: (
  pending: $pending,
  queued: $queued,
  running: $running,
  failed: $failed,
  complete: $complete,
  cancelled: $cancelled,
  aborted: $aborted,
  unknown: $unknown,
);

.history-status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  .aui-icon {
    color: #ccc;
    border-radius: 50%;
    margin-right: 8px;
  }

  @each $status, $color in $status-color-map {
    &.#{$status} {
      .aui-icon {
        color: $color;
      }
    }
  }
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.histories {
  margin-top: 20px;
}
