<aui-dialog-header>
  <span>{{ 'secret.create_secret' | translate }}</span>
</aui-dialog-header>
<aui-dialog-content>
  <alo-secret-edit
    mode="create"
    [namespace]="data.namespace"
    [types]="data.types"
    #editor="alo-secret-edit"
    (saved)="close($event)"
  >
  </alo-secret-edit>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="editor.saving || editor.loading"
    [loading]="editor.saving"
    (click)="editor.submit()"
  >
    {{ 'create' | translate }}
  </button>

  <button
    aui-button
    auiDialogClose
  >
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
