$white: #fff !default;
$white-100: #f2fafe !default;
$white-200: #fafafa !default;
$white-300: #ededed !default;

$black: #000 !default;
$black-333: #333 !default;
$black-400: #4d4d4d !default;
$black-666: #666 !default;
$black-999: #999 !default;

$gray: #ccc !default;
$gray-1: #eeeeee !default;
$gray-100: #d2d2d2 !default;
$gray-200: #f7f7f7 !default;

$blue-100: #21aee8 !default;
$blue-200: #0389c7 !default;
$blue-300: #009ce3 !default;
$blue-400: #0099f5 !default;
$blue-500: #0079c2 !default;
$blue-600: #24a7e3 !default;

$red-100: #fa5f6b !default;
$red-200: #eb6262 !default;

$orange-100: #f8ac58 !default;

$green-100: #41c969 !default;
$green-200: #1bb393 !default;
$green-300: #36b37e !default;
