<alo-card>
  <alo-card-section type="edit">
    <div aloCardSectionHeader>
      {{ 'create_application_by_image' | translate }}
    </div>
    <div aloCardSectionBody>
      <form #form="ngForm" (ngSubmit)="create()">
        <aui-form-field
          [label]="'name' | translate"
          [required]="true"
          size="full"
          [error]="fieldError('name')"
        >
          <input
            [(ngModel)]="model.name"
            name="name"
            required
            pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
          />
          <span auiErrorHint>{{ fieldError('name') | translate }}</span>
        </aui-form-field>
        <aui-form-field
          [label]="'image_address' | translate"
          [required]="true"
          size="full"
          [error]="fieldError('imageAddress')"
        >
          <input [(ngModel)]="model.imageAddress" name="imageAddress" required />
          <span auiErrorHint>{{ fieldError('imageAddress') | translate }}</span>
        </aui-form-field>
        <aui-form-field
          [label]="'secret' | translate"
          size="full"
        >
          <select [(ngModel)]="model.secret" name="secret" >
            <option ngValue="">{{ 'not_use' | translate }}</option>
            <option *ngFor="let secret of secrets" [ngValue]="secret.name">
              {{ secret.displayName }}
            </option>
          </select>
        </aui-form-field>
        <aui-form-field
          [label]="'ports' | translate"
          [error]="fieldError('port')"
        >
          <select [(ngModel)]="model.protocol" name="protocal">
            <option ngValue="TCP">TCP</option>
            <option ngValue="UDP">UDP</option>
          </select>
          <input
            [(ngModel)]="model.port"
            name="port"
            type="number"
            pattern="^([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$"
          />
          <span auiErrorHint>{{ fieldError('port') | translate }}</span>
        </aui-form-field>
        <aui-form-field
          [label]="'domain' | translate"
          size="full"
        >
          <input [(ngModel)]="model.domain" name="domain" />
        </aui-form-field>
        <aui-form-field
          [label]="'environment_variables' | translate"
          size="full"
        >
          <alo-env-vars [(ngModel)]="model.envVars" name="envVars"></alo-env-vars>
        </aui-form-field>
      </form>
    </div>
    <div aloCardSectionFooter>
      <button aui-button="primary" (click)="submit()">{{ 'create' | translate }}</button>
      <button aui-button (click)="canceled.emit()">{{ 'cancel' | translate }}</button>
    </div>
  </alo-card-section>
</alo-card>