<form
  [hidden]="createError || createPartSuccess"
  (ngSubmit)="save()"
  #form="ngForm"
  novalidate
>
  <alo-card>
    <alo-card-section
      type="edit"
      *ngFor="let group of values$ | async; let i = index"
    >
      <div aloCardSectionHeader>
        {{ group.displayName }}
      </div>
      <div aloCardSectionBody>
        <div class="group-fields">
          <aui-form-field
            *ngFor="let item of group.items"
            [label]="item.displayName"
            [required]="item.required"
            [error]="fieldError(item.key)"
            size="full"
          >
            <ng-container [ngSwitch]="item.type">
              <ng-container *ngSwitchCase="'select'">
                <select
                  [required]="item.required"
                  [(ngModel)]="model[item.key]"
                  [name]="item.key"
                >
                  <option
                    *ngIf="!item.required"
                    ngValue=""
                  >
                    {{ 'not_use' | translate }}
                  </option>
                  <option
                    [ngValue]="option.value"
                    *ngFor="let option of item.options"
                  >
                    {{ option.text }}
                  </option>
                </select>
              </ng-container>
              <ng-container *ngSwitchCase="'number'">
                <input
                  type="number"
                  [required]="item.required"
                  [(ngModel)]="model[item.key]"
                  [name]="item.key"
                  [pattern]="item.validation.pattern"
                  [maxLength]="item.validation.maxLength || MAX_LENGTH"
                />
              </ng-container>
              <ng-container *ngSwitchCase="'integer'">
                <input
                  type="number"
                  step="1"
                  [required]="item.required"
                  [(ngModel)]="model[item.key]"
                  [name]="item.key"
                  [pattern]="item.validation.pattern"
                  [maxLength]="item.validation.maxLength || MAX_LENGTH"
                />
              </ng-container>
              <ng-container *ngSwitchCase="'radio'">
                <select
                  [required]="item.required"
                  [(ngModel)]="model[item.key]"
                  [name]="item.key"
                >
                </select>
              </ng-container>
              <ng-container *ngSwitchCase="'password'">
                <input
                  type="password"
                  [required]="item.required"
                  [(ngModel)]="model[item.key]"
                  [name]="item.key"
                  [pattern]="item.validation.pattern"
                  [maxLength]="item.validation.maxLength || MAX_LENGTH"
                />
              </ng-container>
              <ng-container *ngSwitchDefault>
                <input
                  [required]="item.required"
                  [(ngModel)]="model[item.key]"
                  [name]="item.key"
                  [pattern]="item.validation.pattern"
                  [maxLength]="item.validation.maxLength || MAX_LENGTH"
                />
              </ng-container>
            </ng-container>
            <span auiHint>{{ item.description }}</span>
            <span auiErrorHint>{{ fieldError(item.key) | translate }}</span>
          </aui-form-field>
        </div>
      </div>
      <div
        aloCardSectionFooter
        *ngIf="i === (values$ | async).length - 1"
      >
        <button
          aui-button="primary"
          type="submit"
          [disabled]="saving$ | async"
        >{{ 'create' | translate }}</button>
        <button
          aui-button
          type="button"
          (click)="cancel()"
        >{{ 'cancel' | translate }}</button>
      </div>
    </alo-card-section>
  </alo-card>
</form>

<ng-template #savingDialog>
  <mat-dialog-content>
    <div class="spinner-icon">
      <aui-icon icon="spinner"></aui-icon>
    </div>
    <div class="spinner-tip">{{ 'creating' | translate }}</div>
  </mat-dialog-content>
</ng-template>

<ng-container *ngIf="createError">
  <alo-template-resource-report
    [title]="'application.application_name_create_fail' | translate:{name:applicationName}"

    failOrSuccess="fail"
    [reports]="reports"
    [errorMessage]="errorMessage"
    (create)="save()"
    (back)="cancel()"
  >
  </alo-template-resource-report>
</ng-container>

<ng-container *ngIf="createPartSuccess">
  <alo-template-resource-report
    [title]="'application.application_name_create_part_success' | translate:{name:applicationName}"

    failOrSuccess="success"
    [reports]="reports"
    (create)="save()"
    (detail)="viewDetail()"
    (delete)="delete()"
  >
  </alo-template-resource-report>
</ng-container>
