<div class="header">
  <span class="title">
    {{ 'create_application_by_yaml' | translate }}
  </span>
</div>
<aui-code-editor [options]="editorOptions" [(ngModel)]="yaml"></aui-code-editor>
<div class="footer">
  <button aui-button="primary" (click)="create()">{{ 'create' | translate }}</button>
  <button aui-button (click)="canceled.emit()">{{ 'cancel' | translate }}</button>
</div>