@import 'variables';

:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $margin-base;
  display: flex;
  flex-direction: column;
  .header {
    flex-shrink: 0;
    margin-bottom: $margin-12;
    .title {
      font-size: $font-size-20;
      font-weight: 200;
    }
  }
  aui-code-editor {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-12;
    ::ng-deep .aui-code-editor {
      flex: 1;
    }
  }
  .footer {
    flex-shrink: 0;
  }
}
