@import 'variables';

$report-color-map: (
  fail: $red-200,
  success: $green-300,
);

.report {
  border-radius: 2px;
  border: 1px solid $white-300;
  padding: 16px 32px;
  margin-top: 16px;

  &__header {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &__content {
    .item {
      display: flex;
      flex-direction: row;
      &:nth-child(n + 2) {
        margin-top: 8px;
      }
      @each $status, $color in $report-color-map {
        label.#{$status} {
          line-height: 20px;
          &:after {
            content: ' ';
            width: 6px;
            height: 6px;
            background-color: $color;
            border-radius: 6px;
            display: table;
            margin: 7px;
          }
        }
      }

      .detail {
        flex: 1;
        display: flex;
        flex-direction: column;
        .collapse {
          margin: 4px 0;
          color: $blue-600;
        }
        .error {
          border-radius: 2px;
          background-color: $gray-200;
          padding: 8px 16px;
          color: $black-666;
        }
      }
    }
  }
}
