@import 'variables';

$report-color-map: (
  fail: $red-200,
  success: $green-300,
);

::ng-deep {
  .alo-console .aui-card {
    padding: 40px 140px;
  }

  .alo-console .aui-card__header {
    padding-bottom: 40px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  &_icon {
    margin-right: 32px;
    ::ng-deep {
      svg {
        width: 48px;
        height: 48px;
      }
    }

    @each $status, $color in $report-color-map {
      .#{$status} {
        color: $color;
      }
    }
  }
  &_content {
    flex: 1;

    &__text {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 20px;
      font-weight: 500;
    }
  }
}
.title {
  font-size: 18px;
  color: $black-333;
}

::ng-deep {
  div.report {
    border: 0;
    padding: 0;
  }
}
