<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['/admin/asf/microservice-environments']">{{ 'microservice_environments.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ name }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-card>
  <alo-card-section type="detail">
    <div aloCardSectionHeader class="base-header">
      {{ 'base_info' | translate }}
      <div>
        <alo-menu-trigger [menu]="actionsMenu"></alo-menu-trigger>
        <aui-menu #actionsMenu>
          <aui-menu-item (click)="update()">
            {{ 'microservice_environments.update_basic_info' | translate }}
          </aui-menu-item>
          <aui-menu-item 
            (click)="delete()"
            [divide]="true"
            type="danger">
            {{ 'microservice_environments.delete' | translate }}
          </aui-menu-item>
        </aui-menu>
      </div>
    </div>
    <div aloCardSectionBody class="base-body">
      <div class="field">
        <label>{{ 'name' | translate }}</label>
        <span>{{ detail?.microservicesEnvironment.objectMeta.name }}</span>
      </div>
      <div class="field">
        <label>{{ 'create_at' | translate }}</label>
        <span>{{ detail?.microservicesEnvironment.objectMeta.creationTimestamp | aloTime }}</span>
      </div>
      <div class="field">
        <label>{{ 'display_name' | translate }}</label>
        <span>{{ detail?.microservicesEnvironment.objectMeta.annotations['alauda.io/displayName'] || '-' }}</span>
      </div>
      <div class="field">
        <label>{{ 'description' | translate }}</label>
        <span>{{ detail?.microservicesEnvironment.objectMeta.annotations['alauda.io/description'] || '-' }}</span>
      </div>
      <div class="field full">
        <label>{{ 'microservice_environments.binding_project' | translate }}</label>
        <span>
          <a *ngIf="hasProject; else noProject" [routerLink]="['/admin/projects/', detail?.microservicesEnvironmentBindings[0].objectMeta.namespace]">
            {{ detail?.microservicesEnvironmentBindings[0].objectMeta.namespace }}
          </a>
          <ng-template #noProject>-</ng-template>
        </span>
      </div>
    </div>
  </alo-card-section>
</alo-card>
<aui-card>
  <div auiCardHeader>
    <div class="components-title">
      <span>
        {{ 'microservice_environments.components' | translate }}
      </span>
      <aui-icon class="help" icon="basic:question" size="16px" [auiTooltip]="helpContent" auiTooltipType="info">
      </aui-icon>
    </div>
  </div>
  <div auiCardContent class="components-body">
    <alo-microservice-component-install 
      *ngIf="detail"
      [components]="detail.microservicesComponents"
      [environment]="detail.microservicesEnvironment">
    </alo-microservice-component-install>
  </div>
</aui-card>

<ng-template #helpContent>
  <span>
    {{ 'microservice_environments.install_help_prefix' | translate }}
    <a [routerLink]="['/admin/projects']">{{ 'microservice_environments.go_projects' | translate }}</a>
    {{ 'microservice_environments.install_help_suffix' | translate }}
  </span>
</ng-template>

