alo-card {
  margin-bottom: 12px;
}
.base-header {
  ::ng-deep aui-dropdown-button {
    .aui-dropdown-button {
      display: inline-flex;
    }
  }
}
.components {
  .alo-card__section-header {
    border-bottom: 1px solid #eee;
  }
  &-title {
    display: flex;
    aui-icon {
      font-size: 16px;
      color: #999;
      margin-left: 8px;
    }
  }
}
