<div
  mat-dialog-header
  class="mat-dialog-header"
>
  <span>{{ 'code.create_service' | translate }}</span>
  <a
    class="close"
    href="javascript:;"
    (click)="close()"
  >
    <mat-icon svgIcon="close"></mat-icon>
  </a>
</div>
<mat-dialog-content>
  <form
    auiForm
    auiFormLabelWidth="160px"
    [auiFormEmptyAddon]="true"
    (ngSubmit)="save()"
    novalidate
    #form="ngForm"
  >
    <div
      *ngIf="data.mode === 'create'"
      class="alo-service-type-selector"
    >
      <div
        class="alo-service-type-selector__group"
        *ngIf="serviceTypeGroups.public.length"
      >
        <div class="alo-service-type-selector__group-title">{{ 'code.public' | translate }}</div>
        <div class="alo-service-type-selector__group-content">
          <div
            *ngFor="let item of serviceTypeGroups.public"
            class="alo-service-type-selector__option"
            [class.alo-service-type-selector__option--active]="model.public && model.type === item.type"
        
            (click)="selectServiceType(item)"
          >
            <img [src]="'assets/icons/code-repo/' + item.type.toLowerCase() + '@2x.png'" />
            <span [auiTooltip]="(currentLang$ | async) === 'zh' ? item.displayName.zh : item.displayName.en">{{ (currentLang$ | async) === 'zh' ? item.displayName.zh : item.displayName.en
              }}
            </span>
            <aui-icon
              icon="check_triangle_s"
              *ngIf="model.public && model.type === item.type"
              class="alo-service-type-selector__active-icon"
            ></aui-icon>
          </div>
          <div class="alo-service-type-selector__option-placeholder"></div>
          <div class="alo-service-type-selector__option-placeholder"></div>
          <div class="alo-service-type-selector__option-placeholder"></div>
        </div>
      </div>
      <div
        class="alo-service-type-selector__group"
        *ngIf="serviceTypeGroups.private.length"
      >
        <div class="alo-service-type-selector__group-title">{{ 'code.private' | translate }}</div>
        <div class="alo-service-type-selector__group-content">
          <div
            *ngFor="let item of serviceTypeGroups.private"
            class="alo-service-type-selector__option"
            [class.alo-service-type-selector__option--active]="!model.public && model.type === item.type"
        
            (click)="selectServiceType(item)"
          >
            <img [src]="'assets/icons/code-repo/' + item.type.toLowerCase() + '@2x.png'" />
            <span [auiTooltip]="(currentLang$ | async) === 'zh' ? item.displayName.zh : item.displayName.en">{{ (currentLang$ | async) === 'zh' ? item.displayName.zh : item.displayName.en
              }}
            </span>
            <aui-icon
              icon="check_triangle_s"
              *ngIf="!model.public && model.type === item.type"
              class="alo-service-type-selector__active-icon"
            ></aui-icon>
          </div>
          <div class="alo-service-type-selector__option-placeholder"></div>
          <div class="alo-service-type-selector__option-placeholder"></div>
          <div class="alo-service-type-selector__option-placeholder"></div>
        </div>
      </div>
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        [type]="data.mode === 'create' ? 'text' : 'hidden'"
        auiFormItemControl
        name="name"
        #name="ngModel"
        aui-input
        required
        [maxLength]="30"
        pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
        [(ngModel)]="model.name"
      />
      <span
        *ngIf="data.mode !== 'create'"
        auiFormItemControl
      >{{ model.name }}</span>
      <div
        auiFormItemError
        *ngIf="name.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
      <div
        auiFormItemError
        *ngIf="name.errors?.pattern"
      >
        {{ 'code.service_name_pattern' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'code.service_host' | translate }}</label>
      <input
        auiFormItemControl
        name="host"
        #host="ngModel"
        aui-input
        required
        [(ngModel)]="model.host"
        [disabled]="model.public"
      />
      <div
        auiFormItemError
        *ngIf="name.errors?.required"
      >
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    aui-button="primary"
    (click)="submit()"
    [disabled]="loading || saving || (serviceTypeGroups.public.length === 0 && serviceTypeGroups.private.length === 0)"
    [loading]="saving"
  >{{ (data.mode === 'create' ? 'code.integrate' : 'update') | translate }}</button>
  <button
    aui-button
    mat-dialog-close
  >{{ 'cancel' | translate }}</button>
</mat-dialog-actions>
