.alo-service-type-selector {
  margin-bottom: 16px;
  border-bottom: dashed 1px #ededed;

  &__group-title {
    font-size: 16px;
    color: #999;
  }
  &__group-content {
    padding: 8px;
    margin: 0 -16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__option,
  &__option-placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    width: 30%;
  }
  &__option {
    margin: 8px;
    box-shadow: 0 0 3px 0 rgba(102, 102, 102, 0.3);
    padding: 8px 16px;
    font-size: 18px;
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 2px;
    position: relative;
    > img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }
    > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &--active {
      border: solid 1px #009ce3;
    }
  }
  &__option-placeholder {
    margin: 0px 8px;
    height: 0;
  }
  &__active-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #009ce3;
    font-size: 24px;
    line-height: 24px;
  }
}
