<aui-layout>
  <alo-logo
    *auiNavDrawerHeader
    class="logo"
  >
  </alo-logo>
  <aui-nav *auiNavDrawerContent>
    <ng-container *ngFor="let item of config">
      <aui-nav-item
        *ngIf="item.items && item.items.length && shouldDisplay(item)"
        routerLinkActive
        #rla="routerLinkActive"
        (click)="onNavItemClick(item.path)"
        [expanded]="isPathExpanded(item.path)"
        [active]="rla.isActive"
      >
        <div class="nav-item-content">
          <div class="nav-item-content__icon">
            <aui-icon [icon]="'basic:' + item.icon"></aui-icon>
          </div>
          <div class="nav-item-content__label">
            {{ item.label | translate }}
          </div>
        </div>
        <ng-container *ngIf="item.items">
          <ng-container *auiNavItemExt>
            <ng-container *ngFor="let subItem of item.items">
              <aui-nav-item
                routerLinkActive
                [routerLink]="subItem.routerLink"
                #subRla="routerLinkActive"
                [active]="subRla.isActive"
              >
                <div class="nav-item-content">
                  <div class="nav-item-content__icon">
                  </div>
                  <div class="nav-item-content__label">
                    {{ subItem.label | translate }}
                  </div>
                </div>
              </aui-nav-item>
            </ng-container>
          </ng-container>
        </ng-container>
      </aui-nav-item>
      <aui-nav-item
        *ngIf="(!item.items || !item.items.length) && shouldDisplay(item)"
        [routerLink]="item.routerLink"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        <div class="nav-item-content">
          <div class="nav-item-content__icon">
            <aui-icon [icon]="'basic:' + item.icon"></aui-icon>
          </div>
          <div class="nav-item-content__label">
            {{ item.label | translate }}
          </div>
        </div>
      </aui-nav-item>
    </ng-container>
  </aui-nav>
  <div
    *auiToolbarContent
    class="toolbar"
  >
    <alo-global-actions></alo-global-actions>
  </div>
  <div *auiPageHeader>
    <ng-container *cdkPortalOutlet="pageHeaderContentTemplate$ | async"></ng-container>
    <div
      class="global-loader"
      [class.loading]="showLoadingBar$ | async"
    ></div>
  </div>
  <div
    *auiPageContent
    class="layout-page-content"
    [@routerTransition]="getPage(outlet)"
  >
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</aui-layout>
