$status-color-map: (
  queued: #009ce3,
  pending: #009ce3,
  running: #009ce3,
  failed: #eb6262,
  complete: #1bb393,
  cancelled: #cccccc,
  aborted: #f8ac58,
  unknown: #cccccc,
);

.alo-history-preview {
  display: flex;
  color: #999999;

  &__overview {
    cursor: pointer;
    &--actived {
      color: #009ce3;
    }
  }

  &__list {
    padding: 4px;
    color: #999999;
    font-size: 14px;

    &-item {
      padding: 4px 0;
    }
  }

  &__num {
    display: flex;
    align-items: center;
    ::ng-deep {
      .aui-button__wrapper {
        .aui-button__content {
          padding: 0;
        }
      }
    }
  }

  &__status {
    @each $status, $color in $status-color-map {
      &--#{$status} {
        color: $color;
      }
    }
  }
}

.history_id {
  min-width: 30px;
  display: inline-block;
  margin-left: 4px;
}
