.remove-button {
  font-size: 16px;
  color: #999999;
  cursor: pointer;
}

.select-line {
  display: flex;
  margin-bottom: 16px;

  aui-tree-select {
    width: 100%;
  }

  button {
    margin-left: 8px;
  }
}

:host::ng-deep {
  .aui-table__column-actions {
    max-width: 64px;
  }
}

.empty-hint {
  text-align: center;
  line-height: 80px;
}
