<aui-dialog-header>{{ 'update' | translate }}</aui-dialog-header>
<aui-dialog-content>
    <div class="alo-integrate-tool">
        <form
            #form="ngForm"
            auiForm
            [auiFormEmptyAddon]="true"
            auiFormLabelWidth="150px"
        >
            <aui-form-item>
                <label auiFormItemLabel>{{ 'tool_chain.api_address' | translate }}</label>
                <input
                    name="host"
                    #host="ngModel"
                    aui-input
                    auiFormItemControl
                    [(ngModel)]="formData.host"
                    required
                    pattern="^(https?)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]$"
                >
                <div
                    auiFormItemError
                    *ngIf="host.errors?.required"
                >{{ 'required' | translate }}</div>
                <div
                    auiFormItemError
                    *ngIf="host.errors?.pattern"
                >{{ 'pattern' | translate}}</div>
            </aui-form-item>
        </form>
    </div>
</aui-dialog-content>
<aui-dialog-footer>
    <div>
        <button
            aui-button="primary"
            (click)="update()"
            [loading]="loading"
            [disabled]="loading"
        >
            {{ 'update' | translate }}
        </button>
        <button
            aui-button
            [auiDialogClose]="null"
            [disabled]="loading"
        >
            {{ 'cancel' | translate }}
        </button>
    </div>
</aui-dialog-footer>
