aui-icon {
  &.success {
    color: #1bb393;
  }
  &.actived {
    color: #009ce3;
  }
  &.error {
    color: #eb6262;
  }
  &.gray {
    color: #ccc;
  }
}

div[class^='list-status'] {
  display: flex;
  align-items: center;
  min-height: 40px;
  justify-content: center;
  color: #666;
  border-bottom: 1px solid #eee;
}
