<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['/admin/asf/microservice-environments']">{{ 'microservice_environments.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'microservice_environments.setup' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<aui-card>
  <div auiCardHeader>
    <alo-steps [steps]="steps"></alo-steps>
  </div>
  <div auiCardContent>
    <aui-inline-alert 
      type="success"
      [closable]="false">
      <div auiInlineAlertTitle>
        {{ 'microservice_environments.create_success' | translate: { name: name } }}
      </div>
      <div>{{ 'microservice_environments.create_success_content_first' | translate }}</div>
      <div>{{ 'microservice_environments.create_success_content_second' | translate }}</div>
    </aui-inline-alert>
    <!-- components install -->
    <alo-microservice-component-install 
      [components]="detail?.microservicesComponents"
      [environment]="detail?.microservicesEnvironment"
      (complete)="installComplete($event)">
    </alo-microservice-component-install>
  </div>
  <div auiCardFooter class="form-actions">
    <button
      aui-button="primary"
      [plain]="true"
      (click)="complete()"
    >
      {{ 'asf.complete' | translate }}
    </button>
  </div>
</aui-card>