.header {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  height: 24px;
  padding-left: 20px;
}

.body {
  display: flex;
  flex-direction: row;
  &-nav {
    width: 20%;
    border-right: 1px solid #eee;
    margin-right: 23px;
    padding-left: 20px;
  }
  &-form {
    padding: 0 20px;
    padding-bottom: 10px;
    width: 100%;
    .trigger-item {
      padding-left: 150px;
    }
  }
  .form-section-title {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 16px;
  }
}

hr {
  background-color: #eee;
  height: 1px;
  border: 0;
  margin: 16px 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
