<div class="header">
  {{'pipeline.update'|translate}}  {{name}}
</div>
<hr>
<form
  [formGroup]="form"
  #updateForm="ngForm"
  auiForm
  class="body"
  auiFormLabelWidth="150px"
>
  <div class="body-form">
    <div class="form-section-title">{{'pipeline.basic_info'|translate}}</div>
    <alo-pipeline-basic-form
      [form]="form.controls.basic"
      [namespace]="namespace"
      type="update"
    ></alo-pipeline-basic-form>
    <hr>
    <div class="form-section-title">{{'Jenkinsfile'|translate}}</div>
    <alo-pipeline-repository-form
      *ngIf="sourceType==='repo'"
      [form]="form.controls.jenkinsfile"
      [namespace]="namespace"
      type="create"
    ></alo-pipeline-repository-form>
    <alo-pipeline-script-form
      *ngIf="sourceType==='script'"
      [form]="form.controls.editor_script"
    ></alo-pipeline-script-form>
    <hr>
    <div class="form-section-title">{{'pipeline.trigger'|translate}}</div>
    <div
      class="trigger-item"
      *ngFor="let group of getFormArrayControl('triggers'); let i = index"
    >
      <alo-pipeline-trigger-form
        [style.width]="'100%'"
        [form]="group"
        [index]="i"
      ></alo-pipeline-trigger-form>
    </div>
  </div>
</form>
<hr>
<div class="footer">
  <button
    aui-button="primary"
    (click)="submit()"
    [disabled]="!updateForm.valid"
  >
    {{'pipeline.update'|translate}}
  </button>
  <button
    aui-button
    (click)="cancel()"
  >
    {{'cancel'|translate}}
  </button>
</div>
