<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../']">{{ 'pipeline.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <ng-container [ngSwitch]="(params$ | async)?.method">
        <ng-container *ngSwitchCase="'jenkinsfile'">
          {{ 'pipeline.create_by_jenkinsfile' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'template'">
          {{ 'pipeline.create_by_template' | translate }}
        </ng-container>
      </ng-container>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-pipeline-create-container
  [method]="(params$ | async)?.method"
  [namespace]="(params$ | async)?.namespace"
  [type]="(params$ | async)?.type"
  [name]="(params$ | async)?.name"
></alo-pipeline-create-container>
