<alo-breadcrumb *aloPageHeaderContent>
  <ng-template aloBreadcrumbItem>
    <span>{{ 'code_repository' | translate }}</span>
  </ng-template>
</alo-breadcrumb>
<alo-card *aloAsyncData="
  let codeRepositories;
  let error = error;
  let loading = loading;
  let refresh = refetch;
  handler: fetchCodeRepositories;
  params: params$ | async;
  pullIn: 10 * 1000;
">
  <alo-card-section>
    <div
      aloCardSectionHeader
      class="list-header"
    >
      <div>{{ 'code_repository' | translate }}</div>
      <aui-search
        [keyword]="keywords$ | async"
        [placeholder]="'filter_by_name_placeholder' | translate"
        [searchButton]="true"
        [searching]="loading"
        [disabled]="loading"
        (search)="search($event)"
      ></aui-search>
    </div>
    <ng-container aloCardSectionBody>
      <alo-code-repository-list [data]="codeRepositories?.items"></alo-code-repository-list>
      <div
        *ngIf="!codeRepositories?.items?.length"
        class="no-data"
      >
        <span *ngIf="error">
          {{ 'retry_on_error' | translate }}
          <a
            href="javascript:;"
            (click)="refresh()"
          >
            {{ 'retry' | translate }}
          </a>
        </span>
        <span *ngIf="!error">
          {{ (loading ? 'loading' : 'code.repository_no_data') | translate }}
        </span>
      </div>
      <aui-paginator
        *ngIf="codeRepositories?.total"
        [pageIndex]="pageIndex$ | async"
        [pageSize]="itemsPerPage$ | async"
        [pageSizeOptions]="[20, 50, 100]"
        [length]="codeRepositories?.total"
        (page)="pageChange($event)"
      ></aui-paginator>
    </ng-container>
  </alo-card-section>
</alo-card>
