.list-header {
  display: flex;
  justify-content: space-between;
}

.no-data {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  color: #666;
}

aui-paginator {
  display: block;
  margin-top: 20px;
}
