<ul class="tabs">
  <li
    class="tab-label"
    [class.active]="activeTab === 'base'"
  >
    <a
      href="javascript:void(0)"
      (click)="changeTab('base')"
    >
      {{ 'detail' | translate }}
    </a>
  </li>
  <li
    class="tab-label"
    [class.active]="activeTab === 'tool_chain'"
  >
    <a
      href="javascript:void(0)"
      (click)="changeTab('tool_chain')"
    >
      {{ 'nav_tool_chain' | translate }}
    </a>
  </li>
  <li
    class="tab-label"
    [class.active]="activeTab === 'pipeline_template'"
  >
    <a
      href="javascript:void(0)"
      (click)="changeTab('pipeline_template')"
    >
      {{ 'nav_pipeline_template' | translate }}
    </a>
  </li>
  <li
    class="tab-label"
    [class.active]="activeTab === 'resource'"
  >
    <a
      href="javascript:void(0)"
      (click)="changeTab('resource')"
    >
      {{ 'resource' | translate }}
    </a>
  </li>
  <li 
    class="tab-label"
    [class.active]="activeTab === 'microservice_environment'"
  >
    <a 
      href="javascript:void(0)"
      (click)="changeTab('microservice_environment')"
    >{{ 'project.microservice_environment' | translate }}</a>
  </li>
  <li
    class="tab-label"
    [class.active]="activeTab === 'member'"
  >
    <a
      href="javascript:void(0)"
      (click)="changeTab('member')"
    >
      {{ 'member' | translate }}
    </a>
  </li>
</ul>
<ng-container *ngIf="activeTab === 'base'">
  <alo-card>
    <alo-card-section type="detail">
      <div
        aloCardSectionHeader
        class="base-header"
      >
        {{ 'base_info' | translate }}
        <button
          aui-button
          [disabled]="disabled"
          (click)="updateProject()"
        >
          {{ 'update' | translate }}
        </button>
      </div>
      <div
        aloCardSectionBody
        class="base-body"
      >
        <div class="field">
          <label>{{ 'projects.name' | translate }}</label>
          <span>{{ data.name }}</span>
        </div>
        <div class="field">
          <label>{{ 'create_at' | translate }}</label>
          <span>{{ data.creationTimestamp | aloTime }}</span>
        </div>
        <div class="field">
          <label>{{ 'display_name' | translate }}</label>
          <span>{{ data.displayName }}</span>
        </div>
        <div class="field full">
          <label>{{ 'description' | translate }}</label>
          <span>{{ data.description }}</span>
        </div>
      </div>
    </alo-card-section>
  </alo-card>
</ng-container>
<ng-container *ngIf="activeTab === 'tool_chain'">
  <alo-tool-bindings-section [project]="data.name"></alo-tool-bindings-section>
</ng-container>
<ng-container *ngIf="activeTab === 'pipeline_template'">
  <alo-pipeline-template [project]="data.name"></alo-pipeline-template>
</ng-container>
<ng-container *ngIf="activeTab === 'microservice_environment'">
  <alo-project-microservice-environment [project]="data.name"></alo-project-microservice-environment>
</ng-container>
<ng-container *ngIf="activeTab === 'resource'">
  <alo-project-secrets [project]="data.name"></alo-project-secrets>
</ng-container>
<ng-container *ngIf="activeTab === 'member'">
  <alo-project-members [project]="data.name"></alo-project-members>
</ng-container>
