.base-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -7px 0px;
}

.base-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 32px;
  > .field {
    flex: 1;
    flex-basis: 50%;
    > label {
      padding-right: 8px;
    }
    &:not(.full) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.full {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      > label {
        white-space: nowrap;
      }
      > span {
        flex-grow: 1;
        word-break: break-all;
        padding-top: 4px;
        line-height: 24px;
      }
    }
  }
}

.delete-confirm-text {
  font-size: 18px;
}

.mixed-margin-top {
  // TODO: aui-card mixed with alo-card, remove when replaced all alo-card
  ::ng-deep .aui-card {
    margin-top: 20px;
  }
}

.list-status {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #eee;
  color: #ccc;
}
