<ng-container *ngFor="let container of containers; let index = index">
  <div class="container-title" *ngIf="containers.length > 1">
    <alo-k8s-resource-icon [resourceKind]="'container'"></alo-k8s-resource-icon>
    {{ container.name }}
  </div>
  <!-- 环境变量 -->
  <aui-card>
    <div auiCardHeader>
      {{ 'env' | translate }}
      <div style="flex: 1"></div>
      <button *ngIf="!noUpdate" aui-button="text" (click)="editEnv(container)">
        <aui-icon icon="basic:pencil_s"></aui-icon>
      </button>
    </div>

    <aui-table [dataSource]="container.env">
      <ng-container [auiTableColumnDef]="'name'">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.name }}
        </aui-table-cell>
      </ng-container>

      <ng-container [auiTableColumnDef]="'config_value'">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'value' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <ng-container [ngSwitch]="envVarViewMode(item)">
            <ng-container *ngSwitchCase="'value'">
              {{ item.value }}
            </ng-container>

            <ng-container *ngSwitchCase="'yaml'">
              <pre auiCodeColorize="yaml" [innerHTML]="getYaml(item.valueFrom)"></pre>
            </ng-container>

            <ng-container *ngSwitchCase="'valueFrom'">
              <aui-tag size="small">
                  <a [title]="(envVarResource(item).kind | lowercase | translate) + ' ' + 
                   envVarResource(item).name + ': ' + envVarResource(item).key">
                   {{ envVarResource(item).kind | lowercase | translate }} {{ envVarResource(item).name
                  }}: {{ envVarResource(item).key }}
                </a>
              </aui-tag>
            </ng-container>
          </ng-container>

        </aui-table-cell>
      </ng-container>

      <aui-table-header-row *auiTableHeaderRowDef="envListColumnDefs"></aui-table-header-row>
      <aui-table-row *auiTableRowDef="let row; columns: envListColumnDefs"></aui-table-row>
    </aui-table>
    <alo-zero-state *ngIf="!container.env || container.env.length === 0" resourceName="env">
    </alo-zero-state>
  </aui-card>

  <!-- 配置引用 -->
  <aui-card>
    <div auiCardHeader>
      {{ 'env_from' | translate }}
      <div style="flex: 1"></div>
      <button *ngIf="!noUpdate" aui-button="text" (click)="editEnvFrom(container)">
        <aui-icon icon="basic:pencil_s"></aui-icon>
      </button>
    </div>
    <div class="env-from-tags">
      <aui-tag size="small" *ngFor="let item of container.envFrom">
        <a [title]="(envFromResource(item).kind | lowercase | translate) + ' ' + envFromResource(item).name">
          {{ envFromResource(item).kind | lowercase | translate }} {{ envFromResource(item).name
          }}
        </a>
      </aui-tag>
    </div>
    <alo-zero-state *ngIf="!container.envFrom || container.envFrom.length === 0" resourceName="env_from">
    </alo-zero-state>

  </aui-card>

</ng-container>
