:host {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .horizontal-form.with-label {
    aui-form-field {
      margin-right: 15px;
    }
  }
  ::ng-deep {
    .alo-log-view {
      height: calc(100% - 50px);
    }
  }
}
