<div class="horizontal-form with-label" novalidate>
  <aui-form-field *ngIf="appLogParams" size="full" [label]="'resource_name' | translate">
    <aui-select [(ngModel)]="selectedResourceName" filterable="true" (ngModelChange)="selectedResourceNameChange($event)">
      <aui-option-group *ngFor="let K8sResourceKey of kindList">
        <div auiOptionGroupTitle>{{ 'application.' + K8sResourceKey | translate }}</div>
        <ng-container *ngFor="let item of resourceNames">
          <aui-option *ngIf="item.kind === K8sResourceKey" [value]="item.value" [label]="item.name">{{ item.name }}</aui-option>
        </ng-container>
      </aui-option-group>
      <aui-option-placeholder>{{ 'no_data' | translate }}</aui-option-placeholder>
    </aui-select>
  </aui-form-field>
  <aui-form-field size="full" [label]="'container_group' | translate">
    <aui-select [(ngModel)]="selectedPod" filterable="true" (ngModelChange)="selectedPodChange($event)">
      <aui-option [value]="pod.name" *ngFor="let pod of pods">{{ pod.name }}</aui-option>
      <aui-option-placeholder>{{ 'no_data' | translate }}</aui-option-placeholder>
    </aui-select>
  </aui-form-field>
  <aui-form-field size="full" [label]="'container' | translate">
    <aui-select [(ngModel)]="selectedContainer" filterable="true" (ngModelChange)="selectedContainerChange($event)">
      <aui-option [value]="container.name" *ngFor="let container of containers">{{ container.name }}</aui-option>
      <aui-option-placeholder>{{ 'no_data' | translate }}</aui-option-placeholder>
    </aui-select>
  </aui-form-field>
</div>
<ng-container *aloAsyncData="
    let logResult;
    let loading = loading;
    handler: fetchLog;
    params: params;
    pullIn: pullEnabled ? 5 * 1000 : 0;
  ">
  <alo-log-view [logs]="logResult?.logs" [range]="logResult?.range" [loading]="loading"
    [paginated]="true" [pullEnabled]="pullEnabled" [pullToggleEnabled]="true" [downloadEnabled]="true"
    (pullEnabledChange)="onPullEnabledChange($event)" (pageChange)="updatePage($event, logResult?.selection)"
    (downloadAction)="download()">
  </alo-log-view>
</ng-container>
