.repo-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  vertical-align: middle;
}

.alert-icon {
  color: #f8ac58;
}

.tag-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

.repo-address {
  color: #cccccc;
}

.aui-table__column-all_tags {
  max-width: 88px;
}

.recent-tags-count {
  font-size: 12px;
  color: #999999;
}

.copy-icon {
  color: #999999;
  cursor: pointer;
}

.tag-list {
  margin: 8px 0;
  font-size: 14px;
  color: #333333;

  .tag-list-item {
    margin-bottom: 8px;
    white-space: nowrap;
  }
}
