<aui-table
  [dataSource]="repositories"
  auiSort
  active="image"
  direction="asc"
  (sortChange)="onSortChange($event)"
  [trackBy]="trackByName"
>

  <ng-container auiTableColumnDef="image">
    <aui-table-header-cell
      *auiTableHeaderCellDef
      aui-sort-header
    >
      {{ 'registry.repository_address' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let repo">
      <img
        class="repo-icon"
        src="assets/icons/tool-chain/list/docker.svg"
      >
      <a
        *ngIf="repo.status.phase!=='Error' && repo.status.phase!=='WaitingToDelete'"
    
        [routerLink]="[repo.name]"
      >
        {{ repo.image }}
      </a>
      <span
        class="repo-address"
        *ngIf="repo.status.phase==='Error' || repo.status.phase==='WaitingToDelete'"
    
        [auiTooltipCopy]="repo.image"
      >{{ repo.image }}</span>
      <aui-icon
        class="copy-icon"
        icon="basic:copy"
        margin="left"
        [auiTooltipCopy]="repo.image"
      >
      </aui-icon>
      <aui-icon
        *ngIf="repo.status.phase==='Error'"
        class="alert-icon"
        icon="exclamation_circle_s"
        [auiTooltip]="repo.status.message"
        [auiTooltipDisabled]="!repo.status.message"
      ></aui-icon>
      <aui-icon
        *ngIf="repo.status.phase==='WaitingToDelete'"
        class="alert-icon"
        icon="basic:trash_s"
        [auiTooltip]="repo.status.message"
        [auiTooltipDisabled]="!repo.status.message"
      ></aui-icon>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="recent_tags">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'registry.recent_tags' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let repo">
      <div *ngIf="repo.tags.length">
        <span
          class="recent-tags"
          [auiTooltipCopy]="repo.tags[0].name"
        >{{ repo.tags[0].name }}
          <aui-icon
            class="copy-icon"
            icon="basic:copy"
            margin="left"
          ></aui-icon>
        </span>
        <div *ngIf="repo.tags.length > 1"
          class="recent-tags-count"
        >
          <span>{{ 'registry.recent' | translate }}</span>
          <button
            aui-button="text"
            size="mini"
            [auiTooltip]="recentTags"
            auiTooltipType="info"
            auiTooltipTrigger="click"
            auiTooltipPosition="bottom"
          >{{ repo.tags.slice(0,5).length }}</button>
          <span>{{ 'registry.tag_unit' | translate }}</span>
        </div>
        <div *ngIf="repo.tags.length <= 1">-</div>
      </div>
      <ng-template #recentTags>
        <div class="tag-list">
          <div
            *ngFor="let tag of repo.tags.slice(0,5)"
            class="tag-list-item"
          >
            <img
              class="tag-icon"
              src="assets/icons/tool-chain/list/tag-docker.svg"
            >
            <span [auiTooltipCopy]="tag.name">
              {{ tag.name }}
              <aui-icon
                class="copy-icon"
                icon="basic:copy"
                margin="left"
              ></aui-icon>
            </span>
          </div>
        </div>
      </ng-template>
      <span *ngIf="!repo.tags.length">-</span>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="all_tags">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'registry.all_tags' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let repo">
      <img
        class="tag-icon"
        src="assets/icons/tool-chain/list/tag-docker.svg"
      >
      <span>{{ repo.tags.length }}</span>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="['image','recent_tags','all_tags']"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: ['image','recent_tags','all_tags']"></aui-table-row>
</aui-table>
