@import '../../_var.scss';

$status-indicator-size: 36px;

:host {
  display: block;
  position: relative;
  ::ng-deep {
    .terminal.xterm {
      padding: 4px 8px;
    }
  }
}

mat-progress-bar {
  position: absolute;
  width: 100%;
  height: 4px;
  z-index: 1;
}

.xterm-anchor {
  height: 100%;
  background: #fff;
  &--dark-theme {
    background: #283238;
  }
}

.status-indicator {
  position: absolute;
  width: $status-indicator-size;
  height: $status-indicator-size;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;

  opacity: 0.8;
  border-radius: 2px;

  cursor: pointer;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

  &--connecting {
    color: $color-primary;
  }

  &--goodConnection {
    color: $color-success;
  }

  &--badConnection {
    color: $color-warning;
  }

  &--disconnected {
    color: $color-error;
  }
}

.status-indicator-tooltip {
  display: flex;
  align-items: center;

  alk-status-icon {
    margin-right: 4px;
  }

  a {
    margin-left: 8px;
  }
}
