aui-muti-select {
  display: block;
  ::ng-deep .aui-muti-select {
    width: 100%;
  }
}

.alo-account-group {
  margin-bottom: 20px;
  &__title {
    font-size: 16px;
    padding: 12px 0px;
  }
  alo-remote-repository-selector {
    display: block;
    margin-bottom: 20px;
    :last-child {
      margin-bottom: 0;
    }
  }
}

.status {
  display: flex;
  height: 140px;
  border: dashed 1px #ccc;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  color: #999;
  > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    > aui-icon {
      margin-right: 8px;
      font-size: 16px;
    }
  }
}
