<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../']">{{ 'microservice_environments.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'microservice_environments.setup' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<div class="header">
  <span class="title">{{ 'microservice_environments.setup' | translate }}</span>
</div>
<aui-card>
  <div auiCardHeader>
    <alo-steps [steps]="steps"></alo-steps>
  </div>
  <alo-microservice-environment-form 
    #form
    (complete)="complete($event)">
  </alo-microservice-environment-form>
</aui-card>