<div mat-dialog-header class="mat-dialog-header">
  {{ 'projects.update' | translate }}
  <a class="close" href="javascript:void(0)" (click)="cancel()">
    <mat-icon svgIcon="close"></mat-icon>
  </a>
</div>
<mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="save()" id="updateProjectForm" novalidate>
    <aui-form-field
      [label]="'projects.name' | translate"
      size="full"
      [error]="nameError"
    >
      <span>{{ model.name }}</span>
    </aui-form-field>
    <aui-form-field [label]="'display_name' | translate" size="full">
      <input
        [(ngModel)]="model.displayName"
        name="displayName"
        [maxLength]="30"
      />
    </aui-form-field>
    <aui-form-field [label]="'description' | translate" size="full">
      <textarea [(ngModel)]="model.description" name="description" ></textarea>
    </aui-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button aui-button="primary" type="submit" form="updateProjectForm" [disabled]="!model.name">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</mat-dialog-actions>
