<aui-dialog-header>{{ 'update_image' | translate }}</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="100px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'container' | translate }}</label>
      <span auiFormItemControl>
        {{ data.container_name }}
      </span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{'image_address' | translate}}</label>
      <input auiFormItemControl name="image" #image="ngModel" aui-input required [(ngModel)]="containerImageAddress">
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <div>
    <button aui-button="primary" (click)="save()">{{ 'update' | translate }}</button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
