$block: aui-table;

.#{$block} {
  min-width: 0px;
  &__column-name {
    flex: 2;
  }
  &__column-project {
    flex: 1;
  }
  &__column-type {
    flex: 1;
  }
  &__column-createTimestamp {
    flex: 1;
  }
  &__column-createBy {
    flex: 1;
  }
  &__column-actions {
    max-width: 40px;
  }
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aui-table__cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
