<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'secrets.list' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-card>
  <alo-card-section>
    <div aloCardSectionHeader class="list-header">
      <button 
        aui-button="primary"
        routerLink="./create"
      >
        {{ 'secrets.create' | translate }}
      </button>
      <input
        class="alo-search-input"
        [ngModel]="inputValue$ | async"
        (ngModelChange)="store.inputChange($event)"
        [placeholder]="'filter_by_name_placeholder' | translate"
      />
    </div>
    <ng-container aloCardSectionBody>
      <aui-table
        auiSort
        [dataSource]="secrets$ | async"
        [trackBy]="secretIdentity"
        [active]="active$ | async"
        [direction]="direction$ | async"
        (sortChange)="sortChange($event)"
      >
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell
            *auiTableHeaderCellDef
            aui-sort-header
          >
            {{ 'display_name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a [routerLink]="env === 'admin' ? ['./', item.namespace, item.name] : ['./', item.name]">
              {{ item.displayName }}
            </a>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="project">
          <aui-table-header-cell
            *auiTableHeaderCellDef
          >
            {{ 'secrets.belongs_project' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.namespace }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="type">
          <aui-table-header-cell
            *auiTableHeaderCellDef
          >
            {{ 'secrets.type' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.type }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="creationTimestamp">
          <aui-table-header-cell
            *auiTableHeaderCellDef
            aui-sort-header
            start="desc"
          >
            {{ 'create_at' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.creationTimestamp | aloRelativeTime }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="actions">
          <aui-table-header-cell
            *auiTableHeaderCellDef
            start="desc"
          >
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a
              class="alo-menu-button"
              href="javascript:void(0)"
              [matMenuTriggerFor]="contextMenu"
              [matMenuTriggerData]="{ item: item }"
            >
            <mat-icon svgIcon="actions"></mat-icon>
            </a>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="columns"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: columns;"
        ></aui-table-row>
      </aui-table>
    </ng-container>
  </alo-card-section>
</alo-card>

<mat-menu #contextMenu="matMenu" >
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="store.edit(item)">{{ 'update' | translate }}</button>
  </ng-template>
</mat-menu>

<ng-template #updateDialog>
  <div mat-dialog-header class="mat-dialog-header">
    {{ 'update' | translate }} {{ (editing$ | async)?.name }}
    <a class="close" href="javascript:void(0)" (click)="closeDialog()">
      <mat-icon svgIcon="close"></mat-icon>
    </a>
  </div>
  <mat-dialog-content>
    <alo-secret-edit
      #editForm="alo-secret-edit"
      [namespace]="(editing$ | async)?.namespace"
      [name]="(editing$ | async)?.name"
      mode="update"
      (saved)="updated()"
    ></alo-secret-edit>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      aui-button="primary"
      [disabled]="editForm.notReady || editForm.saving"
      [loading]="editForm.saving"
      (click)="editForm.submit()"
    >{{ 'update' | translate }}</button>
    <button aui-button (click)="closeDialog()">{{ 'cancel' | translate }}</button>
  </mat-dialog-actions>
</ng-template>