<form (ngSubmit)="save()" #form="ngForm" novalidate>
  <aui-form-field [label]="'edit_jenkins_binding.service' | translate">
    <select [(ngModel)]="model.jenkins" name="jenkins">
      <option *ngFor="let item of jenkinsOptions$ | async" [ngValue]="item.objectMeta.name">
        {{ (item.objectMeta.annotations || {})[constants.ANNOTATION_DISPLAY_NAME] || item.objectMeta.name }}
      </option>
    </select>
  </aui-form-field>
  <aui-form-field [label]="'edit_jenkins_binding.secret' | translate">
    <select [(ngModel)]="model.secret" name="secret">
      <option *ngFor="let item of secretOptions$ | async" [ngValue]="item.objectMeta.name">
          {{ (item.objectMeta.annotations || {})[constants.ANNOTATION_DISPLAY_NAME] || item.objectMeta.name }}
      </option>
    </select>
  </aui-form-field>
  <aui-form-field [label]="'description' | translate" size="full">
    <textarea [(ngModel)]="model.description" name="description"></textarea>
  </aui-form-field>
</form>
