<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="env === 'admin' ? ['../../'] : ['../']">{{ 'secrets.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ (data$ | async)?.name }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-card *ngFor="let data of [data$ | async]">
  <alo-card-section type="detail">
    <div aloCardSectionHeader class="base-header">
      {{ 'base_info' | translate }}
      <button
        aui-button
        [disabled]="(state$ | async)?.deleting || (state$ | async)?.updating"
        (click)="showUpdate()"
      >{{ 'update' | translate }}</button>
    </div>
    <div aloCardSectionBody class="base-body">
      <div class="field">
        <label>{{ 'secrets.name' | translate }}</label>
        <span>{{ data?.name }}</span>
      </div>
      <div class="field">
        <label>{{ 'create_at' | translate }}</label>
        <span>{{ data?.creationTimestamp | aloTime }}</span>
      </div>
      <div class="field">
        <label>{{ 'display_name' | translate }}</label>
        <span>{{ data?.displayName }}</span>
      </div>
      <div class="field">
        <label>{{ 'secrets.belongs_project' | translate }}</label>
        <span>{{ data?.project }}</span>
      </div>
      <div class="field full">
        <label>{{ 'description' | translate }}</label>
        <span>{{ data?.description }}</span>
      </div>
    </div>
  </alo-card-section>
  <alo-card-section type="detail">
    <div aloCardSectionHeader class="base-header">
      Data
    </div>
    <div aloCardSectionBody class="base-body">
      <ng-container *ngIf="data?.type === 'kubernetes.io/basic-auth'">
        <div class="field full">
          <label>{{ 'secrets.type' | translate }}</label>
          <span>{{ 'secrets.username_password' | translate }}</span>
        </div>
        <div class="field full">
          <label>{{ 'username' | translate }}</label>
          <span>{{ data?.username }}</span>
        </div>
        <div class="field full">
          <label>{{ 'password' | translate }}</label>
          <alo-password [value]="data?.password"></alo-password>
        </div>
      </ng-container>
      <ng-container *ngIf="data?.type === 'devops.alauda.io/oauth2'">
        <div class="field full">
          <label>{{ 'secrets.type' | translate }}</label>
          <span>{{ 'secret.oauth2' | translate }}</span>
        </div>
        <div class="field full">
          <label>{{ 'secret.client_id' | translate }}</label>
          <span>{{ data?.clientID }}</span>
        </div>
        <div class="field full">
          <label>{{ 'secret.client_secret' | translate }}</label>
          <alo-password [value]="data?.clientSecret"></alo-password>
        </div>
      </ng-container>
      <ng-container *ngIf="data?.type === 'Opaque'">
        <div class="field full">
          <label>{{ 'secrets.type' | translate }}</label>
          <span>{{ 'secrets.opaque' | translate }}</span>
        </div>
        <div class="field full" *ngFor="let item of data?.generic">
          <label>{{ item.key }}</label>
          <span>{{ item.value }}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="data?.type === 'kubernetes.io/dockerconfigjson'">
        <div class="field full">
          <label>{{ 'secrets.type' | translate }}</label>
          <span>{{ 'secrets.docker_registry' | translate }}</span>
        </div>
        <div class="field full">
          <label>{{ 'secrets.docker_address' | translate }}</label>
          <span>{{ data?.dockerAddress }}</span>
        </div>
        <div class="field full">
          <label>{{ 'secrets.docker_username' | translate }}</label>
          <span>{{ data?.dockerUsername }}</span>
        </div>
        <div class="field full">
          <label>{{ 'secrets.docker_password' | translate }}</label>
          <alo-password [value]="data?.dockerPassword"></alo-password>
        </div>
        <div class="field full">
          <label>{{ 'secrets.docker_email' | translate }}</label>
          <span>{{ data?.dockerEmail }}</span>
        </div>
      </ng-container>
    </div>
  </alo-card-section>
</alo-card>

<ng-template #updateDialog>
  <div mat-dialog-header class="mat-dialog-header">
    {{ 'update' | translate }} {{ name$ | async }}
    <a class="close" href="javascript:void(0)" (click)="cancel()">
      <mat-icon svgIcon="close"></mat-icon>
    </a>
  </div>
  <mat-dialog-content>
    <alo-secret-edit
      #editForm="alo-secret-edit"
      [namespace]="project"
      [name]="name"
      mode="update"
      (saved)="updated()"
    ></alo-secret-edit>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      aui-button="primary"
      [disabled]="editForm.notReady || editForm.saving"
      [loading]="editForm.saving"
      (click)="editForm.submit()"
    >{{ 'update' | translate }}</button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </mat-dialog-actions>
</ng-template>