<div class="alo-container">
  <div class="base-body info">
    <div *ngIf="displayContainerName" class="field full name">
      <label>{{ 'container' | translate }}</label>
      <span>{{ container.name }}</span>
    </div>
    <div class="field image">
      <label>{{ 'image' | translate}}</label>
      <span>{{ container.image }}</span>
      <aui-icon *ngIf="displayAdvanced" class="pencil" (click)="showImageUpdate()" icon="basic:pencil_s"></aui-icon>
    </div>
    <div class="field ports">
      <label>{{ 'ports' | translate }}</label>
      <span>{{ container.ports }}</span>
    </div>
    <div class="field memory">
      <label>{{ 'memory' | translate }}</label>
      <span>{{'resource_requests' | translate}}:{{ container.resources.requests.memory
        || ' -'}}</span>
      <span>{{'resource_limits' | translate}}:{{ container.resources.limits.memory || '
        -'}}
      </span>
    </div>
    <div *ngIf="displayAdvanced" class="field command">
      <label>{{ 'command' | translate }}</label>
      <span>{{ container.command || '-' }}</span>
    </div>
    <div class="field cpu">
      <label>CPU</label>
      <span>{{'resource_requests' | translate}}:{{ container.resources.requests.cpu ||
        ' -'}}</span>
      <span>{{'resource_limits' | translate}}:{{ container.resources.limits.cpu || ' -'}}</span>
    </div>
    <div *ngIf="displayAdvanced" class="field args">
      <label>{{ 'args' | translate }}</label>
      <span>{{ container.args || '-' }}</span>
    </div>
  </div>
  <div class="actions">
    <a href="javascript:void(0)" [auiDropdown]="menu">
      <aui-icon icon="basic:window"></aui-icon>
      EXEC
    </a>
    <a href="javascript:void(0)" (click)="showLogs()">
      <aui-icon icon="basic:log"></aui-icon>
      {{ 'logs' | translate }}
    </a>
    <a *ngIf="displayAdvanced" href="javascript:void(0)" [auiDropdown]="actionMenu">
      <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
    </a>
  </div>
</div>

<aui-menu #menu>
  <ng-container *ngIf="this.resource.podInfo && this.resource.podInfo.pods.length">
    <ng-container>
      <aui-menu-group>
        <span auiMenuGroupTitle class="menu-group-title">{{ container.name }}</span>
        <aui-menu-item *ngFor="let pod of this.resource.podInfo.pods" (click)="onContainerSelected(pod.name)">{{ pod.name }}</aui-menu-item>
      </aui-menu-group>
    </ng-container>
  </ng-container>

  <div class="no-pod-hint" *ngIf="!this.resource.podInfo || !this.resource.podInfo.pods.length">
    {{ 'zero_state_hint' | translate: { resourceName: ('pods' | translate) } }}
  </div>
</aui-menu>

<aui-menu #actionMenu>
  <aui-menu-item (click)="volumeMount()">{{ 'application.add_volume_mounts' | translate }}</aui-menu-item>
  <aui-menu-item (click)="updateContainer()">{{ 'update_container' | translate }}</aui-menu-item>
</aui-menu>
