.alo-container {
  flex: 1;
  padding: 8px;
  display: flex;
  flex-direction: row;
  .info {
    flex: 1;
    flex-grow: 1;
    line-height: 2;
    padding-top: 10px;
    .name > span {
      font-weight: bold;
    }
    .name,
    .image,
    .ports,
    .memory,
    .command,
    .cpu,
    .args {
      display: flex;
      flex-direction: row;
      > label {
        padding-right: 8px;
        flex-shrink: 0;
        &:after {
          content: ':';
          padding: 0 0 0 2px;
        }
      }
      > span {
        margin-right: 10px;
      }
      .pencil {
        cursor: pointer;
        margin-left: 4px;
        flex-shrink: 0;
        color: #009ce3;
      }
    }
  }
  .actions {
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 17px;
    a {
      margin-right: 15px;
    }
  }
}

.menu-group-title {
  padding-left: 12px;
  font-size: 20px;
  line-height: 40px;
  color: black;
}

.container-selector-menu {
  &__pod-name {
    color: #999;
    font-size: 12px;
    background: #eee;
    padding: 4px 12px;
    margin: 0px -8px 4px -8px;
  }
}

.no-pod-hint {
  color: #999;
}
