.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aui-table {
  &__row {
    padding: 10px 0;
  }
  &__column-components {
    white-space: normal;
    display: flex;
    align-items: center;
    .mat-icon {
      height: 24px;
      width: 22px;
      margin-right: 4px;
    }
  }
  &__column-name {
    div:first-child {
      font-size: 16px;
      font-weight: 500;
    }
  }
  aui-table-header-cell.aui-table__column-components {
    padding-left: 4px;
  }
}
.display-name {
  color: #999;
  margin-top: 2px;
}
.component-icon {
  &-primary {
    background-color: mix(#009ce3, #fff, 5%);
    &:hover {
      background-color: mix(#009ce3, #fff, 20%);
    }
  }
  &-success {
    background-color: mix(#1bb393, #fff, 5%);
    &:hover {
      background-color: mix(#1bb393, #fff, 20%);
    }
  }
  &-error {
    background-color: mix(#eb6262, #fff, 5%);
    &:hover {
      background-color: mix(#eb6262, #fff, 20%);
    }
  }
}
.empty {
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #999;
}
