<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'microservice_environments.list' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-card *aloAsyncData="
  let data;
  let error = error;
  let loading = loading;
  let refresh = refetch;
  handler: fetch;
  params: params$ | async;
">
  <alo-card-section type="list">
    <div aloCardSectionHeader class="list-header">
      <button 
        aui-button="primary"
        routerLink="./create">
        {{ 'microservice_environments.setup' | translate }}
      </button>
      <div class="alo-search">
        <aui-search
          [placeholder]="'filter_by_name_placeholder' | translate"
          [searchButton]="false"
          [searching]="loading"
          [disabled]="loading"
          (keywordChange)="filter$.next($event)">
        </aui-search>
      </div>
    </div>
    <div aloCardSectionBody>
      <aui-table
        auiSort
        [dataSource]="data"
        [active]="(sort$ | async)?.active"
        [direction]="(sort$ | async)?.direction"
        (sortChange)="sortChange($event)">
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell 
            *auiTableHeaderCellDef
            aui-sort-header>
            {{ 'name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <div>
              <a [routerLink]="['./', item?.objectMeta.name]">
                {{ item?.objectMeta.name }}
              </a>
            </div>
            <div class="display-name">
              {{ item?.objectMeta.annotations['alauda.io/displayName'] || '-' }}
            </div>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="binding_project">
          <aui-table-header-cell 
            *auiTableHeaderCellDef>
            {{ 'microservice_environments.binding_project' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a
              *ngIf="item.bindingProjects[0]?.name; else noProject"
              [routerLink]="['/admin/projects/', item.bindingProjects[0]?.name]">
              {{ item.bindingProjects[0]?.name }}
            </a>
            <ng-template #noProject>-</ng-template>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="components">
          <aui-table-header-cell 
            *auiTableHeaderCellDef>
            {{ 'asf.components' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <ng-container *ngFor="let ref of item?.spec.microserviceComponentRefs">
              <mat-icon 
                [ngClass]="'component-icon-' + statusIconMap[ref.status]"
                [svgIcon]="getIconName(ref)"
                (mouseover)="selectedRef = ref"
                *ngIf="!['UnCreate', 'Created', 'Unknow'].includes(ref.status)"
                [auiTooltip]="logoTooltip">
              </mat-icon>
            </ng-container>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
        <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
      </aui-table>
      <div class="list-status-loading" *ngIf="loading">{{ 'loading' | translate }}</div>
      <div class="list-status-empty" *ngIf="!loading && !data?.length">
        {{ 'zero_state_hint' | translate: { resourceName: ('asf.microservice_environment' | translate) } }}
      </div>
    </div>
  </alo-card-section>
</alo-card>
<ng-template #logoTooltip>
  <div>{{ selectedRef?.name }}</div>
  <div>{{ selectedRef?.status }}</div>
</ng-template>