<aui-card>
  <div
    auiCardHeader
    class="header"
  >
    <div>{{'pipeline.basic_info'|translate}}</div>
    <div>
      <alo-menu-trigger [menu]="actionsMenu"></alo-menu-trigger>
      <aui-menu #actionsMenu>
        <aui-menu-item
          *ngIf="(history?.status?.phase === 'Complete' || history?.status?.phase === 'Failed')"
          (click)="replay()"
        >
          {{ 'pipeline.replay' | translate }}
        </aui-menu-item>
        <aui-menu-item
          *ngIf="history?.status?.phase === 'Running'"
          (click)="cancel()"
        >
          {{ 'pipeline.cancel' | translate }}
        </aui-menu-item>
        <aui-menu-item (click)="delete()">{{ 'delete' | translate }}</aui-menu-item>
      </aui-menu>
    </div>
  </div>
  <div
    aloCardSectionBody
    class="basic-body"
  >
    <div class="field">
      <label>{{ 'pipeline.history_id' | translate }}</label>
      <span>#{{ history?.jenkins?.build || '-' }}</span>
    </div>
    <div class="field">
      <label>{{ 'pipeline.start_at' | translate }}</label>
      <span>
        {{ (history?.status?.startedAt | aloRelativeTime) || '-' }}
      </span>
    </div>
    <div class="field">
      <label>
        {{ 'pipeline.history_status' | translate }}
      </label>
      <span [ngClass]="['history-status ', history?.status?.phase?.toLowerCase()||'']">
        <aui-icon
          margin="right"
          [icon]="getHistoryStatusIcon(history?.status?.phase).icon"
        ></aui-icon>
        {{ getHistoryStatusIcon(history?.status?.phase).translateKey | translate }}
      </span>
    </div>
    <div class="field">
      <label>
        {{ 'pipeline.history_time' | translate }}
      </label>
      <span>
        {{ getDuration(history?.status) | aloDuration }}
      </span>
    </div>
    <div class="field">
      <label>{{ 'pipeline_trigger' | translate }}</label>
      <ng-container [ngSwitch]="history?.cause?.type">
        <ng-container *ngSwitchCase="'cron'">
          <aui-icon
            [auiTooltip]="'pipeline.cron'|translate"
            icon="basic:time"
          ></aui-icon>
        </ng-container>
        <ng-container *ngSwitchCase="'codeChange'">
          <aui-icon
            [auiTooltip]="'pipeline.code_change'|translate"
            icon="basic:code"
          ></aui-icon>
        </ng-container>
        <ng-container *ngSwitchCase="'manual'">
          <aui-icon
            [auiTooltip]="'pipeline.manual'|translate"
            icon="basic:wrench_s"
          ></aui-icon>
        </ng-container>
        <ng-container *ngSwitchDefault>{{ '-' }}</ng-container>
      </ng-container>
    </div>
    <div class="field">
      <label>
        {{ 'pipeline.third_part_detail' | translate }}
      </label>
      <span>-</span>
    </div>
  </div>
</aui-card>
