.header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #333;
}
.basic-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -12px;

  .field {
    width: 50%;
    display: flex;
    padding-right: 24px;
    margin-bottom: 12px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    label::after {
      content: ':';
      margin-right: 8px;
    }

    .isEnabled {
      color: #009ce3;
    }
  }
}
