<div
  mat-dialog-header
  class="mat-dialog-header"
>
  <span class="title">
    <aui-icon
      icon="check_circle_s"
      class="success"
      *ngIf="failOrSuccess==='success'"
    ></aui-icon>
    <aui-icon
      icon="close_circle_s"
      class="fail"
      *ngIf="failOrSuccess==='fail'"
    ></aui-icon>
    {{ title }}
  </span>
  <a
    class="close"
    href="javascript:void(0)"
    (click)="cancel()"
  >
    <aui-icon icon="close"></aui-icon>
  </a>
</div>
<mat-dialog-content>
  <alo-application-resource-report-detail
    [reports]="reports"
    [failOrSuccess]="failOrSuccess"
  >
  </alo-application-resource-report-detail>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    *ngIf="updateButton==='again'"
    aui-button
    (click)="update()"
  >
    {{ 'application.update_again' | translate }}
  </button>
  <button
    *ngIf="updateButton==='continue'"
    aui-button
    (click)="update()"
  >
    {{ 'application.update_continue' | translate }}
  </button>
  <button
    aui-button="primary"
    (click)="cancel()"
  >
    {{ 'application.got_it' | translate }}
  </button>
</mat-dialog-actions>
