<div
  mat-dialog-header
  class="mat-dialog-header"
>
  <div>
    {{ 'pipeline.create_pipeline' | translate }}
  </div>
  <a
    class="close"
    href="javascript:void(0)"
    (click)="hideCreateMethodDialog()"
  >
    <mat-icon svgIcon="close"></mat-icon>
  </a>
</div>
<mat-dialog-content>
  <div class="alo-card-group">
    <a
      class="mini-card disabled"
      href="javascript:void(0)"
    >
      <aui-icon
        icon="diablo:template_file_line"
        size="80,78"
      ></aui-icon>
      <span>
        {{ 'pipeline.create_by_template' | translate }}
      </span>
      <p>
        {{ 'pipeline.create_by_template_description' | translate }}
      </p>
    </a>
    <a
      class="mini-card"
      (click)="hideCreateMethodDialog()"
      routerLink="{{path}}/create"
      href="javascript:void(0)"
      [queryParams]="{ method: 'jenkinsfile' }"
    >
      <aui-icon
        icon="diablo:jenkins_file"
        size="80px,78px"
      ></aui-icon>
      <span>
        {{ 'pipeline.create_by_jenkinsfile' | translate }}
      </span>
      <p>
        {{ 'pipeline.create_by_jenkinsfile_description' | translate }}
      </p>
    </a>
  </div>
</mat-dialog-content>
