.mini-card.disabled {
  span {
    color: #999;
  }
  &:hover {
    cursor: no-drop;
    ::ng-deep {
      box-shadow: 0 0 0px 1px rgba(102, 102, 102, 0.3);
      aui-icon {
        color: #009ce3;
      }
    }
    p {
      color: #009ce3;
    }
  }
}
