<mat-dialog-content>
    <div class="alo-confirm">
      <aui-icon
        [icon]="data.icon || 'exclamation_circle_s'"
        color="#eb6262"
      ></aui-icon>
      <div class="content">
        <div class="title">
          {{ data.title }}
        </div>
        <div class="description" *ngIf="data.description">
          {{ data.description }}
        </div>
      </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    [aui-button]="data.okType || 'error'"
    (click)="confirm()"
  >{{ data.okText || 'ok' | translate }}</button>
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
</mat-dialog-actions>