<div
  *aloPageHeaderContent
  class="page-header"
>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../']">{{ 'projects.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ name }}
      </span>
    </ng-template>
  </alo-breadcrumb>
  {{ deleting }}
  <button
    aui-button
    [disabled]="deleting"
    (click)="deleteProject()"
  >
    {{ 'projects.delete' | translate }}
  </button>
</div>
<ng-container *aloAsyncData="
  let data;
  let refresh = refetch;
  handler: fetchProject
">
  <alo-project-detail
    *ngIf="data"
    [data]="data"
    [disabled]="deleting"
    (updated)="refresh()"
  ></alo-project-detail>
</ng-container>

<ng-template #deleteConfirmDialog>
  <mat-dialog-content>
    <div class="delete-confirm-text">
      {{ 'projects.delete_confirm' | translate:{ name: name } }}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      aui-button="primary"
      [disabled]="deleting"
      (click)="delete()"
    >{{ 'delete' | translate }}</button>
    <button
      aui-button
      (click)="cancel()"
    >{{ 'cancel' | translate }}</button>
  </mat-dialog-actions>
</ng-template>
