<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../']">{{ 'projects.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'projects.create' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-card>
  <alo-card-section type="edit">
    <div aloCardSectionHeader>
      <span class="title">{{ 'projects.create' | translate }}</span>
    </div>
    <div aloCardSectionBody>
      <form #form="ngForm" (ngSubmit)="save()" id="createProjectForm" novalidate>
        <aui-form-field
          [label]="'projects.name' | translate"
          [required]="true"
          size="full"
          [error]="nameError"
        >
          <input
            [(ngModel)]="model.name"
            name="name"
            required
            [maxLength]="30"
            pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
          />
          <span auiErrorHint>{{ nameError | translate }}</span>
        </aui-form-field>
        <aui-form-field [label]="'display_name' | translate" size="full">
          <input
            [(ngModel)]="model.displayName"
            name="displayName"
            [maxLength]="30"
          />
        </aui-form-field>
        <aui-form-field [label]="'description' | translate" size="full">
          <textarea [(ngModel)]="model.description" name="description" ></textarea>
        </aui-form-field>
      </form>
    </div>
    <div aloCardSectionFooter>
      <button aui-button="primary" type="submit" form="createProjectForm">
        {{ 'create' | translate }}
      </button>
      <button aui-button (click)="cancel()">
        {{ 'cancel' | translate }}
      </button>
    </div>
  </alo-card-section>
</alo-card>
