<alo-card>
  <alo-card-section type="list">
    <div aloCardSectionHeader class="header">
      <span>{{ 'projects.secret' | translate }}</span>
      <div class="actions">
        <button
          aui-button
          [disabled]="loading$ | async"
          (click)="showCreate()"
        >
          {{ 'projects.add_secret' | translate }}
        </button>
        <input
          type="text"
          class="alo-search-input"
          [ngModel]="inputValue$ | async"
          (ngModelChange)="inputChange($event)"
          [placeholder]="'filter_by_name_placeholder' | translate"
        />
      </div>
    </div>
    <ng-container aloCardSectionBody>
      <aui-table
        auiSort
        [dataSource]="list$"
        [active]="sort$ | async"
        [direction]="(desc$ | async) ? 'desc' : 'asc'"
        (sortChange)="sortChange($event)"
      >
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell
            *auiTableHeaderCellDef
            aui-sort-header
          >
            {{ 'display_name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a [routerLink]="['../../secrets', item.objectMeta.namespace, item.objectMeta.name]">
              {{ item.objectMeta.annotations['alauda.io/displayName'] || item.objectMeta.name }}
            </a>
          </aui-table-cell>
        </ng-container>
        <!--<ng-container auiTableColumnDef="namespace">
          <aui-table-header-cell
            *auiTableHeaderCellDef
            aui-sort-header
          >
            {{ 'projects.name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.objectMeta.namespace }}
          </aui-table-cell>
        </ng-container>-->
        <ng-container auiTableColumnDef="type">
          <aui-table-header-cell
            *auiTableHeaderCellDef
          >
            {{ 'type' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.type }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="creationTimestamp">
          <aui-table-header-cell
            *auiTableHeaderCellDef
            aui-sort-header
            start="desc"
          >
            {{ 'create_at' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.objectMeta.creationTimestamp | aloRelativeTime }}
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="['name', 'type', 'creationTimestamp']"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: ['name', 'type', 'creationTimestamp'];"
        ></aui-table-row>
      </aui-table>
    </ng-container>
  </alo-card-section>
</alo-card>

<ng-template #createDialog>
  <div mat-dialog-header class="mat-dialog-header">
    {{ 'projects.add_secret' | translate }}
    <a class="close" href="javascript:void(0)" (click)="hideCreate()">
      <mat-icon svgIcon="close"></mat-icon>
    </a>
  </div>
  <mat-dialog-content>
    <alo-secret-edit
      #editForm=alo-secret-edit
      [namespace]="project"
      (saved)="secretCreated()"
    ></alo-secret-edit>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      aui-button="primary"
      [disabled]="editForm.notReady || editForm.saving"
      [loading]="editForm.saving"
      (click)="editForm.submit()"
    >{{ 'create' | translate }}</button>
    <button aui-button (click)="hideCreate()">{{ 'cancel' | translate }}</button>
  </mat-dialog-actions>
</ng-template>