.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

aui-paginator {
  display: block;
  margin-top: 12px;
}

mat-dialog-content {
  height: 510px;
  overflow: hidden;
  aui-monaco-editor {
    margin-top: 12px;
    padding: 12px 0;
    background-color: #273238;
    height: 100%;
  }
}
