<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_microservice' | translate }}
      </span>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_configs' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<alo-card *aloAsyncData="
  let data;
  let error = error;
  let loading = loading;
  let refresh = refetch;
  handler: fetch;
  params: params$ | async;
">
  <alo-card-section type="list">
    <div aloCardSectionHeader class="list-header">
      <div>{{ 'microservice.configs' | translate }}</div>
      <aui-search
        [keyword]="keywords$ | async"
        [placeholder]="'microservice.search_by_belong_service_placeholder' | translate"
        [searchButton]="true"
        [searching]="loading"
        [disabled]="loading"
        (search)="search($event)">
      </aui-search>
    </div>
    <div aloCardSectionBody>
      <aui-table
        auiSort
        [dataSource]="data?.configs"
        [active]="(sort$ | async)?.active"
        [direction]="(sort$ | async)?.direction"
        (sortChange)="sortChange($event)">
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell 
            *auiTableHeaderCellDef
            aui-sort-header>
            {{ 'microservice.belong_service' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item?.name }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="config_file">
          <aui-table-header-cell 
            *auiTableHeaderCellDef>
            {{ 'microservice.config_file' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a 
              href="javascript:void(0);"
              (click)="displayFileContent(item.fileName, item.fileContents)">
              {{ item?.fileName }}
            </a>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="label">
          <aui-table-header-cell 
            *auiTableHeaderCellDef>
            Label
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item?.label }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="profile">
          <aui-table-header-cell 
            *auiTableHeaderCellDef>
            Profile
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item?.profile }}
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
        <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
      </aui-table>
      <div class="list-status-loading" *ngIf="loading">{{ 'loading' | translate }}</div>
      <div class="list-status-empty" *ngIf="!loading && !data?.configs.length">
        {{ 'zero_state_hint' | translate: { resourceName: ('microservice.configs' | translate) } }}
      </div>
    </div>
  </alo-card-section>
  <aui-paginator
    *ngIf="!loading && data?.configs.length"
    [pageIndex]="pageIndex$ | async"
    [pageSize]="itemsPerPage$ | async"
    [pageSizeOptions]="[10, 20, 50, 100]"
    [length]="data?.total"
    (page)="pageChange($event)">
  </aui-paginator>
</alo-card>

<ng-template #fileContent>
  <div 
    mat-dialog-header
    class="mat-dialog-header">
    {{ activedFile?.name }}
    <a
      class="close"
      href="javascript:void(0)"
      (click)="close()"
      mat-dialog-close>
      <aui-icon icon="close"></aui-icon>
    </a>
  </div>
  <mat-dialog-content>
    <!-- <div class="file-content">
      <div *ngFor="let content of activedFile.contents">
        {{ content }}
      </div>
    </div> -->
    <aui-monaco-editor 
      [ngModel]="activedFile.content"
      [options]="monacoOptions">
    </aui-monaco-editor>
  </mat-dialog-content>
</ng-template>