<div *ngIf="!result" class="no-data">
  <span>{{ 'loading' | translate }}</span>
</div>

<div *ngIf="result" class="app-header">
  <ul class="tabs">
    <li class="tab-label" [class.active]="activeTab === 'base'">
      <a href="javascript:void(0)" (click)="changeTab('base')">{{ 'detail' | translate }}</a>
    </li>
    <li class="tab-label" [class.active]="activeTab === 'YAML'">
      <a href="javascript:void(0)" (click)="changeTab('YAML')"> YAML </a>
    </li>
    <li class="tab-label" [class.active]="activeTab === 'configmap'">
      <a href="javascript:void(0)" (click)="changeTab('configmap')"> {{ 'configmap' | translate }} </a>
    </li>
    <li class="tab-label" [class.active]="activeTab === 'log'">
      <a href="javascript:void(0)" (click)="changeTab('log')">{{ 'logs' | translate }}</a>
    </li>
    <li class="tab-label" [class.active]="activeTab === 'event'">
      <a href="javascript:void(0)" (click)="changeTab('event')">{{ 'event' | translate }}</a>
    </li>
  </ul>
</div>

<ng-container *ngIf="activeTab === 'base'">
  <alo-k8s-resource-basic-info *ngIf="result" [result]="result" [data]="params" (updateLabelsEvent)="updateLabels()"
    (updateAnnotationsEvent)="updateAnnotations()" (updatedreplicasEvent)="refreshResourceDetail()"></alo-k8s-resource-basic-info>

  <alo-card *ngIf="result">
    <alo-card-section type="detail">
      <div aloCardSectionHeader>
        {{ 'container' | translate }}
      </div>
      <div aloCardSectionBody class="base-body">
        <div class="field full">
          <ng-container *ngIf="multiContainer">
            <ul class="tabs">
              <li class="tab-label" *ngFor="let container of result.containers" [class.active]="selectedContainer === container.name">
                <a href="javascript:void(0)" (click)="changeContainer(container.name)">{{ container.name }}</a>
              </li>
            </ul>
          </ng-container>
        </div>
        <ng-container *ngFor="let container of result.containers; index as i; trackBy: containerIdentity">
          <ng-container *ngIf="selectedContainer === container.name">
            <div class="containers-wrapper">
              <alo-container [resource]="containerParams" (selecteLogs)="showLogs($event)" [container]="container"
                [displayContainerName]="!multiContainer" [displayAdvanced]="true" (updated)="refreshResourceDetail()">
              </alo-container>
              <div class="volume-info-wrapper" *ngIf="result.volumeInfos[i] && result.volumeInfos[i].length !== 0">
                <alo-foldable-bar [title]="'application.mounted_volume' | translate" (toggleFold)="toggleFold()"></alo-foldable-bar>
                <alo-volume-info *ngIf="folded" [data]="result.volumeInfos[i]" [resource]="containerParams"
                  [container]="container"></alo-volume-info>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </alo-card-section>
  </alo-card>
</ng-container>

<ng-container *ngIf="activeTab === 'YAML'">
  <div class="detail-page-tab-container">
    <aui-code-editor [options]="displayOptions" [(ngModel)]="yaml">
    </aui-code-editor>
  </div>
</ng-container>

<ng-container *ngIf="activeTab === 'log'">
  <div class="detail-page-tab-container">
    <alo-application-log [resourceLogParams]="logParams"></alo-application-log>
  </div>
</ng-container>

<ng-container *ngIf="activeTab === 'configmap'">
  <alo-pod-env-list [containers]="result.containers" [noUpdate]="false" [namespace]="params.namespace"
    [kind]="params.kind" [resourceName]="params.resourceName" (update)="refreshResourceDetail()"></alo-pod-env-list>
</ng-container>

<ng-container *ngIf="activeTab === 'event'">
  <alo-card>
    <alo-card-section type="list">
      <div aloCardSectionBody class="empty-tab">{{ 'no_data' | translate }}</div>
    </alo-card-section>
  </alo-card>
</ng-container>
