:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  .base-body {
    flex: 1;
  }

  .no-data {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    color: #666;
    background-color: white;
  }

  .detail-page-tab-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
  }

  .containers-wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    & > alo-container {
      flex-basis: 100%;
      flex-grow: 1;
      padding: 6px;
    }
    .volume-info-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .empty-tab {
    flex: 1;
    display: flex;
    justify-content: center;
    color: lightgray;
  }

  ::ng-deep {
    .alo-card__section-body {
      display: flex;
    }
    .aui-code-editor {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
