<ng-container *aloAsyncData="
  let applicationDetail;
  let error = error;
  let loading = loading;
  let refresh = refetch;
  handler: fetchApplication;
  params: identity$ | async;
  pullIn: 10 * 1000;">
  <div *aloPageHeaderContent class="page-header">
    <alo-breadcrumb>
      <ng-template aloBreadcrumbItem>
        <a [routerLink]="['../']">{{ 'applications.list' | translate }}</a>
      </ng-template>
      <ng-template aloBreadcrumbItem>
        <span>
          {{ (identity$ | async).name }}
        </span>
      </ng-template>
    </alo-breadcrumb>
    <button 
      aui-button="primary"
      [plain]="true"
      [size]="size"
      [auiDropdown]="actions"
      [disabled]="!applicationDetail?.data">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
  </div>
  <aui-menu #actions>
    <aui-menu-item (click)="updateByYaml()">{{ 'update' | translate }}</aui-menu-item>
    <aui-menu-item (click)="confirmDelete()">{{ 'application.delete_application' | translate }}</aui-menu-item>
  </aui-menu>
  <alo-application-detail #detailRef
    [params]="identity$ | async"
    [data]="applicationDetail?.data"
    (updated)="refresh()"
    (deleted)="onDeleted()"
    (notFound)="onDeleted()"
  ></alo-application-detail>
</ng-container>
