<div class="steps">
  <ng-container *ngFor="let step of steps; let i = index">
    <div class="step-item" [ngClass]="{active: step.active}">
      <span class="step-number" *ngIf="!step.complete">{{ step.index }}</span>
      <span class="check-icon actived" *ngIf="step.complete">
        <aui-icon icon="check_s"></aui-icon>
      </span>
      <span>{{ step.text }}</span>
    </div>
    <div class="step-line" *ngIf="i < steps.length - 1"></div>
  </ng-container>
</div>