@import 'variables';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps {
  @include flex-center;
  font-size: 14px;
}
.step {
  &-item {
    @include flex-center;
    color: #999;
    &.active {
      color: #4d4d4d;
    }
    .check-icon {
      margin-right: 8px;
    }
  }
  &-line {
    height: 1px;
    background-color: #d8d8d8;
    width: 96px;
    margin: 0 8px;
  }
  &-number {
    @include flex-center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #999;
    margin-right: 8px;
    .active & {
      background-color: $color-primary;
      border-color: $color-primary;
      color: #fff;
    }
  }
}
