@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  .alo-card {
    & + .alo-card {
      margin-top: $margin-base;
    }
  }

  .list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .resource-border {
    border-top: 1px dashed #cccccc;
    margin: 10px 0;
    height: 1px;
  }

  .app-status {
    display: flex;
    align-items: center;
    width: 200px;
    margin-right: 20px;
    .status-gauge-bar {
      width: 150px;
      margin-right: 5px;
      padding-bottom: 7px;
    }
  }

  .aviliable-data {
    cursor: pointer;
    color: #24a7e3;
    &:hover {
      background-color: #e5f5fc;
    }
  }

  .tooltip-container {
    .tooltip-list {
      margin-left: 30px;
      padding: 10px 20px 10px 0;
      a {
        cursor: pointer;
        color: #009ce3;
        &:hover {
          color: #0079c2;
        }
      }
    }
  }

  .empty-pipeline {
    display: flex;
    justify-content: center;
    color: lightgray;
  }

  .address-total {
    margin-left: 70px;
    color: gray;
  }

  .resoure-header {
    display: flex;
    align-items: center;
    .resoure-kind {
      margin-left: 8px;
    }
  }

  .no-data {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    color: #666;
    background-color: white;
  }

  .detail-page-tab-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
  }

  ::ng-deep {
    .aui-dropdown-button__content {
      vertical-align: bottom;
    }
    .aui-code-editor {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
