<div *ngIf="!data" class="no-data">
  <span>{{ 'loading' | translate }}</span>
</div>
<div class="app-header" *ngIf="data">
  <ul class="tabs">
    <li class="tab-label" [class.active]="activeTab === 'base'">
      <a href="javascript:void(0)" (click)="changeTab('base')">{{ 'detail' | translate }}</a>
    </li>
    <li class="tab-label" [class.active]="activeTab === 'YAML'">
      <a href="javascript:void(0)" (click)="changeTab('YAML')"> YAML </a>
    </li>
    <li class="tab-label" [class.active]="activeTab === 'pipeline'">
      <a href="javascript:void(0)" (click)="changeTab('pipeline')">{{ 'pipelines' | translate }}</a>
    </li>
    <li class="tab-label" [class.active]="activeTab === 'log'">
      <a href="javascript:void(0)" (click)="changeTab('log')">{{ 'logs' | translate }}</a>
    </li>
  </ul>
</div>

<ng-container *ngIf="activeTab === 'base'">
  <alo-card *ngIf="data">
    <alo-card-section type="detail">
      <div aloCardSectionHeader>
        {{ 'base_info' | translate }}
      </div>
      <div aloCardSectionBody class="base-body">
        <div class="field">
          <label>{{ 'name' | translate }}</label>
          <span>{{ data?.name }}</span>
        </div>
        <div class="field">
          <label>{{ 'application.address' | translate }}</label>
          <span>
            <a *ngIf="data.visitAddresses[0];else emptyAddr" [href]="data.visitAddresses[0]"
              target="_blank">{{data.visitAddresses[0]}}</a>
            <ng-template #emptyAddr>
              <span>{{'-'}}</span>
            </ng-template>
          </span>
          <div *ngIf="data.visitAddresses.length>1" class="address-total">
            {{ 'total' | translate }}
            <span class="aviliable-data" [auiTooltip]="isitAddresses" auiTooltipType="info" auiTooltipTrigger="click"
              auiTooltipPosition="bottom">
              {{ data.visitAddresses.length }}
            </span>
            {{ 'application.image_num' | translate }}
          </div>
        </div>
        <div class="field full">
          <label>{{ 'application.resource_status' | translate }}</label>
          <div class="app-status">
            <div class="status-gauge-bar">
              <alo-status-gauge-bar [statusInfo]="data?.appStatus"></alo-status-gauge-bar>
            </div>
            <span>{{data?.appStatus.total}}</span>
          </div>
        </div>
      </div>
    </alo-card-section>
  </alo-card>
  <ng-container *ngFor="let resourcekind of resourceKinds">
    <alo-card *ngIf="data && data[resourcekind] && data[resourcekind].length">
      <alo-card-section type="detail" *ngFor="let item of data[resourcekind]; let i = index; trackBy:tracker">
        <div aloCardSectionHeader *ngIf="i === 0" class="resoure-header">
          <alo-k8s-resource-icon [resourceKind]="resourcekind"></alo-k8s-resource-icon>
          <span class="resoure-kind">{{ ('application.'+resourcekind) | translate }} ({{data[resourcekind].length}}
            {{ 'resource_unit' | translate }})</span>
        </div>
        <div aloCardSectionBody>
          <div *ngIf="i !== 0" class="resource-border"></div>
          <alo-k8s-resource [data]="item" (updated)="updated.emit()" (showContainerLogs)="showLogs($event)"></alo-k8s-resource>
        </div>
      </alo-card-section>
    </alo-card>
  </ng-container>
  <alo-card *ngIf="data && data.others && data.others.length">
    <alo-card-section type="list">
      <div aloCardSectionHeader class="list-header">
        <span>{{ 'application.others' | translate }}</span>
        <input class="alo-search-input" type="text" [placeholder]="'filter_by_name_placeholder' | translate"
          [(ngModel)]="othersKeywords" />
      </div>
      <div aloCardSectionBody>
        <alo-application-other-list [data]="data.others" [keywords]="othersKeywords"></alo-application-other-list>
      </div>
    </alo-card-section>
  </alo-card>
</ng-container>
<ng-container *ngIf="activeTab === 'pipeline'">
  <alo-card *ngIf="data && data.pipelines && data.pipelines.length; else emptyPipeline">
    <alo-card-section type="list">
      <div aloCardSectionHeader class="list-header">
        <span>{{ 'pipelines' | translate }}</span>
      </div>
      <div aloCardSectionBody>
        <alo-pipeline-list [pipelines]="data.pipelines" [columns]="['name', 'history', 'triggers', 'actions']"
          (started)="onPipelineStart($event)" (deleted)="updated.emit()"></alo-pipeline-list>
      </div>
    </alo-card-section>
  </alo-card>
  <ng-template #emptyPipeline>
    <alo-card>
      <alo-card-section type="list">
        <div aloCardSectionBody class="empty-pipeline">{{ 'no_data' | translate }}</div>
      </alo-card-section>
    </alo-card>
  </ng-template>
</ng-container>
<ng-container *ngIf="activeTab === 'YAML'">
  <div class="detail-page-tab-container">
    <aui-code-editor [options]="displayOptions" [(ngModel)]="yaml">
    </aui-code-editor>
  </div>
</ng-container>
<ng-container *ngIf="activeTab === 'log'">
  <div class="detail-page-tab-container">
    <alo-application-log [appLogParams]="logParams"></alo-application-log>
  </div>
</ng-container>

<ng-template #isitAddresses>
  <div class="tooltip-container">
    <div class="tooltip-list">
      <ul>
        <li *ngFor="let item of data.visitAddresses">
          <a [href]="item" target="_blank">{{item}}</a>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
