$queued: #009ce3;
$pending: #009ce3;
$running: #009ce3;
$failed: #eb6262;
$complete: #1bb393;
$cancelled: #cccccc;
$aborted: #f8ac58;
$unknown: #cccccc;

$status-color-map: (
  pending: $pending,
  queued: $queued,
  running: $running,
  failed: $failed,
  complete: $complete,
  cancelled: $cancelled,
  aborted: $aborted,
  unknown: $unknown,
);

.history-name__overview {
  cursor: pointer;
  &:hover {
    color: #009ce3;
  }
  &--actived {
    color: #009ce3;
  }
}

.history-status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  aui-icon {
    border-radius: 50%;
    margin-right: 4px;
  }

  @each $status, $color in $status-color-map {
    &.#{$status} {
      aui-icon {
        color: $color;
      }
    }
  }
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  margin-top: 20px;
}

.aui-table {
  &__column-actions {
    max-width: 40px;
  }
}
.triggers {
  display: flex;
  .trigger {
    min-width: 24px;
  }
}
