<alo-card>
  <ng-container>
    <alo-card-section>
      <div
        aloCardSectionHeader
        class="list-header"
      >
        <div>
          {{'pipeline.history'|translate}}
          <span>({{historyList?.total || '-'}})</span>
        </div>
        <aui-search
          [placeholder]="'pipeline.search_by_id_placeholder'| translate"
          [searchButton]="true"
          [searching]="loading"
          (search)="search($event)"
        ></aui-search>
      </div>

      <div aloCardSectionBody>
        <aui-table
          auiSort
          (sortChange)="sortChange($event)"
          [dataSource]="historyList?.histories"
        >
          <ng-container auiTableColumnDef="name">
            <aui-table-header-cell *auiTableHeaderCellDef>{{'pipeline.history_id'|translate}}</aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <div style="min-width: 40px; display: inline-block;">
                <a
                  *ngIf="item?.jenkins?.build"
                  [routerLink]="['./', item.name]"
                >
                  #{{ item?.jenkins?.build }}
                </a>
                <span *ngIf="!item?.jenkins?.build">-</span>
              </div>
              <aui-icon
                (click)="openLogs(item)"
                margin="left"
                class="history-name__overview"
                [auiTooltip]="'pipeline.click_to_view_history_overview' | translate"
                icon="basic:overview"
              ></aui-icon>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="status">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'pipeline.history_status' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <span [ngClass]="['history-status ', item?.phase?.toLowerCase()]">
                <aui-icon
                  [ngClass]="{'icon-spin': getHistoryStatusIcon(item.phase).icon === 'basic:sync_circle_s'}"
                  [icon]="getHistoryStatusIcon(item.phase).icon"
                ></aui-icon>
                <span style="margin-left: 4px">
                  {{ getHistoryStatusIcon(item.phase).translateKey | translate }}
                </span>
              </span>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="startedAt">
            <aui-table-header-cell
              aui-sort-header
              start="desc"
              *auiTableHeaderCellDef
            >
              {{ 'pipeline.start_at' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <div>{{ item.startedAt | aloRelativeTime }}</div>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="time">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'pipeline.history_time' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <span *ngIf="!item.finishedAt && item?.phase?.toLowerCase() === 'running'; else durationTime">
                {{ ((currentDate|async) - getDateTimes(item.startedAt)) | aloDuration }}
              </span>
              <ng-template #durationTime>
                <span>{{ item.duration | aloDuration }}</span>
              </ng-template>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="cause">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'pipeline.history_cause' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <div
                class="triggers"
                [ngSwitch]="item.cause.type"
              >
                <div class="trigger">
                  <ng-container *ngSwitchCase="'cron'">
                    <aui-icon
                      [auiTooltip]="'pipeline.cron'|translate"
                      icon="basic:time"
                    ></aui-icon>
                  </ng-container>
                </div>
                <div class="trigger">
                  <ng-container *ngSwitchCase="'codeChange'">
                    <aui-icon
                      [auiTooltip]="'pipeline.code_change'|translate"
                      icon="basic:code"
                    ></aui-icon>
                  </ng-container>
                </div>
                <div class="trigger">
                  <ng-container *ngSwitchCase="'manual'">
                    <aui-icon
                      [auiTooltip]="'pipeline.manual'|translate"
                      icon="basic:wrench_s"
                    ></aui-icon>
                  </ng-container>
                </div>
                <ng-container *ngSwitchDefault>{{ '-' }}</ng-container>
              </div>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="actions">
            <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <alo-menu-trigger
                [menu]="actionsMenu"
                [context]="{item: item}"
              ></alo-menu-trigger>
              <aui-menu #actionsMenu>
                <aui-menu-item
                  *ngIf="item.phase.toLowerCase() === 'complete'||item.phase.toLowerCase() === 'failed'"
                  (click)="replay(item)"
                >
                  {{ 'pipeline.replay' | translate }}
                </aui-menu-item>
                <aui-menu-item
                  *ngIf="item.phase.toLowerCase() === 'running'"
                  (click)="cancel(item)"
                >
                  {{ 'pipeline.cancel' | translate }}
                </aui-menu-item>
                <aui-menu-item (click)="delete(item)">{{ 'delete' | translate }}</aui-menu-item>
              </aui-menu>
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
          <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
        </aui-table>
      </div>
      <div
        aloCardSectionFooter
        class="footer"
      >
        <aui-paginator
          *ngIf="historyList?.total"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[10, 20, 50]"
          [length]="historyList?.total"
          (page)="pageChange($event)"
        ></aui-paginator>
      </div>
    </alo-card-section>
  </ng-container>
</alo-card>
