.alo-menu-trigger {
  box-shadow: none;
  color: #333333;

  &.aui-button--text {
    width: 32px;
    height: 32px;
  }

  &:focus {
    box-shadow: none;
  }
  &.isActived,
  &:hover {
    color: #009ce3;
    background-color: #e6f5fc;
  }
}
