<div
  *aloPageHeaderContent
  class="page-header"
>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['/admin/projects']">{{ 'projects.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['/admin/projects', namespace$ | async]">
        {{ namespace$ | async }}
      </a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ bindingName$ | async }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</div>

<aui-card>
  <div
    auiCardHeader
    class="info-header"
  >
    <div class="header-title">
      <span>{{ 'basic_info' | translate }}</span>
      <aui-icon
        *ngIf="(binding$ | async)?.status.phase === 'Error'"
        class="alert"
        [auiTooltip]="(binding$ | async)?.status.message"
        [auiTooltipDisabled]="!(binding$ | async)?.status.message"
        auiTooltipPosition="top start"
        icon="exclamation_circle_s"
      ></aui-icon>
    </div>
    <alo-menu-trigger [menu]="actionsMenu"></alo-menu-trigger>
  </div>
  <aui-menu #actionsMenu>
    <aui-menu-item (click)="updateBind()">{{ 'update' | translate }}</aui-menu-item>
    <aui-menu-item
      type="danger"
      [divide]="true"
      (click)="unbind()"
    >{{ 'projects.unbind' | translate }}</aui-menu-item>
  </aui-menu>
  <ul class="basic-info">
    <li class="info-item">
      <span class="label">{{ 'name' | translate }}：</span>
      <span class="value">{{ (binding$ | async)?.name }}</span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'projects.bind_at' | translate }}：</span>
      <span class="value">{{ (binding$ | async)?.creationTimestamp | aloTime }}</span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'secret' | translate }}：</span>
      <span class="value">
        <a
          *ngIf="(binding$ | async)?.secret"
          [routerLink]="['/admin/secrets',(binding$ | async)?.namespace,(binding$ | async)?.secret]"
        >{{ (binding$ | async)?.secret }}</a>
        <ng-container *ngIf="!(binding$ | async)?.secret">{{ 'no_auth' | translate
          }}
        </ng-container>
      </span>
    </li>
    <li class="info-item">
      <span class="label">{{ 'description' | translate }}：</span>
      <span class="value">
        <span>{{ (binding$ | async)?.description || '-' }}</span>
      </span>
    </li>
  </ul>
</aui-card>

<aui-card>
  <div class="list-header">
    <div>{{ 'artifact_repository' | translate }}</div>
    <div class="actions">
      <button
        aui-button
        [disabled]="!(binding$ | async)"
        (click)="assignRepository()"
      >
        {{ 'registry.assign_image_repository' | translate }}
      </button>
      <aui-search
        [placeholder]="'registry.filter_by_repo_address' | translate"
        (keywordChange)="repositoriesFilter$$.next($event)"
      ></aui-search>
    </div>
  </div>
  <alo-repository-list [repositories]="filteredRepositories$ | async">
  </alo-repository-list>
  <div
    *ngIf="!(repositories$ | async)?.length"
    class="table-placeholder"
  >
    {{ 'registry.no_assigned_repository' | translate }}
  </div>
</aui-card>
