.basic-info {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
  color: #333333;
  margin-bottom: -12px;

  .info-item {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 12px;
  }
}

.header-title {
  display: flex;
  align-items: center;
}

.alert {
  font-size: 16px;
  color: #f8ac58;
  margin-left: 8px;
}

.hint {
  font-size: 16px;
  color: #999999;
  margin-left: 8px;
}

.info-header {
  display: flex;
  justify-content: space-between;
}

.list_placeholder {
  margin-top: 16px;
  text-align: center;
}

.list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 18px;

  .actions {
    display: flex;
  }

  .aui-button {
    margin-right: 8px;
  }
}
