<div [ngSwitch]="type">
  <aui-form-item *ngSwitchCase="'create'">
    <label auiFormItemLabel>{{'name'|translate}}</label>
    <input
      auiFormItemControl
      aui-input
      [formControl]="form.controls.name"
      required
    >
  </aui-form-item>
  <div
    *ngSwitchCase="'update'"
    class="aui-form-item aui-form-item--right"
  >
    <div
      class="aui-form-item__label-wrapper aui-form-item__label-wrapper--right"
      style="width: 150px"
    >
      <label>{{'name'|translate}}</label>
    </div>
    <div class="aui-form-item__container">
      <div class="aui-form-item__content">{{values?.name}}</div>
    </div>
  </div>
  <aui-form-item>
    <label auiFormItemLabel>{{'display_name'|translate}}</label>
    <input
      auiFormItemControl
      aui-input
      [formControl]="form.controls.display_name"
    >
  </aui-form-item>
  <aui-form-item *ngSwitchCase="'create'">
    <label auiFormItemLabel>{{'pipeline.instance'|translate}}</label>
    <aui-select
      auiFormItemControl
      [disabled]="jenkins && !jenkins.length"
      [loading]="!jenkins"
      [formControl]="form.controls.jenkins_instance"
      required
    >
      <aui-option
        *ngFor="let instance of jenkins"
        [value]="instance.name"
      >
        {{instance.name}}
      </aui-option>
    </aui-select>
  </aui-form-item>
  <div
    *ngSwitchCase="'update'"
    class="aui-form-item aui-form-item--right"
  >
    <div
      class="aui-form-item__label-wrapper aui-form-item__label-wrapper--right"
      style="width: 150px"
    >
      <label>{{'pipeline.instance'|translate}}</label>
    </div>
    <div class="aui-form-item__container">
      <div class="aui-form-item__content">{{values?.jenkins_instance}}</div>
    </div>
  </div>
  <aui-form-item>
    <label auiFormItemLabel>{{'pipeline.belong_app'|translate}}</label>
    <aui-select
      auiFormItemControl
      [disabled]="apps && !apps.length"
      [loading]="!apps"
      [formControl]="form.controls.app"
    >
      <aui-option
        *ngFor="let app of apps"
        [value]="app.name"
      >
        {{app.name}}
      </aui-option>
    </aui-select>
  </aui-form-item>
  <aui-form-item *ngSwitchCase="'create'">
    <label auiFormItemLabel>{{'pipeline.from_source'|translate}}</label>
    <aui-radio-group [formControl]="form.controls.source">
      <aui-radio-button
        *ngFor="let type of jenkinsfielSourceType"
        [value]="type.value"
      >
        {{ type.name | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <div
    *ngSwitchCase="'update'"
    class="aui-form-item aui-form-item--right"
  >
    <div
      class="aui-form-item__label-wrapper aui-form-item__label-wrapper--right"
      style="width: 150px"
    >
      <label>{{'pipeline.from_source'|translate}}</label>
    </div>
    <div class="aui-form-item__container">
      <div class="aui-form-item__content" *ngIf="values.source">
        {{(values?.source === 'repo'?'pipeline.from_repo':'pipeline.from_script')|translate}}
      </div>
    </div>
  </div>
</div>
