<aui-table
  auiSort
  [dataSource]="pipelines"
  (sortChange)="sortChanged($event)"
  [trackBy]="pipelineIdentity"
>
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell
      aui-sort-header="name"
      start="asc"
      *auiTableHeaderCellDef
    >
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <a
        [routerLink]="['/workspace',item.namespace,'pipelines',item.name]"
        [title]="item.name"
        class="pipelineconfig_name"
      >
        {{ item.name }}
      </a>
      <div>{{ item.displayName || '-' }}</div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="history">
    <aui-table-header-cell
      aui-sort-header="pipelineCreationTimestamp"
      start="desc"
      *auiTableHeaderCellDef
    >
      {{ 'history' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span *ngIf="!item.histories.length">-</span>
      <alo-history-preview
        *ngIf="item.histories.length"
        [histories]="item.histories"
        [project]="item.namespace"
        [pipelineName]="item.name"
      ></alo-history-preview>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="belongs_application">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'pipeline.belongs_application' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span *ngIf="!item.application">-</span>
      <a
        *ngIf="item.application"
        [routerLink]="['/workspace',item.namespace,'applications',item.application]"
      >
        {{ item.application }}
      </a>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="triggers">
    <aui-table-header-cell *auiTableHeaderCellDef>{{ 'pipeline_trigger' | translate }}</aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <ng-container *ngIf="item.triggers?.length; else noTriggers">
        <aui-icon
          *ngFor="let trigger of item.triggers"
          margin="right"
          [icon]="mapTriggerIcon(trigger.type)"
          [class.isEnabled]="trigger.enabled"
          [auiTooltip]="getTriggerHint(trigger)"
        ></aui-icon>
      </ng-container>
      <ng-template #noTriggers>
        <span>-</span>
      </ng-template>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="actions">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alo-menu-trigger
        [menu]="actionsMenu"
        [context]="{item: item}"
      ></alo-menu-trigger>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>

<aui-menu #actionsMenu>
  <ng-template
    auiMenuContent
    let-item="item"
  >
    <aui-menu-item (click)="start(item)">{{ 'start' | translate }}</aui-menu-item>
    <aui-menu-item (click)="update(item)">{{ 'update' | translate }}</aui-menu-item>
    <aui-menu-item (click)="copy(item)">{{ 'copy' | translate }}</aui-menu-item>
    <aui-menu-item
      type="danger"
      [divide]="true"
      (click)="delete(item)"
    >
      {{ 'delete' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
