.aui-table {
  min-width: 0px;
  color: #999999;
  &__column-name {
    flex: 1;
  }
  &__column-history {
    flex: 1;
  }
  &__column-jenkinsInstance {
    flex: 1;
  }
  &__column-codeRepository {
    flex: 2;
  }
  &__column-triggers {
    flex: 1;
  }
  &__column-actions {
    max-width: 40px;
  }

  .isEnabled {
    color: #009ce3;
  }

  .pipelineconfig_name {
    font-size: 16px;
    font-weight: 600;
    &:hover {
      color: #009ce3;
      text-decoration: underline;
    }
  }
}
