<div class="card-container">
  <div class="app-info">
    <div class="row-image" (click)="toggleResourceList()">
      <img *ngIf="displayResource; else elseImgBlock" src="assets/icons/app-core/application-Unfold.svg">
      <ng-template #elseImgBlock>
        <img src="assets/icons/app-core/application-PackUp.svg">
      </ng-template>
    </div>
    <div class="app-name">
      <a href="javascript:void(0)" [routerLink]="['./', appInfo.name]">
        {{appInfo.name}}
      </a>
    </div>
    <div fxFlex></div>
    <div class="app-status">
      <div class="status-gauge-bar">
        <alo-status-gauge-bar [statusInfo]="appInfo.appStatus"></alo-status-gauge-bar>
      </div>
      <span (click)="toggleResourceList()" [ngClass]="{'aviliable-data': appInfo.appStatus.total>0}">{{appInfo.appStatus.total}}</span>
    </div>
    <div *ngIf="addressesNum>0; else elseLinkBlock"
         class="app-links"
         style="cursor: pointer;"
         [auiTooltip]="links"
         auiTooltipType="info"
         auiTooltipTrigger="click"
         auiTooltipPosition="bottom end">
      <aui-icon icon="basic:link" [title]="'application.address' | translate"></aui-icon>
      <span class="aviliable-data">
            {{addressesNum}}
      </span>
    </div>
    <ng-template #elseLinkBlock>
      <div class="app-links">
        <aui-icon icon="basic:link" [title]="'application.address' | translate"></aui-icon>
        <span>{{addressesNum}}</span>
      </div>
    </ng-template>
  </div>
  <div class="resource-list-container" *ngIf="displayResource" [ngStyle]="{'overflow-y':appInfo.resourceList.length > 4 ? 'scroll' : ''}">
    <div class="resource-list">
      <div class="resource-list-item" *ngFor="let item of appInfo.resourceList">
        <div class="resource-icon-container">
          <alo-k8s-resource-icon [resourceKind]="item.resourceKind"></alo-k8s-resource-icon>
        </div>
        <div class="resoure-name">
          <a href="javascript:void(0)" [routerLink]="['./', appInfo.name, item.typeMeta.kind, item.objectMeta.name]">
            {{item.objectMeta.name}}
          </a>
        </div>
        <div class="resoure-status">
          <alo-status-icon [status]="statusMap(item.status)"></alo-status-icon>
          <span>{{getResoureStatus(item.podInfo.current, item.podInfo.desired)}}</span>
        </div>
        <div fxFlex></div>
        <div class="resoure-images">
          <div class="image-title">{{ 'image' | translate }}:</div>
          <div class="image-info">
            <span [title]="item.containerImages[0]" 
                  class="copy-item"
                  [auiTooltipCopy]="item.containerImages[0]">{{ displayImageAddr(item.containerImages[0]) }}</span><br>
            <ng-container *ngIf="item.containerImages.length>1">
              {{ 'total' | translate }}
              <span class="aviliable-data"
                    [auiTooltip]="images"
                    auiTooltipType="info"
                    auiTooltipTrigger="click"
                    auiTooltipPosition="bottom"
                    (click)="displayImges(item.containerImages)">
                    {{ item.containerImages.length }}
              </span>
              {{ 'application.image_num' | translate }}
            </ng-container>
          </div>
        </div>
        <!-- <div class="resource-action">
          <a
            class="alo-menu-button"
            href="javascript:void(0)"
            [auiDropdown]="menu"
          >
            <mat-icon svgIcon="actions"></mat-icon>
          </a>
          <aui-menu
            #menu
            size="medium"
          >
            <aui-menu-item (click)="updateByYaml(item)">{{ 'yaml_update' | translate }}</aui-menu-item>
            <aui-menu-item [routerLink] = "['./',appInfo.name,item.objectMeta.name]" [queryParams]="{kind: item.typeMeta.kind}">{{ 'application.update_container' | translate }}</aui-menu-item>
          </aui-menu>
        </div> -->
      </div>
    </div>
  </div>
</div>

<ng-template #images>
  <div class="tooltip-container">
    <div class="tooltip-list">
      <ul>
        <li *ngFor="let item of selectedImages" [auiTooltipCopy]="item" class="copy-item">{{item}}</li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #links>
  <div class="tooltip-container">
    <div class="tooltip-list">
      <ul>
        <li *ngFor="let item of appInfo.visitAddresses">
          <a [href]="item" target="_blank">{{item}}</a>
        </li>
      </ul>
    </div>
  </div>
</ng-template>

