<div
  mat-dialog-header
  class="mat-dialog-header"
>
  <span class="title">
    <span>{{ 'code.update_binding' | translate }}</span>
  </span>
  <a class="close" href="javascript:void(0)" (click)="close()">
    <mat-icon svgIcon="close"></mat-icon>
  </a>
</div>
<mat-dialog-content>
  <alo-code-binding-basic-edit
    mode="update"
    [namespace]="data.namespace"
    [name]="data.name"
    [service]="data.service"
    (saved)="close(true)"
    (statusChange)="onStatusChange($event)"
    #editor
  ></alo-code-binding-basic-edit>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    aui-button="primary"
    [disabled]="['loading', 'saving'].includes(status)"
    [loading]="status === 'saving'"
    (click)="editor.submit()"
  >
    {{ 'update' | translate }}
  </button>
  <button
    aui-button
    mat-dialog-close
  >
    {{ 'cancel' | translate }}
  </button>
</mat-dialog-actions>
