/* You can add global styles to this file, and also import other style files */
html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: $font-size-base;
  line-height: $line-height-base;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: $font-family-primary;
}

button,
p,
a {
  font-family: $font-family-primary;
  outline: none;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: #009ce3;
  }
  &:hover {
    color: darken(#009ce3, 10);
  }
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.lead {
  font-family: $font-family-secondary;
}

form {
  .aui-form-field {
    display: block;
    margin-right: 80px;
    & + .aui-form-field {
      margin-top: 16px;
    }
  }
}

.table-placeholder {
  padding: 12px 24px;
  text-align: center;
  color: #333333;
  font-size: 14px;
}

.list-card-header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
