.hidden {
  display: none !important;
}

.base-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -7px 0px;
}

.base-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 32px;
  > .field {
    flex: 1;
    flex-basis: 50%;
    > label {
      padding-right: 8px;
      &:after {
        content: ':';
        padding: 0 0 0 2px;
      }
    }
    &:not(.full) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &.full {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      > label {
        white-space: nowrap;
      }
      > span {
        flex-grow: 1;
        word-break: break-all;
        padding-top: 4px;
        line-height: 24px;
      }
    }
    &.full-nowrap {
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      > label {
        white-space: nowrap;
      }
      > span {
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.mat-dialog-container {
  background-color: #fff;
  .mat-dialog-header {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > .close {
      font-size: 16px;
      outline: none;
      &:link {
        color: #999;
      }
      &:hover {
        color: #0079c2;
      }
    }
  }
  .mat-dialog-content {
    padding: 8px 20px;
    margin: 0 -20px;
  }
  .mat-dialog-actions {
    justify-content: flex-end;
    padding-bottom: 20px;
  }
}

.spinner-icon {
  text-align: center;
  svg {
    height: 32px;
    width: 32px;
    color: $black-999;
  }
}

.spinner-tip {
  margin-top: 16px;
  text-align: center;
  height: 24px;
  font-size: 18px;
  color: $black-333;
}
