@import '~@angular/cdk/_overlay.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import 'base';
@import 'common';

// TODO: temporary use mat-snack-bar for toast。
@include cdk-overlay;

.alo-console {
  .aui-layout__page-header {
    > div {
      display: flex;
      flex: 1;
      align-items: center;
      flex-direction: row;
    }
  }

  .layout-page-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    ::ng-deep router-outlet + * {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  .alo-search {
    display: flex;

    .aui-button {
      margin-right: -1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:focus,
      &:hover,
      &:active,
      &.isActived {
        z-index: 1;
      }
    }

    ::ng-deep {
      .aui-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .alo-search-input {
    padding: 0px 8px 0px 32px;
    border: solid 1px #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    height: 32px;
    outline: none;
    min-width: 240px;
    &::placeholder {
      color: #ccc;
    }
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#ccc" d="M9.58173046,9.59014338 C10.3221205,8.84975522 10.692308,7.96074252 10.692308,6.923077 C10.692308,5.88541147 10.3235227,4.99779904 9.5859388,4.26021519 C8.84835495,3.52263134 7.96074252,3.15384601 6.923077,3.15384601 C5.88541147,3.15384601 4.99780092,3.52263134 4.26021707,4.26021519 C3.52263322,4.99779904 3.15384601,5.88541147 3.15384601,6.923077 C3.15384601,7.96074252 3.52263322,8.84835307 4.26021707,9.58593692 C4.99780092,10.3235208 5.88541147,10.692308 6.923077,10.692308 C7.96074252,10.692308 8.8469528,10.3249229 9.58173046,9.59014338 Z M15,13.9230768 C15,14.214745 14.8934306,14.4671463 14.6802901,14.6802884 C14.4671476,14.8934306 14.2147467,15 13.9230779,15 C13.620192,15 13.3677911,14.8934306 13.1658658,14.6802884 L10.2800483,11.8028836 C9.2760364,12.498401 8.15705726,12.846154 6.923077,12.846154 C6.1209903,12.846154 5.35397064,12.6905055 4.6219954,12.3792066 C3.89002017,12.0679077 3.25901698,11.6472389 2.72896642,11.117187 C2.19891567,10.587137 1.77824688,9.95613382 1.46694722,9.22415859 C1.15564749,8.49218336 1,7.7251637 1,6.923077 C1,6.12098841 1.15564749,5.35396875 1.46694722,4.6219954 C1.77824688,3.89002017 2.19891567,3.25901698 2.72896642,2.7289651 C3.25901698,2.19891511 3.89002017,1.77824631 4.6219954,1.46694553 C5.35397064,1.15564662 6.1209903,1 6.923077,1 C7.72516558,1 8.49218336,1.15564662 9.22415859,1.46694553 C9.95613382,1.77824631 10.587137,2.19891511 11.1171889,2.7289651 C11.6472389,3.25901698 12.0679077,3.89002017 12.3792066,4.6219954 C12.6905074,5.35396875 12.846154,6.12098841 12.846154,6.923077 C12.846154,8.15705726 12.498401,9.2760364 11.8028855,10.2800483 L14.688703,13.1658653 C14.896235,13.3733984 15,13.6257996 15,13.9230768 Z"/></svg>');
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 16px 16px;
  }

  // TODO: no icon now
  .alo-menu-button {
    outline: none;
    font-weight: bold;
    padding: 6px;
    display: block;
    width: 28px;
    height: 28px;
    > .mat-icon {
      color: #666;
      width: 16px;
      height: 16px;
    }
    &:hover {
      > .mat-icon {
        color: #009ce3;
      }
    }
    > aui-icon {
      color: #666;
      width: 16px;
      height: 16px;
    }
    &:hover {
      > aui-icon {
        color: #009ce3;
      }
    }
  }

  .aui-form-field {
    &__control-elem {
      > * + * {
        margin-left: 8px;
      }
    }
  }

  .aui-form-item {
    &__addon-wrapper {
      width: 100px;
      flex-shrink: 0;
    }
  }

  form.horizontal-form,
  div.horizontal-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 48px;
    > * + * {
      margin-left: 8px;
    }
    > .aui-form-field {
      margin-top: 0;
      margin-right: 0;
    }
    .aui-form-field__label {
      display: none;
    }

    &.with-label {
      .aui-form-field__label {
        display: flex;
        width: unset;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }

  .aui-table {
    &__row,
    &__header-row {
      padding-left: 0;
      padding-right: 0;
    }
    &__cell,
    &__header-cell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 8px;
      &:last-child {
        padding-right: 8px;
      }
    }
  }

  aui-nav-item {
    outline: none;
  }

  .logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    h1 {
      color: #fff;
      span {
        font-size: 16px;
        margin-left: 8px;
      }
    }
  }
  .toolbar {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-item-content {
    display: flex;
    align-items: center;
    &__icon {
      display: flex;
      align-items: center;
      width: 26px;
      .mat-icon {
        width: 16px;
        height: 16px;
      }
    }
  }

  .alo-card-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .mini-card {
      width: 214px;
      height: 214px;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 0 3px 0 rgba(102, 102, 102, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      padding: 32px;
      & + .mini-card {
        margin-left: 16px;
      }
      aui-icon {
        width: 80px;
        height: 80px;
        margin-bottom: 24px;
        color: #999;
      }
      span {
        font-size: 18px;
        margin-bottom: 6px;
        color: #333;
      }
      p {
        font-size: 12px;
        width: 100%;
        color: #999;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover {
        box-shadow: 0 0 0px 1px #009ce3;
        aui-icon {
          color: #009ce3;
        }
        span,
        p {
          color: #009ce3;
        }
      }
    }
  }

  .alo-confirm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .mat-icon {
      background-color: #eb6262;
      color: #fff;
      flex-shrink: 0;
      border-radius: 50%;
      margin-right: 8px;
    }
    .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .title {
        font-size: 18px;
        margin-bottom: 8px;
        word-break: break-all;
      }
      .description {
        font-size: 14px;
        color: #666;
      }
    }
  }

  // Tabs
  .tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    font-size: 16px;
    box-shadow: 0 1px 0 0 rgba(204, 204, 204, 0.5);
    > .tab-label {
      border-bottom: solid 2px #fff;
      > a {
        display: block;
        padding: 8px 24px;
        white-space: nowrap;
        &:link {
          color: #666;
        }
        &:hover {
          color: #0079c2;
        }
      }
      &.active {
        border-color: #009ce3;
        > a:link {
          color: #333;
        }
      }
    }
  }

  .tabs {
    margin-bottom: $margin-base;
  }

  .mat-snack-bar-handset {
    width: unset !important;
  }

  .mat-snack-bar-container {
    border: solid 1px #ccc;
    box-shadow: 0 0 5px 0px #ccc;
    background-color: #fff;
    color: unset;
    &.mat-snack-bar-center {
      margin: 16px !important;
    }
  }

  .mat-menu-panel {
    box-shadow: 0 0 5px 0px #ccc;
    background-color: #fff;
    .mat-menu-content {
      padding-left: 8px;
      padding-right: 8px;
      button.mat-menu-item {
        line-height: 28px;
        height: 28px;
        &:hover {
          background-color: #f2fafe;
          color: unset;
        }
      }
    }
  }

  .aui-checkbox {
    margin-right: 0;
  }

  .alo-alert {
    padding: 12px 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 3px;
    color: #4d4d4d;
    &--error {
      border-color: #eb6262;
      .aui-icon {
        color: #eb6262;
      }
    }
  }

  .nav-item-content {
    &__icon {
      font-size: 16px;
    }
  }

  .no-data {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    border-bottom: solid 1px #eee;
  }

  .global-loader {
    height: 4px;
    width: 100%;
    overflow: hidden;
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(4px);
    opacity: 0;
    transition: opacity 0.3s;
    &.loading {
      opacity: 1;
    }
  }
  .global-loader:before {
    display: block;
    position: absolute;
    content: '';
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
  }

  @keyframes loading {
    from {
      left: -200px;
      width: 30%;
    }
    50% {
      width: 30%;
    }
    70% {
      width: 70%;
    }
    80% {
      left: 50%;
    }
    95% {
      left: 120%;
    }
    to {
      left: 100%;
    }
  }
}
