<div class="alo-error-page">
  <img src="assets/icons/error.svg" />
  <div class="alo-error-page__title">
    <span>{{ 'http_status' | translate }}</span>
    <span>({{ error?.status || 'Unknown' }})</span>
  </div>
  <div class="alo-error-page__description">
    {{ 'http_status_error_description' | translate }}
  </div>
</div>