<ng-container *aloPageHeaderContent>
    <alo-breadcrumb>
        <ng-template aloBreadcrumbItem>
            <span>
                {{ 'nav_tool_chain' | translate }}
            </span>
        </ng-template>
        <ng-template aloBreadcrumbItem>
            <span>
                {{ (info$ | async)?.name }}
            </span>
        </ng-template>
    </alo-breadcrumb>
</ng-container>

<aui-card>
    <div
        auiCardHeader
        class="info-header"
    >
        <div class="header-title">
            <span>{{ 'basic_info' | translate }}</span>
            <aui-icon
                *ngIf="(info$ | async)?.status.phase === 'Error'"
                class="alert"
                [auiTooltip]="(info$ | async)?.status.message"
                [auiTooltipDisabled]="!(info$ | async)?.status.message"
                auiTooltipPosition="top start"
                icon="exclamation_circle_s"
            ></aui-icon>
        </div>
        <alo-menu-trigger [menu]="actionsMenu"></alo-menu-trigger>
    </div>
    <aui-menu #actionsMenu>
        <aui-menu-item
            *ngIf="!(info$ | async)?.public"
            (click)="update()"
        >{{ 'update' | translate }}</aui-menu-item>
        <aui-menu-item
            type="danger"
            [divide]="true"
            (click)="delete()"
        >{{ 'delete' | translate }}</aui-menu-item>
    </aui-menu>
    <ul class="basic-info">
        <li class="info-item">
            <span class="label">{{ 'name' | translate }}：</span>
            <span class="value">{{ (info$ | async)?.name }}</span>
        </li>
        <li class="info-item">
            <span class="label">{{ 'tool_chain.integrate_at' | translate }}：</span>
            <span class="value">{{ (info$ | async)?.creationTimestamp | aloTime }}</span>
        </li>
        <li class="info-item">
            <span class="label">{{ 'tool_chain.api_address' | translate }}：</span>
            <span class="value">{{ (info$ | async)?.host }}</span>
        </li>
        <li class="info-item">
            <span class="label">{{ 'type' | translate }}：</span>
            <span class="value">
                <span>{{ (info$ | async)?.type }}</span>
                <span *ngIf="(info$ | async)?.enterprise"> {{ 'tool_chain.enterprise' | translate }}</span>
            </span>
        </li>
    </ul>
</aui-card>

<aui-card>
    <div
        auiCardHeader
        class="header-title"
    >
        <span>{{ 'binding_account' | translate }}</span>
        <aui-icon
            class="hint"
            [auiTooltip]="hintContent"
            auiTooltipType="info"
            icon="basic:question"
        >
        </aui-icon>
    </div>
    <alo-binding-list [bindings]="bindings$ | async">
    </alo-binding-list>
    <div
        class="list_placeholder"
        *ngIf="!(bindings$ | async) || !(bindings$ | async).length"
    >
        <span>{{ 'tool_chain.binding_hint_prefix' | translate }}</span>
        <a [routerLink]="['/admin/projects']">{{ 'tool_chain.binding_hint_link' | translate }}</a>
        <span>{{ 'tool_chain.binding_hint_suffix' | translate }}</span>
    </div>
</aui-card>

<ng-template #hintContent>
    <span>{{ 'tool_chain.binding_hint_prefix' | translate }}</span>
    <a [routerLink]="['/admin/projects']">{{ 'tool_chain.binding_hint_link' | translate }}</a>
    <span>{{ 'tool_chain.binding_hint_suffix' | translate }}</span>
</ng-template>
