<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'project.list' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<aui-card
  *aloAsyncData="
    let projects;
    let loading = loading;
    let error = error;
    params: params$ | async;
    handler: fetchProjects;
    notification: refresh$;
  "
>
  <div class="list-header">
    <button aui-button="primary" routerLink="./create">
      {{ 'project.create' | translate }}
    </button>
    <div class="alo-search">
      <button
        aui-button
        [auiDropdown]="searchMenu"
      >
        {{ searchBy | translate }}
        <aui-icon icon="angle_down"></aui-icon>
      </button>
      <aui-search
        [keyword]="keywords"
        [placeholder]="(searchBy === 'name' ? 'search_by_name_placeholder' : 'search_by_display_name_placeholder') | translate"
        [searchButton]="true"
        [searching]="loading"
        (search)="search($event)"
      ></aui-search>
      <aui-menu #searchMenu>
        <aui-menu-item
          (click)="searchBy='name'"
          [actived]="searchBy === 'name'"
        >
          {{ 'name' | translate }}
        </aui-menu-item>
        <aui-menu-item
          (click)="searchBy='display_name'"
          [actived]="searchBy === 'display_name'"
        >
          {{ 'display_name' | translate }}
        </aui-menu-item>
      </aui-menu>
    </div>
  </div>
  <div>
    <alo-project-list
      [params]="params$ | async"
      [data]="projects?.items || []"
      [itemRoute]="itemRoute"
      (sortChange)="onSort($event)"
    >
    </alo-project-list>
    <div *ngIf="!projects || !projects.length" class="no-data">
      <span *ngIf="!error">
        {{ (loading ? 'loading' : 'no_data') | translate }}
      </span>
      <span *ngIf="error">
        {{ 'retry_on_error' | translate }}
        <a href="javascript:;" (click)="refresh$.next()">
          {{ 'retry' | translate }}
        </a>
      </span>
    </div>
    <aui-paginator
      *ngIf="projects?.length"
      [pageIndex]="pageIndex$ | async"
      [pageSize]="pageSize$ | async"
      [pageSizeOptions]="[20, 50, 100]"
      [length]="projects?.length"
      (page)="onPageChange($event)"
    ></aui-paginator>
  </div>
</aui-card>