<span class="alo-password" [class.alo-password--mask]="!show">
  <span *ngIf="show">{{ value }}</span>
  <a class="alo-password__toggle" href="javascript:void(0)" (click)="toggleShow()">
    <aui-icon icon="basic:eye_s"></aui-icon>
  </a>
</span>
