.alo-repository-selector {
  ::ng-deep .aui-card {
    padding: 12px 20px;
    &__header {
      font-size: 14px;
    }
  }
  &--active {
    position: relative;
    ::ng-deep .aui-card {
      border-color: #009ce3;
    }
  }
  &__photo {
    border-radius: 50%;
    background-color: #ccc;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  &__setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    > aui-icon {
      margin-left: 8px;
      color: #999;
    }
  }
  &__label {
    margin-top: 16px;
  }
  &__active-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #009ce3;
    border-radius: 2px;
    overflow: hidden;
  }
}
