<form
  #form="ngForm"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      aui-input
      auiFormItemControl
      #name="ngModel"
      [(ngModel)]="formData.name"
      name="name"
      required
      [maxLength]="30"
      pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?"
    >
    <div
      auiFormItemError
      *ngIf="name.errors?.required"
    >{{ 'required' | translate }}</div>
    <div
      auiFormItemError
      *ngIf="name.errors?.pattern"
    >{{ 'name_pattern' | translate}}</div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'description' | translate }}</label>
    <textarea
      aui-input
      auiFormItemControl
      name="description"
      [(ngModel)]="formData.description"
    ></textarea>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'auth_type' | translate }}</label>
    <aui-radio-group
      auiFormItemControl
      [(ngModel)]="hasAuth"
      [ngModelOptions]="{standalone: true}"
    >
      <aui-radio-button [value]="true">{{ 'registry.image_service' | translate }}</aui-radio-button>
      <aui-radio-button [value]="false">{{ 'no_auth' | translate }}</aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item *ngIf="hasAuth">
    <label auiFormItemLabel>{{ 'secret' | translate }}</label>
    <aui-select
      auiFormItemControl
      name="secret"
      #secret="ngModel"
      [(ngModel)]="formData.secret"
      required
    >
      <aui-option
        *ngFor="let secret of secrets$ | async"
        [value]="secret"
      >{{ secret }}</aui-option>
      <aui-option-placeholder>{{ 'projects.no_available_secrets' | translate }}</aui-option-placeholder>
    </aui-select>
    <button
      aui-button
      type="button"
      class="add-secret"
      (click)="addSecret()"
    >{{ 'projects.add_secret' | translate }}</button>
    <div
      auiFormItemError
      *ngIf="secret.errors?.required"
    >{{ 'required' | translate }}</div>
  </aui-form-item>
</form>
