mat-dialog-content {
  display: flex;
  flex-direction: column;
  ul.results {
    list-style: none;
    margin: 0;
    padding: 8px;
    border: solid 1px #ededed;
    border-radius: 2px;
    margin-bottom: 16px;
    overflow: auto;
    flex-shrink: 1;
    min-height: 50px;
    > li + li {
      margin-top: 8px;
    }
  }
}
