:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  .volume-info-container {
    * {
      display: flex;
    }
    table {
      flex: 1;
      line-height: 32px;
      tbody {
        flex: 1;
        flex-direction: column;
        tr {
          border-bottom: 1px dashed #e8e8e8;
          background-color: #fafafa;
          &:last-of-type {
            border-bottom: unset;
            padding-bottom: 5px;
          }
          &:first-of-type {
            border-bottom: unset;
          }
          th {
            background-color: #f0f0f0;
            text-align: left;
            padding: 0 8px;
          }
          td {
            flex-direction: column;
            background-color: #fafafa;
            padding: 0 8px;
            table {
              width: 100%;
              td {
                background-color: white;
              }
            }
          }
        }
        .action {
          width: 60px;
          flex-direction: row !important;
          align-items: center;
          .aui-button {
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            padding: 0;
            border: unset;
            background-color: unset;
            ::ng-deep .aui-button__content {
              padding: unset;
            }
            aui-icon {
              font-size: 16px;
              color: #000;
              cursor: pointer;
              margin: 0 4px;
              opacity: 0.4;

              &:hover {
                opacity: 1;
                color: #009ce3;
              }
            }
          }
        }
        .no-data {
          color: lightgray;
          text-align: center;
        }
      }
    }
  }

  alo-foldable-bar {
    flex: 1;
  }
}
