<div
  mat-dialog-header
  class="mat-dialog-header"
>
  <span class="title">
    <span>{{ 'code.assign_repository' | translate }}</span>
  </span>
  <a
    class="close"
    href="javascript:void(0)"
    (click)="close()"
  >
    <mat-icon svgIcon="close"></mat-icon>
  </a>
</div>
<mat-dialog-content>
  <aui-inline-alert type="primary">
    <span>{{ 'code.update_binding_tips' | translate }}</span>
  </aui-inline-alert>
  <alo-code-repository-assign
    mode="update"
    [namespace]="data.namespace"
    [name]="data.name"
    (saved)="close(true)"
    #editor
  ></alo-code-repository-assign>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    aui-button="primary"
    [disabled]="editor.loading || editor.saving || editor.hasError"
    [loading]="editor.saving"
    (click)="editor.submit()"
  >
    {{ 'update' | translate }}
  </button>
  <button
    aui-button
    mat-dialog-close
  >
    {{ 'cancel' | translate }}
  </button>
</mat-dialog-actions>
