.mat-dialog-header {
  aui-icon.error {
    color: #eb6262;
  }
}

.warn-content {
  display: flex;
  font-size: 18px;
  aui-icon {
    color: #f8ac58;
    margin-right: 8px;
  }
}

.unbind-confirm {
  margin-top: 12px;
  &-hint {
    margin-bottom: 12px;
  }
}

aui-form-item {
  ::ng-deep .aui-form-item {
    &__label-wrapper--top {
      line-height: inherit;
      margin-bottom: 4px;
    }
    margin-bottom: 0;
  }
}
