<div 
  mat-dialog-header
  class="mat-dialog-header">
  <div>
    <aui-icon 
      icon="exclamation_triangle_s"
      class="error"
      size="24px">
    </aui-icon>
    {{ data.title }}
  </div>
  <a
    class="close"
    href="javascript:void(0)"
    (click)="close()"
    mat-dialog-close>
    <aui-icon icon="close"></aui-icon>
  </a>
</div>
<mat-dialog-content class="unbind-confirm">
  <div>
    <div class="unbind-confirm-hint">{{  data.hint }}</div>
    <form 
      auiForm
      [auiFormEmptyAddon]="false"
      auiFormLabelPosition="top"
      novalidate
      #form="ngForm">
      <aui-form-item
        labelPosition="Top">
        <label auiFormItemLabel>{{ data.field }}</label>
        <input
          auiFormItemControl
          name="field"
          #field="ngModel"
          aui-input
          autocomplete="false"
          [maxLength]="30"
          [class.hasError]="field.errors?.pattern"
          [pattern]="fieldPattern"
          [(ngModel)]="confirmField"
        />
        <div
          auiFormItemError
          *ngIf="field.errors?.pattern"
        >
          {{ data.errorText }}
        </div>
      </aui-form-item>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    aui-button="error"
    [loading]="submitting"
    [disabled]="!confirmField || field.errors?.pattern || submitting"
    (click)="confirm()">
    {{ data.confirm }}
  </button>
  <button
    aui-button
    (click)="close()">
    {{ 'cancel' | translate }}
  </button>
</mat-dialog-actions>