<mat-dialog-content>
  <div class="warning-content">
    <aui-icon 
      icon="exclamation_circle_s"
      size="24px">
    </aui-icon>
    {{ data }}
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    aui-button="primary"
    (click)="confirm()">
    {{ 'i_know' | translate }}
  </button>
</mat-dialog-actions>