<div
  *aloPageHeaderContent
  class="page-header"
>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['/admin/projects']">{{ 'projects.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['/admin/projects', namespace$ | async]">
        {{ namespace$ | async }}
      </a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'project.bind_code_service' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</div>
<div class="title">
  {{ 'project.bind_code_service' | translate }}
  ({{service$ | async}})
</div>
<alo-code-binding-wizard
  [namespace]="namespace$ | async"
  [service]="service$ | async"
></alo-code-binding-wizard>