<div
  *aloPageHeaderContent
  class="page-header"
>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['/admin/projects']">{{ 'projects.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['/admin/projects', namespace$ | async]">
        {{ namespace$ | async }}
      </a>
    </ng-template>
  </alo-breadcrumb>
</div>
<div class="title">
  {{ 'bind' | translate }} Docker Registry
</div>
<alo-registry-binding-wizard
  [namespace]="namespace$ | async"
  [service]="service$ | async"
></alo-registry-binding-wizard>