.alo-service-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 16px;
}

.alo-service-card {
  padding: 20px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 0 1px #009ce3, 0 4px 16px 0 rgba(0, 0, 0, 0.16);
  }

  .alert {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #f8ac58;
  }

  .icon-stack {
    height: 60px;
    margin: 10px 0 30px;
    position: relative;

    .type-icon {
      display: block;
      margin: auto;
      height: 100%;
    }

    .enterprise-mark {
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      bottom: -4px;
      left: 50%;
      transform: translateX(10px);
    }
  }

  .title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #333333;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .description {
    margin-bottom: 10px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .tags {
    text-align: center;
    margin-top: 16px;
  }
}
