<div class="alo-service-list">
    <div
        *ngFor="let service of services; trackBy: trackByName"
        class="alo-service-card"
        (click)="cardClick.emit(service)"
    >
        <div
            *ngIf="service.status.phase === 'Error'"
            class="alert"
            [auiTooltip]="service.status.message"
            [auiTooltipDisabled]="!service.status.message"
            auiTooltipPosition="top start"
        >
            <aui-icon icon="exclamation_circle_s"></aui-icon>
        </div>
        <div class="icon-stack">
            <img
                class="type-icon"
                [src]="'assets/icons/tool-chain/' + service.type.toLowerCase() + '.svg'"
            >
            <img
                *ngIf="service.enterprise"
                class="enterprise-mark"
                [src]="enterpriseIcon$ | async"
            >
        </div>
        <div
            class="title"
            [title]="service.name"
        >{{ service.name }}</div>
        <div class="description">{{ service.host }}</div>
        <div
            class="tags"
            *ngIf="showTag"
        >
            <aui-tag
                type="info"
                [round]="true"
                size="mini"
            >{{ snakeCase(service.toolType) | translate }}</aui-tag>
        </div>
    </div>
</div>
