<header>
  <alo-logo class="logo">
  </alo-logo>
  <div class="toolbar">
    <alo-global-actions></alo-global-actions>
  </div>
  <div class="page-header">
    <alo-breadcrumb>
      <ng-template aloBreadcrumbItem>
        <span>
          {{ 'project_list' | translate }}
        </span>
      </ng-template>
    </alo-breadcrumb>
    <div class="global-loader" [class.loading]="showLoadingBar$ | async"></div>
  </div>
</header>
<main>
  <aui-card
    *aloAsyncData="
      let projects;
      let loading = loading;
      let error = error;
      params: params$ | async;
      handler: fetchProjects;
      notification: refresh$;
    "
  >
    <div class="list-header">
      <div class="actions">
        <button 
          *ngIf="projects && !projects.length && !keywords"
          aui-button="primary"
          routerLink="/admin/projects/create"
        >
          {{ 'create_project' | translate }}
        </button>
      </div>
      <div class="alo-search">
        <button
          aui-button
          [auiDropdown]="searchMenu"
        >
          {{ searchBy | translate }}
          <aui-icon icon="angle_down"></aui-icon>
        </button>
        <aui-search
          [keyword]="keywords"
          [placeholder]="(searchBy === 'name' ? 'search_by_name_placeholder' : 'search_by_display_name_placeholder') | translate"
          [searchButton]="true"
          [searching]="loading"
          (search)="search($event)"
        ></aui-search>
        <aui-menu #searchMenu>
          <aui-menu-item
            (click)="searchBy='name'"
            [actived]="searchBy === 'name'"
          >
            {{ 'name' | translate }}
          </aui-menu-item>
          <aui-menu-item
            (click)="searchBy='display_name'"
            [actived]="searchBy === 'display_name'"
          >
            {{ 'display_name' | translate }}
          </aui-menu-item>
        </aui-menu>
      </div>
    </div>
    <div>
      <alo-project-list
        [params]="params$ | async"
        [data]="projects?.items || []"
        [itemRoute]="projectRoute"
        (sortChange)="onSort($event)"
      >
      </alo-project-list>
      <div class="no-data" *ngIf="!projects?.length">
        <span *ngIf="!error">
          {{ (loading ? 'loading' : 'admin_no_projects') | translate }}
        </span>
        <span *ngIf="error">
          {{ 'retry_on_error' | translate }}
          <a href="javascript:void(0)" (click)="refresh$.next()">
            {{ 'retry' | translate }}
          </a>
        </span>
      </div>
      <aui-paginator
        *ngIf="projects?.length"
        [pageIndex]="pageIndex$ | async"
        [pageSize]="pageSize$ | async"
        [pageSizeOptions]="[20, 50, 100]"
        [length]="projects?.length"
        (page)="onPageChange($event)"
      ></aui-paginator>
    </div>
  </aui-card>
</main>