:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: stretch;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > .logo {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #0389c7;
    height: 48px;
  }
  > .toolbar {
    flex-grow: 1;
    background-color: #009ce3;
    height: 48px;
    padding-right: 20px;
  }
  > .page-header {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    height: 44px;
    background-color: #fff;
    padding: 0 20px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);
    position: relative;
  }
}

main {
  padding: 20px;
  overflow: auto;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.dashboard-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

aui-paginator {
  display: block;
  margin-top: 20px;
}
