<header>
  <alo-logo class="logo">
  </alo-logo>
  <div class="toolbar">
    <alo-global-actions></alo-global-actions>
  </div>
  <div class="page-header">
    <alo-breadcrumb>
      <ng-template aloBreadcrumbItem>
        <span>
          {{ 'portal' | translate }}
        </span>
      </ng-template>
    </alo-breadcrumb>
    <div class="global-loader" [class.loading]="showLoadingBar$ | async"></div>
  </div>
</header>
<main *ngIf="!(thirdPartyData$ | async).error">
  <alo-card>
    <alo-card-section>
      <div aloCardSectionHeader class="list-header">
        <div class="dashboard-title">
          <img src="assets/icons/alauda@2x.png" />
          <span>DevOps</span>
        </div>
        <a href="javascript:void(0)" routerLink="/home/projects">
          {{ 'goto_devops' | translate }}
          <aui-icon icon="angle_right"></aui-icon>
        </a>
      </div>
      <ng-container
        aloCardSectionBody
        *aloAsyncData="
          let projects;
          let loading = loading;
          let error = error;
          let refresh = refetch;
          handler: fetchProjects;
        "
      >
        <alo-project-list
          [data]="projects?.items || []"
          [plainTable]="true"
        ></alo-project-list>
        
        <div class="no-data" *ngIf="!projects?.length">
          <span *ngIf="!error">
            {{ (loading ? 'loading' : 'no_data') | translate }}
          </span>
          <span *ngIf="error">
            {{ 'retry_on_error' | translate }}
            <a href="javascript:void(0)" (click)="refresh()">
              {{ 'retry' | translate }}
            </a>
          </span>
        </div>
      </ng-container>
    </alo-card-section>
  </alo-card>
  <alo-third-party-dashboard
    [items]="(thirdPartyData$ | async).data"
  ></alo-third-party-dashboard>
</main>
<alo-error-page
  *ngIf="(thirdPartyData$ | async).error"
  [error]="(thirdPartyData$ | async).error"
></alo-error-page>
