<div
  mat-dialog-header
  class="mat-dialog-header"
>
  <span class="title">
    <span>{{ 'code.update_report' | translate }}</span>
  </span>
  <a
    class="close"
    href="javascript:void(0)"
    mat-dialog-close
  >
    <mat-icon svgIcon="close"></mat-icon>
  </a>
</div>
<mat-dialog-content>
  <aui-inline-alert type="primary">
    <span>{{ 'code.update_report_tips' | translate }}</span>
  </aui-inline-alert>
  <aui-table
    [dataSource]="data"
    [trackBy]="resourceIdentity"
  >
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span>
          {{ item.name }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span>
          {{ item.kind }}
        </span>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
  </aui-table>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    aui-button="primary"
    mat-dialog-close
  >
    {{ 'i_know' | translate }}
  </button>
</mat-dialog-actions>
