<alo-breadcrumb *aloPageHeaderContent>
  <ng-template aloBreadcrumbItem>
    <span>{{ 'artifact_repository' | translate }}</span>
  </ng-template>
</alo-breadcrumb>

<aui-tab-group>
  <aui-tab>
    <span *auiTabLabel>
      Docker Registry
    </span>
    <aui-card>
      <div class="list-header">
        <aui-search
          [placeholder]="'registry.filter_by_repo_address' | translate"
          (keywordChange)="repositoriesFilter$$.next($event)"
        ></aui-search>
      </div>
      <alo-repository-list [repositories]="filteredRepositories$ | async">
      </alo-repository-list>
      <div
        *ngIf="!(repositories$ | async)?.length"
        class="table-placeholder"
      >
        {{ (loading ? 'loading' : 'registry.no_assigned_repository') | translate }}
      </div>
    </aui-card>
  </aui-tab>
  <aui-tab [disabled]="true">
    <span
      *auiTabLabel
      [auiTooltip]="'stay_tuned' | translate"
    >
      Maven
    </span>
  </aui-tab>
  <aui-tab [disabled]="true">
    <span
      *auiTabLabel
      [auiTooltip]="'stay_tuned' | translate"
    >
      PyPl
    </span>
  </aui-tab>
</aui-tab-group>
