<aui-dialog-header>
  {{ 'update' | translate }}: {{ data.name }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-code-editor 
    [options]="editorOptions"
    [actionsConfig]="editorConfig"
    [originalValue]="data.value"
    [(ngModel)]="newValue">
  </aui-code-editor>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    (click)="update()">
    {{ 'update' | translate }}
  </button>
  <button
    aui-button
    [auiDialogClose]="false">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>