.basic-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -12px;

  .field {
    width: 50%;
    padding-right: 24px;
    margin-bottom: 12px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    label::after {
      content: ':';
      margin-right: 8px;
    }

    .isEnabled {
      color: #009ce3;
    }
  }
}

.color {
  &--pending {
    color: #009ce3;
  }
  &--success {
    color: #1bb393;
  }
  &--failure {
    color: #eb6262;
  }
  &--skip {
    color: #ccc;
  }
  &--change {
    color: #009ce3;
  }
}

.icon-spin {
  display: inline-block;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
