.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.no-data {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  color: #666;
  background-color: white;
}

.back-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #333;
  &:hover {
    color: #999;
  }
}

.alo-card-group {
  margin-top: 12px;
}

.list-card-container {
  margin-top: 10px;
}
