<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>{{ 'applications.list' | translate }}</span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<div class="list-header">
  <button
    aui-button="primary"
    (click)="selectCreateMethod()"
  >
    {{ 'applications.create' | translate }}
  </button>
  <aui-search
    [keyword]="keywords$ | async"
    [placeholder]="'applications.application_search_by_name' | translate"
    [searchButton]="true"
    (search)="search($event)"
  ></aui-search>
</div>
<ng-container *aloAsyncData="
    let applications;
    let error = error;
    let loading = loading;
    let refresh = refetch;
    pullIn: 10 * 1000;
    handler: fetchApplications;
    params: params$ | async;
  ">
    <div class="list-card-container">
      <alo-application-list-card [appInfo]='item' *ngFor="let item of applications?.items; trackBy: trackByFn"></alo-application-list-card>
    </div>
    <div *ngIf="!applications?.items?.length" class="no-data">
      <span *ngIf="loading">{{ 'loading' | translate }}</span>
      <span *ngIf="error">
        {{ 'retry_on_error' | translate }}
        <a
          href="javascript:;"
          (click)="refresh()"
        >
          {{ 'retry' | translate }}
        </a>
      </span>
      <span *ngIf="!error && !loading">
        {{ 'applications.application_no_data' | translate }}
      </span>
    </div>

    <aui-paginator
      *ngIf="applications?.total && applications?.total > 10"
      [pageIndex]="pageIndex$ | async"
      [pageSize]="itemsPerPage$ | async"
      [pageSizeOptions]="[10, 20, 50, 100]"
      [length]="applications?.total"
      (page)="pageChange($event)"
    ></aui-paginator>
</ng-container>

<ng-template #createMethodDialog>
  <div
    mat-dialog-header
    class="mat-dialog-header"
  >
    <div *ngIf="useTemplate">
      <a
        href="javascript:void(0)"
        (click)="toggleTemplate()"
        class="back-title"
      >
        <mat-icon svgIcon="back"></mat-icon>
        <span>{{ 'back' | translate }}</span>
      </a>
    </div>
    <div *ngIf="!useTemplate">{{ 'applications.create' | translate }}</div>
    <a
      class="close"
      href="javascript:void(0)"
      (click)="hideCreateMethodDialog()"
    >
      <mat-icon svgIcon="close"></mat-icon>
    </a>
  </div>
  <mat-dialog-content>
    <div
      class="alo-card-group"
      *ngIf="!useTemplate"
    >
      <a
        class="mini-card"
        href="javascript:void(0)"
        routerLink="./create"
        [queryParams]="{ method: 'yaml' }"
      >
        <aui-icon
          icon="diablo:yaml_file_solid"
          size="80px,80px"
        ></aui-icon>
        <span>
          {{ 'applications.create_by_yaml' | translate }}
        </span>
        <!-- <p>{{ 'applications.create_by_yaml_description' | translate }}</p> -->
      </a>
      <a
        class="mini-card"
        href="javascript:void(0)"
        (click)="toggleTemplate()"
      >
        <aui-icon
          icon="diablo:template_file_line"
          size="80px,80px"
        ></aui-icon>
        <span>
          {{ 'applications.create_by_template' | translate }}
        </span>
        <!-- <p>{{ 'applications.create_by_template_description' | translate }}</p> -->
      </a>
      <a
        class="mini-card"
        href="javascript:void(0)"
        routerLink="./create"
        [queryParams]="{ method: 'image' }"
      >
        <aui-icon
          icon="diablo:image_file_line"
          size="80px,80px"
        ></aui-icon>
        <span>
          {{ 'applications.create_by_image' | translate }}
        </span>
        <!-- <p>{{ 'applications.create_by_image_description' | translate }}</p> -->
      </a>
    </div>
    <div
      class="alo-card-group"
      *ngIf="useTemplate"
    >
      <a
        class="mini-card"
        href="javascript:void(0)"
        routerLink="./create"
        [queryParams]="{ method: 'template', template: 'java' }"
      >
        <aui-icon
          icon="diablo:java_file_line"
          size="80px,80px"
        ></aui-icon>
        <span>
          {{ 'applications.template_java' | translate }}
        </span>
        <!-- <p>{{ 'applications.template_java_description' | translate }}</p> -->
      </a>
      <a
        class="mini-card"
        href="javascript:void(0)"
        routerLink="./create"
        [queryParams]="{ method: 'template', template: 'golang' }"
      >
        <aui-icon
          icon="diablo:golang_file_line"
          size="80px,80px"
        ></aui-icon>
        <span>
          {{ 'applications.template_golang' | translate }}
        </span>
        <!-- <p>{{ 'applications.template_golang_description' | translate }}</p> -->
      </a>
      <a
        class="mini-card"
        href="javascript:void(0)"
        routerLink="./create"
        [queryParams]="{ method: 'template', template: 'python' }"
      >
        <aui-icon
          icon="diablo:python_file_line"
          size="80px,80px"
        ></aui-icon>
        <span>
          {{ 'applications.template_python' | translate }}
        </span>
        <!-- <p>{{ 'applications.template_python_description' | translate }}</p> -->
      </a>
      <a
        class="mini-card"
        href="javascript:void(0)"
        routerLink="./create"
        [queryParams]="{ method: 'template', template: 'php' }"
      >
        <aui-icon
          icon="diablo:php_file_line"
          size="80px,80px"
        ></aui-icon>
        <span>
          {{ 'applications.template_php' | translate }}
        </span>
        <!-- <p>{{ 'applications.template_php_description' | translate }}</p> -->
      </a>
    </div>
  </mat-dialog-content>
</ng-template>
