.help-icon {
  color: #999;
  font-size: 16px;
  margin-left: 8px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header-action {
  display: flex;
  justify-content: space-between;

  button {
    padding: 0 12px;
    height: 28px;
    border-radius: 14px;
    border: none;
    outline: none;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    &.isSelected {
      color: #fff;
      background-color: #009ce3;
    }
    &[disabled] {
      color: #999;
      cursor: no-drop;
    }
  }
}
.no-template-hint {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}
