<div>
  <alo-pipeline-template-basic-info
    [project]="project"
    (syncChange)="syncChange()"
  ></alo-pipeline-template-basic-info>
</div>
<div style="margin: 16px auto 20px auto">
  <ng-container *aloAsyncData="let templates;
      let loading = loading;
      params: params$|async;
      handler: fetchData;">
    <aui-card>
      <div
        auiCardHeader
        class="header"
      >
        <div>
          <span>{{'pipeline.templates'| translate}}</span>
          <aui-icon
            class="help-icon"
            icon="basic:help_doc"
          ></aui-icon>
        </div>
        <aui-search
          [placeholder]="'search_by_display_name_placeholder'| translate"
          [searchButton]="true"
          [searching]="loading"
          (search)="search($event)"
        ></aui-search>
      </div>
      <div class="header-action">
        <div>
          <button
            [ngClass]="{isSelected: type === 'custom'}"
            (click)="typeChange('custom')"
            [disabled]="!loading && !templateCount"
          >
            {{'pipeline.custom'|translate}} ({{templateCount}})
          </button>
          <button
            [ngClass]="{isSelected: type === 'official'}"
            (click)="typeChange('official')"
          >
            {{'pipeline.official'|translate}} ({{clusterTemplateCount}})
          </button>
        </div>
      </div>
      <alo-pipeline-template-list [templates]="templates"></alo-pipeline-template-list>
      <div
        *ngIf="!loading && !templates?.length && type ==='official'"
        class="no-template-hint"
      >
        {{'pipeline.no_template_hint'|translate}}
      </div>
    </aui-card>
  </ng-container>
</div>
