.radio {
  label {
    width: 170px;
    display: inline-block;
    text-align: right;

    &::after {
      content: ':';
      margin-right: 8px;
    }
  }
}
form {
  width: 100%;
  margin: 16px;
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  aui-select {
    width: 100%;
  }
}
