<aui-dialog-header>
  {{'pipeline.template_repository_setting'|translate}}
</aui-dialog-header>
<aui-dialog-content>
  <div class="radio">
    <label>{{'pipeline.method'|translate}}</label>
    <aui-radio-group
      [(ngModel)]="sourceType"
      name="sourceType"
    >
      <aui-radio-button value="select">{{'pipeline.select'|translate}}</aui-radio-button>
      <aui-radio-button value="input">{{'pipeline.input'|translate}}</aui-radio-button>
    </aui-radio-group>
  </div>
  <div class="alo-card-group">
    <form
      #form="ngForm"
      auiForm
      (ngSubmit)="onSubmit(form.form.value)"
      auiFormLabelWidth="150px"
    >
      <aui-form-item *ngIf="sourceType==='input'">
        <label auiFormItemLabel>{{'pipeline.repo_path'|translate}}</label>
        <input
          aui-input
          auiFormItemControl
          name="repo"
          pattern="^(http(s?):\/\/.+)|(git@.+:.+)|(ssh:\/\/.+@.+)|(git:\/\/.+)"
          [(ngModel)]="model.repo"
          placeholder="{{'pipeline.example'|translate}}{{' https://github.com/repository.git'}}"
          required
        >
      </aui-form-item>
      <aui-form-item *ngIf="sourceType==='select'">
        <label auiFormItemLabel>{{'pipeline.from_repo'|translate}}</label>
        <aui-select
          [(ngModel)]="model.codeRepository"
          [loading]="!codeOptions"
          name="codeRepository"
          filterable
          auiFormItemControl
          required
          [disabled]="codeOptions && !codeOptions.length"
        >
          <aui-option
            *ngFor="let code of codeOptions"
            [value]="code.name"
          >
            {{code.name}}
          </aui-option>
        </aui-select>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{'pipeline.branch'|translate}}</label>
        <input
          aui-input
          auiFormItemControl
          name="branch"
          [(ngModel)]="model.branch"
          required
        >
      </aui-form-item>
      <aui-form-item *ngIf="sourceType==='input'">
        <label auiFormItemLabel>{{'pipeline.secret'|translate}}</label>
        <aui-select
          [(ngModel)]="model.secret"
          [loading]="!secretOptions"
          name="secret"
          auiFormItemControl
          [clearable]="true"
          [disabled]="secretOptions && !secretOptions.length"
        >
          <aui-option
            *ngFor="let secret of secretOptions"
            [value]="secret.name"
          >
            {{secret.name}}
          </aui-option>
        </aui-select>
        <div auiFormItemAddon>
          <button
            (click)="addSecret()"
            type="button"
            aui-button
          >
            {{'pipeline.add_secret'|translate}}
        </button>
        </div>
      </aui-form-item>
      <div class="buttons">
        <button
          aui-button="primary"
          [disabled]="!form.form.valid"
        >
          {{'pipeline.confirm'|translate}}
        </button>
        <button
          aui-button
          type="button"
          (click)="hideDialog()"
        >
          {{'cancel'|translate}}
        </button>
      </div>
    </form>
  </div>
</aui-dialog-content>
