.comp {
  &-panel {
    &-title {
      font-size: 16px;
      color: #666;
      margin-bottom: 16px;
    }
    alo-microservice-component:last-child {
      ::ng-deep .mscomp-side-line {
        display: none;
      }
    }
  }
  &-initializing {
    background-color: #fafafa;
    line-height: 80px;
    text-align: center;
    color: #999;
    margin-bottom: 24px;
  }
}
