<div class="comp-panel">
  <div class="comp-panel-title">{{ 'microservice_environments.basic_components' | translate }}</div>
  <alo-microservice-component 
    *ngFor="let c of basicComponents; let i = index;" 
    [component]="c"
    [ref]="getRef(c.microservicesComponent.objectMeta.name)"
    [actived]="state[i].actived"
    (finish)="finish($event)">
  </alo-microservice-component>
  <div class="comp-initializing" *ngIf="basicComponents.length!==4">
    {{ 'microservice_environments.components_initializing' | translate }}...
  </div>
</div>
<div class="comp-panel">
  <div class="comp-panel-title">{{ 'microservice_environments.extension_components' | translate }}</div>
  <alo-microservice-component 
    type="extension"
    *ngFor="let c of extensionComponents"
    [component]="c"
    [ref]="getRef(c.microservicesComponent.objectMeta.name)"
    [actived]="checkExtensionEnabled()">
  </alo-microservice-component>
  <div class="comp-initializing" *ngIf="extensionComponents.length!==4">
    {{ 'microservice_environments.components_initializing' | translate }}...
  </div>
</div>