<div class="info">
  <div class="count">{{ podInfo.desired }}</div>
  <div class="label">
    {{ deploying || scaling ? ('scaling' | translate) : 'Pods' }}
  </div>
</div>
<div class="progress">
  <button aui-button [ngStyle]="{'visibility': scaleEnable ? 'unset' : 'hidden'}" [disabled]="scaling" (click)="scaleDown()">
    <aui-icon icon="basic:minus"></aui-icon>
  </button>
  <ng-container *ngFor="let part of parts; index as i">
    <div [style.flex]="part" [auiTooltip]="statusTooltip"></div>
    <ng-template #statusTooltip>
      <div class="status-scaler-tooltip">
        <alo-status-icon [status]="statusList[i]"></alo-status-icon>
        <div class="status-scaler-tooltip__label">
          {{ statusList[i] | translate }}:
          {{ part }}
        </div>
      </div>
    </ng-template>
  </ng-container>
  <button aui-button [ngStyle]="{'visibility': scaleEnable ? 'unset' : 'hidden'}" [disabled]="scaling" (click)="scaleUp()">
    <aui-icon icon="basic:plus"></aui-icon>
  </button>
</div>
