:host {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  .progress {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    div {
      background-color: #eb6262;
      &:first-of-type {
        background-color: #1bb393;
      }
      &:nth-of-type(2) {
        background-color: #009ce3;
      }
      &:last-of-type {
        background-color: #ccc;
      }
    }
    .aui-button {
      width: 16px;
      height: 16px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      margin: 0 5px;
    }
  }
  .info {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 24px;
    justify-content: center;
    .count {
      font-size: 24px;
      line-height: 24px;
      font-weight: 500;
    }
    .label {
      margin-left: 8px;
      font-weight: 200;
    }
  }
}
.status-scaler-tooltip {
  display: flex;
  align-items: center;
  padding: 4px;

  &__label {
    margin-left: 6px;
    font-size: 12px;
  }
}
