:host {
  display: flex;
  align-items: center;
}
.pods {
  &-status {
    width: 100px;
    display: flex;
    height: 8px;
    background-color: #ccc;
    &-available {
      background-color: #1bb393;
    }
    &-pending {
      background-color: #009ce3;
    }
    &-unavailable {
      background-color: #eb6262;
    }
  }
  &-number {
    margin-left: 4px;
  }
}
