<div 
  class="pods-status"
  [auiTooltip]="tooltipTpl">
  <div class="pods-status-pending" [ngStyle]="{flex: pods.pending}"></div>
  <div class="pods-status-available" [ngStyle]="{flex: pods.available}"></div>
  <div class="pods-status-unavailable" [ngStyle]="{flex: pods.unavailable}"></div>
</div>
<div class="pods-number">{{ pods.desired }}</div>